<div class = "controls">	
	<button
		class 		= "sort"
		ng-class	= "{'icon-interface-arrow-down': open != 'sort', 'icon-interface-arrow-up': open == 'sort'}"
		ng-click 	= "toggleSortPanel()" 
	>
		sortieren
	</button>

	<button
		class 		= "sort"
		ng-class	= "{'icon-interface-arrow-down': open != 'filter', 'icon-interface-arrow-up': open == 'filter'}"<
		ng-click 	= "toggleFilterPanel()" 
	>
		filtern
	</button>
</div>

<div 
	class 	= "panel sort"
	ng-show = "open == 'sort'" 
>
	<a 
		ng-class 	= "{active : icSite.params.so == 'a'}"
	> 
		A-Z
	</a>

	<a 
		ng-class 	= "{active : icSite.params.so == 'n'}"
		class 		= "disabled"
	> 
		Neuste
	</a>

	<a 
		ng-class 	= "{active : icSite.params.so == 'b'}"		
		class 		= "disabled"
	> 
		Am häufigsten gemerkt
	</a>

	<a 
		ng-class 	= "{active : icSite.params.so == 'l'}"
		class 		= "disabled"
	> 
		Nähe zum Standort
	</a>

</div>


<div 
	class 	= "panel filter"
	ng-show	= "open == 'filter'" 
>


	<a 
		ng-class	= "{'icon-interface-arrow-right': !expand.topics, 'icon-interface-arrow-down': expand.topics}" 
		ng-click 	= "expand.topics = !expand.topics"
	>
		Themen
	</a>

	<div ng-show = "expand.topics">
		<a 
			ng-click 	= "icFilterConfig.clearFilter('topic')" 
			ng-class 	= "{'icon-interface-checkbox-selected' : icFilterConfig.matchFilter('topic', false), 'icon-interface-checkbox': !icFilterConfig.matchFilter('topic', false)}"
		>
			ALL
		</a>
		<a 
			ng-repeat 	= "topic in icConfigData.topics | orderBy : 'ontology_uri'"
			ng-click 	= "icFilterConfig.toggleFilter('topic', topic.ontology_uri)" 
			ng-class 	= "{'icon-interface-checkbox-selected' : icFilterConfig.matchFilter('topic', topic.ontology_uri), 'icon-interface-checkbox': !icFilterConfig.matchFilter('topic', topic.ontology_uri)}"
		>
			{{topic.ontology_uri | uppercase}}
		</a>
	</div>


</div>
