
<ic-unavailable ng-if ="!loading && !item.title"></ic-unavailable>

<ic-spinner active = "loading"></ic-spinner>

<div ng-if ="item.title">
	<h2 class = "title">{{ item.title }}</h2>
	<h3 class = "definition"> {{ item.definition[language] }}</h3>
	<div class = "topics">
		<a 
			ng-repeat 	= "topic in item.topics"
			class		= "highlight"
		>
			{{topic | uppercase | prepend : "TOPICS." | translate}} {{$last ? '' : ','}}
		</a>
	</div>

	<img ng-if = "item.imageUrl" ng-src = "{{item.imageUrl}}"/>
	<p>
		{{item.description[language]}}
	</p>


	<ic-info-tag
		ng-repeat	= "key in ['address', 'phone', 'email', 'website']"
		ng-if		= "item[key]"
		ic-title 	= "'ITEM_INFO_'+key"
		ic-content	= "item[key]"
		ic-icon		= "'images/icon_'+key+'.svg'"
	>
	</ic-info-tag>

	<ic-info-tag
		ng-repeat	= "key in ['name', 'phone', 'email']"
		ng-if		= "item.contacts && item.contacts[key]"
		ic-title 	= "'ITEM_INFO_'+key"
		ic-content	= "item.contacts[key]"
		ic-icon		= "'images/icon_'+key+'.svg'"
	>
	</ic-info-tag>
</div>
