<ic-unavailable ng-if ="!loading && !item"></ic-unavailable>

<article ng-if = "item">
	<h2 ng-if = "item.state == 'new' && icUser.can('add_new_items')"> 		{{ 'INTERFACE.ADD_NEW_ITEM'		| translate }}</h2>
	<h2 ng-if = "item.state == 'new' && icUser.can('suggest_new_items')"> 	{{ 'INTERFACE.SUGGEST_NEW_ITEM'	| translate }}</h2>

	<div ng-if = "icUser.can(edit_items)" class = "last-edit"> {{'INTERFACE.LAST_EDIT' | translate}}: {{item.lastEdit | icDate}}</div>

	<ic-spinner active = "loading"></ic-spinner>


	<!-- start item title -->

	<h2 
		class 	= "title"
		ng-if	= "!editMode"
	>
		<span class = "iblock">
			{{ item.title }}
		</span>

		<span 
			class = "state iblock"
			ng-if = "icUser.can('edit_items') && item.state"
		>
			[ {{item.state | uppercase | prepend : 'INTERFACE.ITEM_STATE_' | translate}} ]
		</span>
	</h2>

	<ic-item-edit-property
		ng-if 					= "editMode"
		ic-type 				= "string"
		ic-key					= "title"
		ic-item					= "item"
		ic-translatable			= "false"
	></ic-item-edit-property>

	<div
		ng-if = "editMode && itemEdit.title"
	>
		<div
			ng-repeat 	= "title in icConfigData.titles"
			ng-if		= "(item.title | stripSpecialChars) != (itemEdit.title | stripSpecialChars) && (title | stripSpecialChars) == (itemEdit.title | stripSpecialChars)"
			
		>
			{{'INTERFACE.POSSIBLE_ITEM_DUPLICATE' | translate}}: {{title}}
		</div>
	</div>

	<!-- end item title -->




	<!-- start item definition -->

	<h3 
		class 	= "definition"
		ng-if	= "!editMode"
	> {{ item.definition[language] }}</h3>


	<ic-item-edit-property
		ng-if 					= "editMode"
		ic-type 				= "string"
		ic-key					= "definition"
		ic-item					= "item"
		ic-translatable			= "true"
	></ic-item-edit-property>

	<!-- end item definition -->






	<!-- start type -->

	<div class 	= "type">
		<div>{{"TYPES.%s" | fill : item.type | translate}}</div>
	</div>
	

	<ic-item-edit-property
		ng-if					= "editMode"
		ic-type					= "string"
		ic-options				= "::icConfigData['types']"
		ic-option-label			= "option | uppercase | prepend : 'TYPES.' | translate"
		ic-key					= "type"
		ic-item					= "item"
	></ic-item-edit-property>

	<!-- end type -->




	<!-- start topic and targets groups -->


	<div 
		class 	= "topics-and-target-groups highlight"
		ng-if	= "!editMode"
	>
		<a 
			ng-repeat 	= "topic in item.topics"
			class		= "highlight"
			ng-href		= "/#/tp/{{topic}}"
		>{{topic | uppercase | prepend : "TOPICS." | translate }}</a>
		<a 
			ng-repeat 	= "target_group in item.targetGroups"
			class		= "highlight"
			ng-href		= "/#/tg/{{target_group}}"
		>{{target_group | uppercase | prepend : "TARGET_GROUPS." | translate }}</a>

		<img 
			ng-src 		= "/images/icon_topic_{{item.primaryTopic}}_black.svg" 
		/>
	</div>

		
	<ic-item-edit-property
		ng-if					= "editMode"
		ic-type					= "array"
		ic-options				= "::icConfigData['topics']"
		ic-option-label			= "option | uppercase | prepend : 'TOPICS.' | translate"
		ic-key					= "topics"
		ic-item					= "item"
	></ic-item-edit-property>


	<ic-item-edit-property
		ng-if					= "editMode"
		ic-type					= "string"
		ic-options				= "itemEdit.topics"
		ic-option-label			= "option | uppercase | prepend : 'TOPICS.' | translate"
		ic-key					= "primaryTopic"
		ic-item					= "item"
	></ic-item-edit-property>
	

	<ic-item-edit-property
		ng-if					= "editMode"
		ic-type					= "array"
		ic-options				= "::icConfigData['targetGroups']"
		ic-option-label			= "option | uppercase | prepend : 'TARGET_GROUPS.' | translate"
		ic-key					= "targetGroups"
		ic-item					= "item"
	></ic-item-edit-property>



	<!-- end topic and targets groups -->



	<!-- start image -->

	<img
		class		= "hero" 
		ng-show		= "!editMode && item.imageUrl && !fallback" 
		ng-src 		= "{{item.imageUrl}}"
		ic-error	= "fallback = true" 
	/>

	<div
		ng-show = "!editMode && icUser.can('edit_items')&& item.imageUrl && fallback" 
		class 	= "fallback"
		title 	= "{{'INTERFACE.UNABLE_TO_LOAD_IMAGE' | translate }}"
	>
	</div>

	<ic-item-edit-property
		ng-if 					= "editMode"
		ic-type 				= "string"
		ic-key					= "imageUrl"
		ic-item					= "item"
		ic-translatable			= "false"
	></ic-item-edit-property>

	<!-- end image -->






	<!-- start item description -->


	<p 
		ng-if 			= "!editMode"
		ng-bind-html 	= "item.description[language]"
		class			= "description"
	>
	</p>


	<ic-item-edit-property
		ng-if 					= "editMode"
		ic-type 				= "text"
		ic-key					= "description"
		ic-item					= "item"
		ic-translatable			= "true"
	></ic-item-edit-property>

	<!-- end item description -->



	<hr/>




	<!-- start adress -->

	<ic-info-tag
		ng-if			= "item.address && !editMode"
		ic-title 		= "'INTERFACE.ITEM_ADDRESS' | translate"
		ic-content		= "item.address"
		ic-extra-lines	= "[(item.zip||'') + ' ' + (item.location||'')]"
		ic-icon			= "'address'| icIcon : 'item' : 'black'"
	>
	</ic-info-tag>


	<ic-item-edit-property
		ng-if 					= "editMode"
		ic-type 				= "string"
		ic-key					= "address"
		ic-item					= "item"
		ic-translatable			= "false"
	></ic-item-edit-property>

	<ic-item-edit-property
		ng-if 					= "editMode"
		ic-type 				= "string"
		ic-key					= "zip"
		ic-item					= "item"
		ic-translatable			= "false"
	></ic-item-edit-property>

	<ic-item-edit-property
		ng-if 					= "editMode"
		ic-type 				= "string"
		ic-key					= "location"
		ic-item					= "item"
		ic-translatable			= "false"
	></ic-item-edit-property>



	<!-- end address -->




	<!-- start geo coordinates -->

	<ic-info-tag
		ng-if			= "item.longitude && item.latitude && !editMode"
		ic-title 		= "'INTERFACE.ITEM_GEO_COORDINATES' | translate"
		ic-content		= "item.longitude + '/' +item.latitude"
		ic-icon			= "'geo_coordinates'| icIcon : 'item' : 'black'"
		ic-link			= "'https://www.openstreetmap.org/#map=19/'"
	>
	</ic-info-tag>


	<!-- end geo coordinates -->



	<!-- star Start Date -->

	<ic-item-edit-property
		ng-if 					= "editMode"
		ic-type 				= "string"
		ic-key					= "startDate"
		ic-item					= "item"
		ic-translatable			= "false"
	></ic-item-edit-property>

	<!-- end Start Date -->



	<!-- start misc -->

	<ic-info-tag
		ng-repeat-start	= "key in ['name', 'website', 'email', 'phone', 'facebook', 'twitter', 'price', 'maxParticipants']"
		ng-if		= "item[key] && !editMode"
		ic-title 	= "key | uppercase | prepend: 'INTERFACE.ITEM_' | translate"
		ic-content	= "item[key]"
		ic-icon		= "key | icIcon : 'item' : 'black'"
		ic-link		= "::key | icLinkPrefix"
	>
	</ic-info-tag>

	<ic-item-edit-property
		ng-repeat-end
		ng-if 					= "editMode"
		ic-type 				= "string"
		ic-key					= "{{key}}"
		ic-item					= "item"
		ic-translatable			= "false"
	></ic-item-edit-property>


	<!-- end misc -->


	<!-- start hours -->

	<ic-info-tag
		ng-if			= "item.hours.length > 0 && !editMode"
		ic-title 		= "'INTERFACE.ITEM_INFO_HOURS' | translate"
		ic-extra-lines	= "item.hours |icHours"
		ic-icon			= "'hours'| icIcon : 'item' : 'black'"
	>
	</ic-info-tag>

	<!-- end hours -->



	<!-- start state -->

	<ic-item-edit-property
		ng-if					= "icUser.can('edit_items') && editMode"
		ic-type					= "string"
		ic-options				= "::['draft', 'published', 'suggestion', 'archived']"
		ic-option-label			= "'INTERFACE.ITEM_STATE_%s' | fill : option | translate"
		ic-key					= "state"
		ic-item					= "item"
	></ic-item-edit-property>




	<!-- end state -->



	<hr ng-if = "!editMode"/>


	<qrcode 
		ng-if					=	"!editMode"
		version					=	"3" 
		error-correction-level	=	"M" 
		size					=	"200" 
		data					=	"{{item.id | icItemLink}}"
		ng-if					=	"item"
		ic-toggle-overlay		=	"qrcode"
	>
	</qrcode>

	<div class ="link-to-item">
		{{item.id | icItemLink}}
	</div>

	<hr ng-if = "!editMode"/>

	<!-- Suggestion comment -->

	<h4 ng-show = "(icUser.can('suggest_new_items') || icUser.can('suggest_item_edits')) && editMode">{{ 'INTERFACE.COMMENT_SUGGESTION' | translate }}</h4>
	<textarea
		ng-show 	= "(icUser.can('suggest_new_items') || icUser.can('suggest_item_edits')) && editMode"
		ng-model	= "data.comment"
		rows		= "5"
		ic-auto-grow
	></textarea>
	<div 
		ng-show = "(icUser.can('suggest_new_items') || icUser.can('suggest_item_edits')) && editMode"
		class 	= "annotation"
	>
		{{'INTERFACE.ITEM_COMMENT_REQUIREMENT' | translate}}
	</div>

	<div class = "logo">
		<ic-text-logo></ic-text-logo> Berlin
	</div>
</article>






<footer ng-if = "item">
	<div class = "tools">
		<a 
			ng-click 	= "print()"
			ng-if		= "!editMode"
			class		= "icon-interface-print"
			ic-touch-me
		>	
			{{'INTERFACE.PRINT' | translate}}		
		</a>

		<a 
			ng-if				= "!editMode"
			ic-toggle-overlay	= "sharingMenu"
			class				= "icon-interface-share"
			ic-touch-me
		>				
			{{'INTERFACE.SHARE'	| translate}}		
		</a>

		<a 
			ng-click	= "cancelEdit()"
			ng-if		= "editMode"
			class		= "icon-interface-edit"
			ic-touch-me
		> {{'INTERFACE.CANCEL' | translate}} </a>


		<a 
			ng-click	= "edit()"
			ng-show		= "!editMode"
			class		= "icon-interface-edit"
			ic-touch-me
		> {{'INTERFACE.EDIT' | translate}} </a>


		<a
			ng-click	= "delete()"
			ng-show		= "icUser.can('delete_items') && !editMode"
			class		= "icon-interface-delete"
			ic-touch-me
		> {{'INTERFACE.DELETE' | translate }}</a>


		<!-- submit -->

		<a 
			ng-click	= "submitItemEdits()"
			ng-if		= "item.state != 'new' && icUser.can('edit_items') && editMode"
			class		= "icon-interface-save"
			ic-touch-me
		> {{'INTERFACE.SUBMIT_ITEM_EDITS' | translate}} </a>


		<a 
			ng-click	= "submitNewItem()"
			ng-if		= "item.state == 'new' && icUser.can('add_new_items') && editMode"
			class		= "icon-interface-save"
			ic-touch-me
		> {{'INTERFACE.SUBMIT_NEW_ITEM' | translate}} </a>



		<!-- Suggestion -->


		<a 
			ng-click	= "submitEditSuggestions()"
			ng-if		= "item.state != 'new' && icUser.can('suggest_item_edits') && editMode"
			class		= "icon-interface-save"
			ic-touch-me
		> {{'INTERFACE.SUBMIT_EDIT_SUGGESTIONS' | translate}} </a>

		<a 
			ng-click	= "submitItemSuggestion()"
			ng-if		= "item.state == 'new' && icUser.can('suggest_new_items') && editMode"
			class		= "icon-interface-save"
			ic-touch-me
		> {{'INTERFACE.SUBMIT_ITEM_SUGGESTION' | translate}} </a>



	</div>
</footer>
