<ic-unavailable ng-if ="!loading && !item.title"></ic-unavailable>

<ic-spinner active = "loading"></ic-spinner>


<div ng-if ="item.title">



	<!-- start item title -->

		<h2 
			class 	= "title"
			ng-if	= "!editMode"
		>{{ item.title }}</h2>

		<ic-item-edit
			ng-if 					= "editMode"
			ic-type 				= "string"
			ic-label				= "{{'INTERFACE_ITEM_TITLE' | translate}} (restrictions...)"
			ic-key					= "title"
			ic-item					= "item"
			ic-translatable			= "false"

		></ic-item-edit>

	<!-- end item title -->


	<!-- start item definition -->

		<h3 
			class 	= "definition"
			ng-if	= "!editMode"
		> {{ item.definition[language] }}</h3>

		
		<ic-item-edit
			ng-if 					= "editMode"
			ic-type 				= "string"
			ic-key					= "definition"
			ic-label				= "{{'INTERFACE_ITEM_DEFINITION' | translate}} (restrictions...)"
			ic-item					= "item"
			ic-translatable			= "true"
		></ic-item-edit>

	<!-- end item definition -->



	<div class = "topics-and-target-groups highlight">
		<a 
			ng-repeat 	= "topic in item.topics"
			class		= "highlight"
			ng-href		= "/#/tp/{{topic}}"
		>{{topic | uppercase | prepend : "TOPICS." | translate }}</a>
		<a 
			ng-repeat 	= "target_group in item.targetGroups"
			class		= "highlight"
			ng-href		= "/#/tg/{{target_group}}"
		>{{target_group | uppercase | prepend : "TARGET_GROUPS." | translate }}</a>
	</div>

	<img
		class	= "hero" 
		ng-if 	= "item.imageUrl" 
		ng-src 	= "{{item.imageUrl}}"
	/>




	<!-- start item description -->


	<p nng-if = "!editMode">
		{{item.description[language]}}
	</p>

	<ic-item-edit
		ng-if 					= "editMode"
		ic-type 				= "text"
		ic-key					= "description"
		ic-label				= "{{'INTERFACE_ITEM_DESCRIPTION' | translate}} (restrictions...)"
		ic-item					= "item"
		ic-translatable			= "true"
	></ic-item-edit>

	<!-- end item description -->





	<ic-info-tag
		ng-if			= "item.address"
		ic-title 		= "'INTERFACE.ITEM_INFO_ADDRESS' | translate"
		ic-content		= "item.address"
		ic-extra-lines	= "[item.zip + ' ' +item.location]"
		ic-icon			= "'address'| icIcon : 'item' : 'black'"
	>
	</ic-info-tag>


	<ic-info-tag
		ng-repeat	= "key in ['phone', 'email', 'website']"
		ng-if		= "item[key]"
		ic-title 	= "key | uppercase | prepend: 'INTERFACE.ITEM_INFO_' | translate"
		ic-content	= "item[key]"
		ic-icon		= "key | icIcon : 'item' : 'black'"
	>
	</ic-info-tag>

	<ic-info-tag
		ng-repeat	= "(key, content) in item.contacts"
		ic-title 	= "key | uppercase | prepend: 'INTERFACE.ITEM_INFO_' | translate"
		ic-content	= "content"
		ic-icon		= "key | icIcon : 'item' : 'black'"
	>
	</ic-info-tag>

	<qrcode 
		version					=	"3" 
		error-correction-level	=	"M" 
		size					=	"200" 
		data					=	"{{linkToItem}}"
		ng-if					=	"item"
	>
	</qrcode>


	<footer>
		<div class = "tools">
			<a class = "icon-interface-print highlight">	{{'INTERFACE.PRINT' | translate}}		</a>
			<a class = "icon-interface-share highlight">	{{'INTERFACE.SHARE'	| translate}}		</a>
			<a 
				class 		= "icon-interface-edit  highlight"
				ic-click	= "edit()"
			> {{'INTERFACE.EDIT' | translate}} </a>
		</div>
	</footer>
</div>