	<button
		type				= "button"	
		class 				= "icon-nav-menu fleft"
		ic-toggle-overlay 	= "mainMenu" 
		ng-if				= "icMenu"
		ic-touch-me	
	></button>
	

	<button
		type				= "button"
		class				= "icon-interface-close fleft"
		ng-if				= "icCloseItem"
		ng-click			= "icSite.clearItem()"
		ic-touch-me	
	></button>



	<button 
		type				= "button"
		class 				= "icon-interface-share highlight"
		ng-if				= "icShare"
		ic-touch-me	
		disabled
	></button>
	
	<button 
		type				= "button"
		class 				= "icon-interface-print highlight"
		ng-if				= "icPrint"
		ng-click			= "print()"
		ic-touch-me	
	></button>

	<button 
		type				= "button"
		class 				= "icon-nav-language"
		ng-if				= "icLanguages"
		ic-toggle-overlay 	= "languageMenu" 
		ic-touch-me	
	></button>

<!-- 	<button 
		type				= "button"
		class 				= "icon-nav-search"
		ic-toggle-overlay 	= "search"
		ng-show				= "!icSite.show('item')"
	></button> -->
