<h2>
	{{"INTERFACE.CHOOSE_LANGUAGE" | translate}}
</h2>


<a 
	ng-repeat 	= "language in ::icLanguageConfig.availableLanguages"
	ng-click	= "icLanguageConfig.currentLanguage = language"
>
	<div 
		ng-class 	= "{'highlight': icLanguageConfig.currentLanguage == language}"		
	>
		<span class = "native">{{"LANGUAGES."+language.toUpperCase()+".NATIVE" | translate}}</span>
		<span 
			ng-if = "icLanguageConfig.currentLanguage != language"
			class = "translation small light"
		>
				{{"LANGUAGES."+language.toUpperCase()+".NAME" | translate}}
		</span>
	</div>
</a>