<!--


 --><section 
		class   = "page"
		ng-if   = "icSite.show('page')"
	>
		<div ng-include = "icSite.pageUrl"></div>
	</section><!--


 --><section 
		class	= "filter"    
		ng-if	= "icSite.show('filter')"
	>
		<ic-section-filter></ic-section-filter>
	</section><!--


 --><section 
		class   = "list"  
		ng-if   = "icSite.show('list')"
		fake-scroll-bump
	>
		<ic-section-list
			ic-show-filter  =   "smlLayout.mode.name == 'XS' || (smlLayout.mode.name == 'M' && icSite.show('item'))" 
		></ic-section-list>
	</section><!--


	 <ic-horizontal-swipe-list-x
		ic-model-as = "icId"
		ic-previous = "icSearchResults.getPreviousId(icModel)"
		ic-current  = "icSite.params.item"
		ic-next     = "icSearchResults.getNextId(icModel)"
		ic-on-turn  = "icSite.addItemToPath(icModel)"
	>
--><section 
		class   = "item" 
		ng-if   = "icSite.show('item')"
	>                   
		<ic-header
			ng-if 			= "icSite.useLocalHeader('item')"
			ic-close-item	= "true"
			ic-share		= "true"
			ic-print		= "true"
		>
		</ic-header>
		<ic-section-item></ic-section-item>
	</section><!--
	 </ic-horizontal-swipe-list>
	 -->

