<h2>
	{{"INTERFACE.CHOOSE_LANGUAGE" | translate}}
</h2>


<a 
	ng-repeat 	= "language in ::icLanguageConfig.availableLanguages"
	ng-click	= "icLanguageConfig.currentLanguage = language"
	ng-class 	= "{'highlight active': icLanguageConfig.currentLanguage == language}"	
	ic-touch-me	
>
	<span 
		ng-if = "icLanguageConfig.currentLanguage != language"
		class = "translation light"
	>
			{{"LANGUAGES."+language.toUpperCase()+".NAME" | translate}}
	</span>
	<span class = "native">{{"LANGUAGES."+language.toUpperCase()+".NATIVE" | translate}}</span>
</a>