<h1
	ic-home
	ic-toggle-overlay 
	class	= "logo pointer"
>
	<ic-text-logo></ic-text-logo>
</h1>

<ic-search				
	class 				= "white right"
	ic-on-update		= "icSite.clearItem(); icFilterConfig.clearFilter();icOverlays.toggle('mainMenu');"
></ic-search>


<a 
	ic-home
	ic-toggle-overlay 
	ic-touch-me
>
	Home
</a>

<div>
	<a 
		ng-repeat 	= "type in ::icConfigData.types"
		ng-href		= "/t/{{::type}}"
		ng-click 	= "icOverlays.toggle()" 
		ic-touch-me
	>
		<span 
			class 		= "icon"
			style		= "background-image: url({{::type | icIcon : 'type' : 'color'}});"
		>		
		</span><!--
	 --><div>
			{{type | uppercase | prepend : "TYPES." | translate}}
		</div>
	</a>
</div>




<!-- topics -->



<a
	ng-click 	= "expand.topics = !expand.topics"
	ng-class	= "{'icon-interface-arrow-up': expand.topics, 'icon-interface-arrow-down': !expand.topics}"
	class	 	= "expand "
	ic-touch-me
>
	{{"INTERFACE.TOPICS" | translate}}
</a>

<div ng-show = "expand.topics">
	<a 
		ng-repeat 	= "topic in ::icConfigData.topics"
		ng-href		= "/tp/{{::topic}}"
		ng-click 	= "icOverlays.toggle()" 		
		ic-touch-me
	>
		<span 
			class 		= "icon"
			style		= "background-image: url({{::topic | icIcon : 'topic' : 'black'}});"
		><!--
	 --></span>
		{{topic | uppercase | prepend : "TOPICS." | translate}}
	</a>
</div>







<a 
	ic-toggle-overlay	 = "about"
	ic-touch-me
>
	{{'INTERFACE.ABOUT' | translate}}
</a>




<a 
	ng-if 		= "icUser.authToken" 
	class 		= "xjust"
	ng-click 	= "logout()" 
	ic-touch-me
><span>{{icUser.name}}</span>  <span>{{'INTERFACE.LOGOUT' | translate}}</span></a>




<a 
	ng-if 				= "!icUser.authToken"
	ic-toggle-overlay 	= "login"
	ic-touch-me
>
	{{'INTERFACE.LOGIN' | translate}}
</a>









<a 
	ng-click 		= "addNewItem(); icSite.addItemToPath(newItemId)"
	ic-toggle-overlay
	ic-touch-me
>
	<span ng-if = "icUser.can('suggest_new_items')">	{{ 'INTERFACE.SUGGEST_NEW_ITEM'	| translate}} </span>
	<span ng-if = "icUser.can('add_new_items')"> 		{{ 'INTERFACE.ADD_NEW_ITEM' 	| translate}} </span>
</a>



<a
	ng-if	= "icUser.can('edit_items')"
	ng-href = "/st/draft"
	ic-toggle-overlay
	ic-touch-me
>
	{{'INTERFACE.DRAFT_ITEMS' | translate}}
</a>

<a
	ng-if	= "icUser.can('edit_items')"
	ng-href = "/st/suggestion"
	ic-toggle-overlay
	ic-touch-me
>
	{{'INTERFACE.SUGGESTED_ITEMS' | translate}}
</a>

<a
	ng-if	= "icUser.can('edit_items')"
	ng-href = "/st/archived"
	ic-toggle-overlay
	ic-touch-me
>
	{{'INTERFACE.ARCHIVED_ITEMS' | translate}}
</a>
