<h2>
	<a
		ic-home
		ic-toggle-overlay 
	>
	<ic-text-logo></ic-text-logo>
	</a>
</h2>

<ic-search				
	class 				= "white right"
	ic-on-update		= "icSite.clearItem(); icFilterConfig.clearFilter();icOverlays.toggle('mainMenu');"
></ic-search>


<a 
	ic-home
	ic-toggle-overlay 
	ic-touch-me
>
	Home
</a>

<a 
	ng-repeat 	= "type in ::icConfigData.types"
	ng-href		= "/t/{{::type}}"
	ng-click 	= "icOverlays.toggle()" 
	ic-touch-me
>
	<span 
		class 		= "icon"
		style		= "background-image: url({{::type | icIcon : 'type' : 'color'}});"
	>		
	</span>
	<div>
		{{type | uppercase | prepend : "TYPES." | translate}}
	</div>
</a>


<a
	ng-click 	= "expand.topics = !expand.topics"
	ng-class	= "{'icon-interface-arrow-down': expand.topics, 'icon-interface-arrow-right': !expand.topics}"
	class	 	= "expand "
	ic-touch-me
>
	{{"INTERFACE.TOPICS" | translate}}
</a>

<div ng-show = "expand.topics">
	<a 
		ng-repeat 	= "topic in ::icConfigData.topics"
		ng-href		= "/tp/{{::topic}}"
		ng-click 	= "icOverlays.toggle()" 		
		ic-touch-me
	>
		<span 
			class 		= "icon"
			style		= "background-image: url({{::topic | icIcon : 'topic' : 'black'}});"
		>		
		</span>
		{{topic | uppercase | prepend : "TOPICS." | translate}}
	</a>
</div>

<a 
	ng-if 		= "icUser.authToken" 
	class 		= "xjust"
	ng-click 	= "logout()" 
><span>{{icUser.name}}</span>  <span>{{'INTERFACE.LOGOUT' | translate}}</span></a>

<a 
	ng-if 				= "!icUser.authToken"
	ic-toggle-overlay 	= "login"
	ic-touch-me
>
	{{'INTERFACE.LOGIN' | translate}}
</a>


<a 
	ng-click 		= "addNewItem()"
	ng-href			= "/item/{{newItemId}}"
	ic-toggle-overlay
	ic-touch-me
>
	<span ng-if = "icUser.can('suggest_new_items')">	{{ 'INTERFACE.SUGGEST_NEW_ITEM'	| translate}} </span>
	<span ng-if = "icUser.can('add_new_items')"> 		{{ 'INTERFACE.ADD_NEW_ITEM' 	| translate}} </span>
</a>

<!-- 
<a
	ng-if		= "icItemCreation.items.length > 0"
	ng-click 	= "expand.newItems = !expand.newItems"
	ng-class	= "{'icon-interface-arrow-down': expand.newItems, 'icon-interface-arrow-right': !expand.newItems}"
	class	 	= "expand "
	ic-touch-me
>
	{{'INTERFACE.NEW_ITEM_LIST' | translate}}
</a>

<div ng-show = "expand.newItems">
	<a
		ng-repeat	= "item in icItemCreation.items"
		ng-href		= "{{ {item : item.id} | icAddParameters }}"
		ic-toggle-overlay
		ic-touch-me
	>{{item.title || item.id}}</a>
</div> -->
