<h2>
	<ic-text-logo></ic-text-logo>
</h2>

<ic-search				
	class 				= "white right"
	ic-on-update 		= "icOverlays.toggle('mainMenu')" 
></ic-search>


<a 
	ng-href		= "/"
	ng-click 	= "icOverlays.toggle()" 
>
	Home
</a>

<a 
	ng-repeat 	= "type in ::icConfigData.types"
	ng-href		= "/#t/{{type}}"
	ng-click 	= "icOverlays.toggle()" 
>
	<span 
		class 		= "icon"
		style		= "background-image: url({{::type | icIcon : 'color'}});"
	>		
	</span>
	<div>
		{{type | uppercase | prepend : "TYPES." | translate}}
	</div>
</a>


<a
	ng-click 	= "expand.topics = !expand.topics"
	ng-class	= "{'icon-interface-arrow-down': expand.topics, 'icon-interface-arrow-right': !expand.topics}"
	class	 	= "expand "
>
	{{"INTERFACE.TOPICS" | translate}}
</a>

<div ng-show = "expand.topics">
	<a 
		ng-repeat 	= "topic in ::icConfigData.topics"
		ng-href		= "/#tp/{{topic}}"
		ng-click 	= "icOverlays.toggle()" 		
	>
		<span 
			class 		= "icon"
			style		= "background-image: url({{::topic | icIcon : 'black'}});"
		>		
		</span>
		{{topic | uppercase | prepend : "TOPICS." | translate}}
	</a>
</div>


<a 
>
	MERKLISTE
</a>



<a 
>
	BEITRAG ERSTELLEN
</a>



<a 
>
	ABOUT
</a>



<a 
>
	LOGIN
</a>