
<ic-language-menu 		ng-class = "{'ic-hide': !icOverlays.show.languageMenu}" 	class = "white right">	</ic-language-menu>	
<ic-main-menu			ng-class = "{'ic-hide': !icOverlays.show.mainMenu}"			class = "white left">	</ic-main-menu>

<ic-search				
	ng-class 			= "{'ic-hide':!icOverlays.show.search}"
	class 				= "white right"
	ic-on-update 		= "icOverlays.toggle('search')" 
></ic-search>


<ic-login 
	ng-if = "icOverlays.show.login" 
	class = "white center"
></ic-login>


<div 
	class 				=	"qrcode black full"
	ic-toggle-overlay	=	"qrcode"
	ng-if				=	"icOverlays.show.qrcode"
>
	<qrcode 
		version					=	"3" 
		error-correction-level	=	"M" 
		size					=	"200" 
		data					=	"{{icSite.params.item | icItemLink}}"
	>
	</qrcode>
	<div>{{icSite.params.item | icItemLink}}</div>
</div>
