<form
	ng-submit = "update()"
>

	<div class = "search-term"> 
		<input
			id					= "search-term" 			
			tabindex			= "1"
			type 				= "text" 
			ng-model 			= "searchTerm"
			placeholder			= "{{'INTERFACE.SEARCH' | translate }}"
		>
		</input>
		<button 
			class 	= "icon-nav-search"
			type	= "submit"	 
		>
		</button>
	</div>

	<!-- <div 
		class 	= "auto-suggest"
		ng-if	= "searchTerm.length > 2"
	>
		<a
			ng-repeat 		= "title in icTitles | filter : searchTerm | limitTo: 5 track by $index"		
			ng-mousedown  	= "setSearchTerm(title)"
			ng-if 			= "title != searchTerm" 
		>
			{{title}}
		</a>
	</div> -->

</form>