<form
	ng-submit = "update()"
>

	<input 
		id					= "search-term"
		tabindex			= "1"
		type 				= "text" 
		ng-model 			= "searchTerm"
	>
	</input>

	<div class = "tags">

		<!--TYPES -->
		<a 	
			ng-if		= "icFilterConfig.filterBy.type"
			ng-click  	= "icFilterConfig.toggleFilter('type', icFilterConfig.filterBy.type)" 
		>
			{{icFilterConfig.filterBy.type | uppercase | prepend: "TYPES." |translate}}
			<span class ="icon icon-nav-close"></span>
		</a>

		<!--TOPICS -->
		<a 	
			ng-repeat = "topic in icFilterConfig.filterBy.topic"
			ng-click  = "icFilterConfig.toggleFilter('topic', topic)" 
		>
			{{topic | uppercase | prepend: "TOPICS." |translate}}
			<span class ="icon icon-nav-close"></span>
		</a>


		<!--TARGET_GROUPS -->
		<a ng-repeat = "targetGroup in icFilterConfig.filterBy.targetGroup"
			ng-click  = "icFilterConfig.toggleFilter('targetGroup', targetGroup)" 
		>
			{{targetGroup | uppercase | prepend: "TARGET_GROUPS." |translate}}
			<span class ="icon icon-nav-close"></span>
		</a>

	</div>

	<div 
		class 	= "auto-suggest"
		ng-if	= "searchTerm.length > 2"
	>
		<a
			ng-repeat 		= "title in icTitles | filter : searchTerm | limitTo: 5 track by $index"		
			ng-mousedown  	= "setSearchTerm(title)"
			ng-if 			= "title != searchTerm" 
		>
			{{title}}
		</a>
	</div>

</form>