* {
	-webkit-font-smoothing: 	antialiased;
	-moz-osx-font-smoothing: 	grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


html{
	color:					#444;
}


/*loading screen */

ic-loading-screen{
	display:				flex;
	position:				fixed;
	top:					0;
	bottom:					0;
	left:					0;
	right:					0;
	font-size:				initial;
	z-index:				999999;	
	background-color:		#fff;
	flex-direction:			column;
	justify-content: 		center;
	align-items:			center;
}

/*ic-loading-screen.ic-hide {
	transition-property:	transform;
	transform:				translateX(-100%);
}
*/
ic-loading-screen .loading {
	text-align:				center;
	font-size:				1.92rem;
	line-height:			1.4em;
	font-family:			sans-serif;
	margin-bottom:			2rem;
	margin-top:				-6rem;
}

ic-loading-screen .progress {
	position:				relative;
	display:				block;
	max-width:				20rem;
	width:					90%;
	height:					0.2rem;
	background-color:		rgba(0,0,0,0.2);
}


ic-loading-screen .progress .current {
	position:				absolute;
	top:					0;
	left:					0;
	bottom:					0;
	background-color:		#000;
	transition:				width 250ms linear;
}

ic-loading-screen.ic-remove {

	transform:				scale(2);	
	opacity:				0;
	transition:				all 350ms ease-in;
	/*
	transform:				translateY(100%);
	transition:				all 350ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
	*/
}


/*ic-spinner*/

ic-spinner,
.ic-spinner {
	position:				relative;
	display:				block;
	width:					1em;
	height:					1em;
	margin:					0 auto;
	overflow:				hidden;
	opacity:				0;
	transition:				opacity 600ms ease-in;
}

ic-spinner.active,
.ic-spinner.active {
	opacity:				1;
}


ic-spinner .foreground,
.ic-spinner .foreground {
	position:				absolute;
	top:					50%;
	left:					50%;
	width:					1em;
	height:					1em;
	margin-top:				-0.5em;
	margin-left:			-0.5em;

	background-image:		url('/images/icons/logo.svg');
	background-size:		1em;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
	z-index:				5;

	animation:				spin 2000ms infinite linear;
	-webkit-animation:		spin 2000ms infinite linear;
}



@keyframes spin {

	0% { 
		transform:			rotate(0deg);
	}

	100% { 
		transform:			rotate(360deg);
	}

}

@-webkit-keyframes spin {

	0% { 
		transform:			rotate(0deg);
	}

	100% { 
		transform:			rotate(360deg);
	}

}

