* {
	-webkit-font-smoothing: 	antialiased;
	-moz-osx-font-smoothing: 	grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


html{
	color:					#444;
}


/*loading screen */

ic-loading-screen{
	display:				block;
	position:				fixed;
	top:					0;
	bottom:					0;
	left:					0;
	right:					0;
	font-size:				initial;
	z-index:				999;	
	background-color:		#fff;
	/*transition-duration:	1000ms;
	transition-timing-function: ease-in;*/
}

/*ic-loading-screen.ic-hide {
	transition-property:	transform;
	transform:				translateX(-100%);
}
*/
ic-loading-screen .loading {
	text-align:				center;
	margin-top:				1em;
	margin-bottom:			1em;
	font-size:				1.92rem;
	line-height:			1.4em;
	font-family:			sans-serif;
}

ic-loading-screen .progress {
	position:				relative;
	display:				block;
	margin:					auto;
	max-width:				20rem;
	width:					90%;
	height:					0.2rem;
	background-color:		rgba(0,0,0,0.2);
}


ic-loading-screen .progress .current {
	position:				absolute;
	top:					0;
	left:					0;
	bottom:					0;
	background-color:		#000;
	transition:				width 250ms linear;
}



/*ic-spinner*/

ic-spinner,
.ic-spinner {
	position:				relative;
	display:				block;
	width:					1em;
	height:					1em;
	margin:					0 auto;
	overflow:				hidden;
	opacity:				0;
	transition:				opacity 600ms ease-in;
}

ic-spinner.active,
.ic-spinner.active {
	opacity:				1;
}


ic-spinner .foreground,
.ic-spinner .foreground {
	position:				absolute;
	top:					50%;
	left:					50%;
	width:					1em;
	height:					1em;
	margin-top:				-0.5em;
	margin-left:			-0.5em;

	background-image:		url('/images/icons/logo.svg');
	background-size:		1em;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
	z-index:				5;

	animation:				spin 2000ms infinite linear;
	-webkit-animation:		spin 2000ms infinite linear;
}



@keyframes spin {

	0% { 
		transform:			rotate(0deg);
	}

	100% { 
		transform:			rotate(360deg);
	}

}

@-webkit-keyframes spin {

	0% { 
		transform:			rotate(0deg);
	}

	100% { 
		transform:			rotate(360deg);
	}

}

