/*loading screen */

ic-loading-screen{
	display:				block;
	position:				fixed;
	top:					0;
	bottom:					0;
	left:					0;
	right:					0;
	font-size:				initial;
	z-index:				999;	
	background-color:		#fff;
	/*transition-duration:	1000ms;
	transition-timing-function: ease-in;*/
}

/*ic-loading-screen.ic-hide {
	transition-property:	transform;
	transform:				translateX(-100%);
}
*/
ic-loading-screen h1 {
	text-align:				center;
	margin-top:				1em;
	margin-bottom:			1em;
	font-size:				1.92rem;
	line-height:			1.4em;
}

ic-loading-screen .progress {
	position:				relative;
	display:				block;
	margin:					auto;
	max-width:				20rem;
	width:					90%;
	height:					0.2rem;
	background-color:		rgba(0,0,0,0.2);
}


ic-loading-screen .progress .current {
	position:				absolute;
	top:					0;
	left:					0;
	bottom:					0;
	background-color:		#000;
	transition:				width 250ms linear;
}

/*

ic-loading-screen .spinner {
	margin:					0 auto;
	margin-top:				2em;
	margin-bottom:			0.5em;
	width:					100%;
	font-size:				3em;
}

ic-loading-screen .ng-hide {
	display:				none;
}

ic-loading-screen .error {
	text-align:				center;
	color:					red;
	width:					95%;
	max-width:				40rem;
	margin:					1rem auto;
}



ic-loading-screen .progress {
	display:				block;
	text-align:				center;
	margin:					4rem 0;
}


ic-loading-screen .progress span {
	display:				inline-block;
	width:					1rem;
	height:					1rem;
	margin:					0 0.1rem;
	vertical-align:			middle;
	background:				#000;
	transition-property:	all;
	transition-duration:	600ms;
	transition-timing-function:	ease-in;
	opacity:				0.15;
	transform:				scale(1.2);
}

ic-loading-screen .progress span.done {
	opacity:				0.5;
	transform:				scale(1);

}

ic-loading-screen .progress span:nth-child(1).done {
	transition-delay:		100ms;
}


ic-loading-screen .progress span:nth-child(2).done {
	transition-delay:		200ms;
}

ic-loading-screen .progress span:nth-child(3).done {
	transition-delay:		300ms;
}


ic-loading-screen .progress span:nth-child(4).done {
	transition-delay:		400ms;
}

ic-loading-screen .progress span:nth-child(5).done {
	transition-delay:		500ms;
}

*/
