:root{
	--primary-color:				#802651;
	--secondary-color:				var(--primary-color);
	--dark-text-color:				#222;	
	--light-text-color:				#fff;
	--plain-text-color:				#666;

	--primary-background-color:		#FFFFFF;
	--secondary-background-color:	#e6e6e6;

	--neutral-color:				#949494;

	--error-color:					red;
}