:root{
	--primary-color:				#802651;
	--dark-text-color:				#222;	
	--light-text-color:				#fff;
	--plain-text-color:				#666;

	--secondary-background-color:	#e6e6e6;
	--primary-backgroud-color:		#FFFFFF;

	--neutral-color:				#949494;
}