

.bg-t {
	background-color:			transparent;
}



.bg-0 {
	background-color:			#fff;
	color:						#222;
}

.bg-0.hover:hover{
	background-color:			#802651;
	color:						#fff !important;
}


.border-0 {
	box-shadow:					0 0 0 0.1rem 0 #fff inset;
}




.bg-1 {
	background-color:			#e6e6e6;
	color:						#666;
}

.bg-1.hover:hover{
	background-color:			#fff;
}



.border-1 {
	box-shadow:					0 0 0 0.1rem #e6e6e6 inset;
}




.bg-2 {
	background-color:			#aaa;
	color:						#000;
}

.bg-2.hover:hover{
	background-color:			#aaa
}




.border-2 {
	box-shadow:					0 0 0 0.1rem hsla(99,48%,60%,1) inset;
}





.bg-3 {
	background-color:			#802651;
	color:						#fff;
}

.bg-3.hover:hover{
	background-color:			#fff;
	color:						#802651;
}


.border-3 {
	box-shadow:					0 0 0 0.1rem #802651 inset;
}






.col-0 {
	color:						#222 !important;
}

.col-1 {
	color:						#666 !important;
}

.col-2 {
	color:						#fff !important;
}

.col-3 {
	color:						#802651 !important;
}




.padding {
	padding:					1rem;
}

.round {
	border-radius:				999rem;
}

.rounded {
	border-radius:				1rem;
}

.large {
	font-size:					1.5rem !important;
}


.round.large{
	width: 						3.5rem;
	height: 					3.5rem;		
}

.shade-light {
	background-color:			rgba(0,0,0,0.1);
	color:						#fff;
}


.shade-dark {
	background-color:			rgba(0,0,0,0.5);
	color:						#fff;
}

.active {
	color:						#802651;
}

.drop-shadow {
	box-shadow:					0 0 0.15em rgba(0,0,0,0.7);
}

.ic-touched {
	filter: 			brightness(75%);
	transform: 			scale(0.95);
}



[disabled],
.disabled {
	opacity:					0.5;
	cursor:						auto;
}

.iblock {
	display:					inline-block !important;
}

.block {
	display:					block !important;
}

.tac {
	text-align:					center;
}

.flex-shrink {
	flex-shrink:				1;
	text-overflow: 				ellipsis;
	white-space:				nowrap;
	overflow:					hidden;
}

.spacer {
	flex:						1 0 0 !important;
}

.bubble {
	display:					inline-block;
	font-size:					0.8em;
	font-family: 				Roboto, sans-serif;
	box-sizing:					border-box;
	padding:					0 0.4em;
	line-height:				1.5em;
	height:						1.5em;
	margin:						-0.25em 0.5em;
	text-align:					center;
	border-radius:				1em;
	min-width:					1.75em;
}



.ic-tag {
	display:					inline-block;
	font-family: 				Roboto, sans-serif;
	background-color:			#99999a;
	color:						#fff;
	padding: 					0.25em 0.75em;
	border-radius: 				0.175em;
	line-height: 				1.25em;
	margin-bottom: 				0.25em;
	margin-right: 				0.5rem;
	font-weight: 				500;
	text-shadow: 				0 0 0.2em rgba(0,0,0,0.25);
	letter-spacing: 			0.02em;
	box-shadow: 				0 0.1em 0.2em rgba(0,0,0,0.15);
	overflow:					hidden;
	white-space: 				nowrap;
	text-overflow:				ellipsis;
	max-width:					100%;
}

