.bg-0 {
	background-color:			#fff;
	color:						#666;
}

.bg-0.hover:hover{
	background-color:			#fff;
}



.bg-1 {
	background-color:			#e6e6e6;
	color:						#666;
}

.bg-1.hover:hover{
	background-color:			#fff;
}




.bg-2 {
	background-color:			hsla(99,48%,60%,1);
	color:						#fff;
}

.bg-2.hover:hover{
	background-color:			hsla(99,28%,38%,1);
}




.bg-3 {
	background-color:			hsla(40,48%,60%,1);
	color:						#fff;
}

.bg-3.hover:hover{
	background-color:			hsla(40,28%,38%,1);
}




.bg-4 {
	background-color:			hsla(0,48%,60%,1);
	color:						#fff;
}

.bg-4.hover:hover{
	background-color:			hsla(0,28%,38%,1);
}





.col-0 {
	color:						#000 !important;
}

.col-1 {
	color:						#666 !important;
}

.col-2 {
	color:						#fff;
}







.round {
	border-radius:				999rem;
}


.large {
	font-size:					1.5rem;
}

.shade-light {
	background-color:			rgba(0,0,0,0.1);
	color:						#fff;
}


.shade-dark {
	background-color:			rgba(0,0,0,0.5);
	color:						#fff;
}

.active {
	color:						#802651;
	font-weight:				600;
}

.drop-shadow {
	box-shadow:					0 0 0.15em rgba(0,0,0,0.7);
}


[disabled],
.disabled {
	opacity:					0.5;
	cursor:						auto;
}

.bubble {
	display:					inline-block;
	box-sizing:						border-box;
	font-size:						0.8em;
	padding:						0 0.5em;
	line-height:					1.6em;
	height:							1.4em;
	margin-right:					0.5em;
	text-align:						center;
	border-radius:					1em;
}

.iblock {
	display:				inline-block;
}
