:root{
	--primary-color:				#802651;
	--dark-text-color:				#222;	
	--light-text-color:				#fff;
	--plain-text-color:				#666;

	--secondary-background-color:	#e6e6e6;
	--primary-backgroud-color:		#FFFFFF;

	--neutral-color:				#949494;
}

.bg-t {
	background-color:			transparent;
}


.bg-neutral {
	background-color:			var(--neutral-color);
	color:						var(--light-text-color);
}


.bg-0 {
	background-color:			var(--primary-backgroud-color);
	color:						var(--dark-text-color)
}

.bg-0.hover:focus,
.bg-0.hover:hover{
	background-color:			var(--primary-color);
	color:						var(--light-text-color) !important;
}


.border-0 {
	box-shadow:					0 0 0 0.1rem var(--primary-backgroud-color) inset;
}




.bg-1 {
	background-color:			var(--secondary-backgroud-color);
	color:						#666;
}

.bg-1.hover:focus,
.bg-1.hover:hover{
	background-color:			var(--primary-backgroud-color);
}



.border-1 {
	box-shadow:					0 0 0 0.1rem var(--secondary-backgroud-color) inset;
}




.bg-2 {
	background-color:			var(--neutral-color);
	color:						#000;
}

.bg-2.hover:focus,
.bg-2.hover:hover{
	/*background-color:			#aaa*/
}




.border-2 {
	box-shadow:					0 0 0 0.1rem hsla(99,48%,60%,1) inset;
}





.bg-3 {
	background-color:			var(--primary-color);
	color:						var(--light-text-color);
}

.bg-3.hover:focus,
.bg-3.hover:hover{
	background-color:			var(--primary-backgroud-color);
	color:						var(--primary-color);
}


.border-3 {
	box-shadow:					0 0 0 0.1rem var(--primary-color) inset;
}



.highlight-links a {
	color:						var(--primary-color)!important;
}



.col-0 {
	color:						var(--dark-text-color) !important;
}

.col-1 {
	color:						var(--plain-text-color) !important;
}

.col-2 {
	color:						var(--light-text-color) !important;
}

.col-3 {
	color:						var(--primary-color) !important;
}




.shade-light {
	background-color:			rgba(0,0,0,0.1);
	color:						var(--light-text-color);
}


.shade-dark {
	background-color:			rgba(0,0,0,0.5);
	color:						var(--light-text-color);
}

.active {
	color:						var(--primary-color);
}

.drop-shadow {
	box-shadow:					0 0 0.15em rgba(0,0,0,0.7);
}


[disabled],
.disabled {
	opacity:					0.5;
	cursor:						auto;
}

