:root{
	--primary-color:			#802651;
	--plain-color:				#979797;
}


.bg-t {
	background-color:			transparent;
}



.bg-0 {
	background-color:			#fff;
	color:						#222;
}

.bg-0.hover:focus,
.bg-0.hover:hover{
	background-color:			var(--primary-color);
	color:						#fff !important;
}


.border-0 {
	box-shadow:					0 0 0 0.1rem #fff inset;
}




.bg-1 {
	background-color:			#e6e6e6;
	color:						#666;
}

.bg-1.hover:focus,
.bg-1.hover:hover{
	background-color:			#fff;
}



.border-1 {
	box-shadow:					0 0 0 0.1rem #e6e6e6 inset;
}




.bg-2 {
	background-color:			#aaa;
	color:						#000;
}

.bg-2.hover:focus,
.bg-2.hover:hover{
	background-color:			#aaa
}




.border-2 {
	box-shadow:					0 0 0 0.1rem hsla(99,48%,60%,1) inset;
}





.bg-3 {
	background-color:			var(--primary-color);
	color:						#fff;
}

.bg-3.hover:focus,
.bg-3.hover:hover{
	background-color:			#fff;
	color:						var(--primary-color);
}


.border-3 {
	box-shadow:					0 0 0 0.1rem var(--primary-color) inset;
}






.col-0 {
	color:						#222 !important;
}

.col-1 {
	color:						#666 !important;
}

.col-2 {
	color:						#fff !important;
}

.col-3 {
	color:						var(--primary-color) !important;
}




.shade-light {
	background-color:			rgba(0,0,0,0.1);
	color:						#fff;
}


.shade-dark {
	background-color:			rgba(0,0,0,0.5);
	color:						#fff;
}

.active {
	color:						var(--primary-color);
}

.drop-shadow {
	box-shadow:					0 0 0.15em rgba(0,0,0,0.7);
}


[disabled],
.disabled {
	opacity:					0.5;
	cursor:						auto;
}

