ic-loading-screen {
	display:				flex;
	position:				fixed;
	top:					0;
	bottom:					0;
	left:					0;
	right:					0;
	font-size:				initial;
	z-index:				999999;	
	background-color:		rgba(255,255,255,1);
	flex-direction:			column;
	justify-content: 		flex-start;
	align-items:			center;
	overflow:				auto;	
}

ic-loading-screen > * {
	box-sizing:				border-box;
	width:					30rem;
	max-width:				100%;	
	background-color:		rgba(255,255,255,1);
	border-radius:			0.25rem;
	border-width:			0.1rem;
	border-style:			solid;
	border-color:			rgba(0,0,0,0);
	margin-top:				4rem;
	margin-bottom:			2rem;
	padding:				1rem;	
	padding-top:			3rem;
	box-shadow:				0 0 0 0 rgba(0,0,0,0);
}


ic-loading-screen .progress-bar{
	display:				flex;
	justify-content: 		center;
}

ic-loading-screen .progress-bar > * {
	background-size:		2rem;
	background-position:	50% 50%;
	width:					3rem;
	height:					3rem;
	border-radius:			100%;
	margin:					0.25rem;
	box-shadow:				0 0 0.5rem 0 rgba(0,0,0,0.2);
	transition:				all ease 500ms;	
	animation:				wave ease 1200ms infinite;
	
}

ic-loading-screen > .loading .progress-bar > * {
}

ic-loading-screen > .ready .progress-bar > * {
	animation-iteration-count: 3;
}




ic-loading-screen > *:not(.styles-ready) .progress-bar > *,
ic-loading-screen > .progress-bar > *:not(.ready) {
	background-color:		rgba(0,0,0,0.4) !important;	
}

ic-loading-screen .progress-bar > *:nth-child(1) {
	animation-delay:		0ms;	
	transition-delay:		300ms;
}

ic-loading-screen .progress-bar > *:nth-child(2) {
	animation-delay:		150ms;
	transition-delay:		600ms;
}

ic-loading-screen .progress-bar > *:nth-child(3) {
	animation-delay:		300ms;
	transition-delay:		900ms;
}

ic-loading-screen .progress-bar > *:nth-child(4) {
	animation-delay:		450ms;
	transition-delay:		1200ms;
}

ic-loading-screen .progress-bar > *:nth-child(5) {
	animation-delay:		600ms;
	transition-delay:		1500ms;
}

ic-loading-screen .progress-bar > *:nth-child(6) {
	animation-delay:		750ms;
	transition-delay:		1800ms;
}


@keyframes wave {

	0%, 25% { 
		transform:			scale(0.9);
	}

	40%{
		transform:			scale(1.15);	
	}


	75%,100% { 
		transform:			scale(0.9);
	}

}


ic-loading-screen ic-consent {
	opacity:  				0; 
}


ic-loading-screen > .ready  ic-consent{
	opacity:				1 !important;
	transition: 			300ms opacity ease-in
}

ic-loading-screen > .ready.consent-confirmation-required {
	transition:				all ease 500ms;
	box-shadow:				0 0 1rem 0 rgba(0,0,0,0.3);
	border-color:			rgba(0,0,0,0.3);	
}


ic-loading-screen h1 {
	text-align:				center;
	margin:					1.5rem auto;
}

ic-loading-screen.ic-remove {
	opacity:				0;
	transition:				all 350ms ease-in;
}

ic-loading-screen.ready {
	background-color:		rgba(255,255,255,0.85);
	transition:				background-color 3000ms linear;
	transition-delay:		1000ms;
}



.XS ic-loading-screen > * {
	margin:					0;
}


/*
ic-loading-screen h2 {
	display:				flex;
	opacity:				0;
	flex-direction:			column;
	justify-content:		center;
	font-size:				1.4rem;
	line-height:			1.6rem;
	height:					6rem;
	margin:					0;
	padding:				0 1rem;
	transition:				all 300ms ease-out;
}

ic-loading-screen.ready h2 {
	opacity:				1 !important;
}

ic-loading-screen h2  > * {
	text-align:				center;
}

ic-loading-screen h2.hidden {
	opacity:				0;
}






ic-loading-screen .loading-indicator {
	box-sizing:				border-box;
	position:				relative;
	padding-bottom:			1rem;
	margin-left:			1rem;
	margin-right:			1rem;
	margin-bottom:			2rem;
}


ic-loading-screen .state {
	position:				relative;
	text-align:				center;
	font-size:				1.92rem;
	font-family:			sans-serif;	
}



ic-loading-screen .state > span {
	position:				absolute;	
	left:					0;
	right:					0;
	top:					100%;
	width:					100%;
	font-size:				1rem;
	margin-top:				0.75rem;
	transition:				all 300ms ease-out;
}


ic-loading-screen .state > span:nth-of-type(1) {
	opacity:				1;
}

ic-loading-screen .state > span:nth-of-type(2) {
	opacity:				0;
	transform:				translateY(-100%);
}

ic-loading-screen .state.ready > span:nth-of-type(1) {
	opacity:				0;
	transform:				translateY(100%);

}

ic-loading-screen .state.ready > span:nth-of-type(2) {
	opacity:				0.5;
	transform:				translateY(0%);
}




ic-loading-screen .progress {
	position:				relative;
	display:				block;
	height:					0.2rem;
	background-color:		rgba(0,0,0,0.2);
}


ic-loading-screen .progress .current {
	position:				absolute;
	top:					0;
	left:					0;
	bottom:					0;
	background-color:		#000;
	transition:				width 300ms ease-out;
}



*/