
.padding {
	padding:					1rem;
}

.XS .padding {
	padding:					1rem 0;
}

.round {
	border-radius:				999rem;
}

.rounded {
	border-radius:				1em;
}

.large {
	font-size:					1.75em !important;
}


.normal {
	font-size:					1rem !important;
}


.round.large{
	width: 						2.5em;
	height: 					2.5em;		
}

.shade-light {
	background-color:			rgba(0,0,0,0.1);
	color:						#fff;
}


.shade-dark {
	background-color:			rgba(0,0,0,0.5);
	color:						#fff;
}

.drop-shadow {
	box-shadow:					0 0 0.15em rgba(0,0,0,0.7);
}


[disabled],
.disabled {
	opacity:					0.5;
	cursor:						auto;
}

.bubble {
	display:					inline-block;
	font-size:					0.8em;
	box-sizing:					border-box;
	padding:					0 0.4em;
	line-height:				1.5em;
	height:						1.5em;
	margin:						-0.25em 0.5em;
	text-align:					center;
	border-radius:				1em;
	min-width:					1.75em;
}



.ic-tag {
	display:					inline-flex;
	background-color:			#99999a;
	color:						#fff;
	padding: 					0.25em 0.75em;
	border-radius: 				0.175em;
	line-height: 				1.25em;
	margin-bottom: 				0.25em;
	margin-right: 				0.5rem;
	font-weight: 				500;
	text-shadow: 				0 0 0.2em rgba(0,0,0,0.25);
	letter-spacing: 			0.02em;
	box-shadow: 				0 0.1em 0.2em rgba(0,0,0,0.15);
	overflow:					hidden;
	white-space: 				nowrap;
	text-overflow:				ellipsis;
	align-items:				center;
}


.ic-tag > * {
	flex:						0 0 auto;
}

