ic-category {
	display:						flex;
	align-items:					flex-start;
}

ic-category .icon {
	flex:							0 0 auto;
	margin:							0 2rem;
}

ic-category .content {
	flex:							1 0 0;
}

ic-category .content h3 {
	margin:							0;
	margin-bottom:					1rem;
	margin-top:						0;
}

ic-category .content ic-tag {
	margin:							0.25em 0.3em;
}

