ic-content {
	display:					flex;
	flex-direction:				row;
	background-color:			#e6e6e6;
	overflow:					hidden !important;
}

ic-content > * {
	padding:					1rem;
	box-sizing:					border-box;
	overflow-y:					scroll;
	overflow-x:					hidden;
	flex-grow:					1;
	height:						100%;
}

