ic-category {
	display:						flex;
	align-items:					flex-start;
}

ic-category .icon-large {
	flex:							0 0 auto;
	margin:							0 2rem;
	width:							3.5rem;
	height:							3.5rem;
}

ic-category .content {
	flex:							1 0 0;
}

ic-category .content h2 {
	margin:							0;
	margin-bottom:					1rem;
}

ic-category .content ic-tag {
	margin:							0.25em 0.3em;
}






.XS ic-item-full > section > * > :nth-child(1){
	padding-right:					0;
	min-width:						4rem;
	text-align:						left;
}

.XS ic-item-full > section .qr-code {
	text-align:						center !important;
}