html,
ic-tag,
ic-page .tiles > * > small,
.bubble
{
	font-family:				Biryani, Roboto, sans-serif;
}

h1,h2,h3,h4,h5,h6,
ic-page p,
ic-page a.boxed,
ic-page .tiles > *,
ic-page p,
ic-page a.boxed
{
	font-family: 				Biryani, Roboto, sans-serif;
}


ic-header ic-main-menu {
	font-family: 				Biryani, Roboto, sans-serif;
}

ic-header ic-main-menu ul > li > ul > li {
	font-family: 				Biryani, Roboto, sans-serif;
}
