/* ic header */


ic-header {
	color:							#fff;
	z-index:						100;
	background-color:				var(--secondary-color);
}


ic-header .tools {
	display:						flex;
	box-sizing:						border-box;
	flex-direction:					row;
	font-size:						1rem;
	align-items:					center;
	height:							3rem;
	width:							100%;
	padding:						0 1rem;
}


ic-header .tools > * {
	display:						inline-block;
	margin:							0;
	flex:							0 0 auto;
	line-height:					3rem;
	height:							3rem;
	padding-right: 					0.5rem;
}

ic-header .tools > * + * {
	margin-right:					0.5rem;
}


ic-header .tools ic-logo-line {
	font-size:						3rem;
}


ic-header .tools > a,
ic-header .tools > button {
	display:						inline-block;
	background-color:				transparent;
	color:							#fff;
}

ic-header .tools a:focus,
ic-header .tools a:hover,
ic-header .tools button:focus,
ic-header .tools button:hover {
	background-color:				transparent;
}


ic-header .tools a span,
ic-header .tools button span {
	display:						block;
	max-width:						100%;
	overflow:						hidden;
}



ic-header .tools ic-search {
	display:						inline-block;
}

ic-header .tools .logo-line {
	display:						none;
}


ic-header .logo {
	display:						flex;
	box-sizing:						border-box;
	flex-direction:					row;
	justify-content:				flex-end;
	align-items:					center;
	height:							10rem;
	padding-right:					0;
	opacity:						1;
	transition:						all 200ms linear;
}

ic-header .logo > a {
	display:						contents;
}

ic-header .logo ic-logo-full {
	font-size:						4rem;
	margin-right:					1.5rem;
	margin-top: 					-1.5rem;
}


ic-header ic-main-menu {
	font-weight: 					600;	
	display:						block;
	box-sizing:						border-box;
	background-color:				rgba(0,0,0,0.2);
	width:							100%;
	line-height:					3rem;
	color:							#fff;
}

ic-header ic-main-menu ul {
	list-style: 					none;
	display:						flex;
	justify-content:				flex-start;
	margin:							0;
	padding:						0;
}

ic-header ic-main-menu > ul > li:last-child {
	margin-right:					1rem;
}

ic-header ic-main-menu > ul > li {
	background-color:				transparent !important;
}

ic-header ic-main-menu ul > li {
	flex:							0 0 auto;
	position:						relative;
	display:						flex;
	align-items:					stretch;
	flex:							0 0 auto;
}

ic-header ic-main-menu ul > li > button,
ic-header ic-main-menu ul > li > a {
	padding:						0 1rem;
	line-height:					inherit !important;
}



ic-header ic-main-menu ul > li > ul {
	display: 						block;
	opacity: 						0;
	pointer-events: 				none;
	left:							0;
	top:							100%;
	position:						absolute;
	box-shadow:						0 0 0.5em rgba(0,0,0,0.5);
}

ic-header ic-main-menu ul > li:focus-within > ul,
ic-header ic-main-menu ul > li:hover > ul {
	opacity: 						1;
	pointer-events: 				all;
}

ic-header ic-main-menu li.spacer + li ul{
	right:							0;
	left:							auto;
}



ic-header ic-main-menu ul > li > ul > li {
	display:						flex;
	margin-top:						0;
	line-height:					2.5rem;
	padding:						0;
	border: 						0;
	white-space: 					nowrap;
	font-weight: 					400;	
}


ic-header ic-main-menu ul > li > ul > li > a > *,
ic-header ic-main-menu ul > li > ul > li > button > * {
	flex:							0 0 auto;
}

ic-header ic-main-menu ul > li > ul > li > a > *:first-child,
ic-header ic-main-menu ul > li > ul > li > button > *:first-child {
	flex:							1 0 auto;
}

ic-header ic-main-menu ul > li > ul > li > a,
ic-header ic-main-menu ul > li > ul > li > button {
	display: 						flex;
	align-items:					baseline;
	box-sizing:						border-box;
	flex:							1 0 auto;
	padding: 						0.25rem 1rem;
	text-align: 					left;
	align-items: 					center;
}

ic-header ic-main-menu ul > li > ul > li button:hover > .bubble,
ic-header ic-main-menu ul > li > ul > li a:hover > .bubble {
	color:							#444 !important;
	background-color:				#fff !important;
}

ic-header ic-main-menu ul > li > ul > li:last-child {
	border-bottom:					0px;
}





/* ic-scroll-top */




ic-header.ic-scroll-top .logo {
	position:						relative;
	height:							0;
	opacity:						0;
	z-index:						-1;
	overflow:						hidden;
}

ic-header.ic-scroll-top .tools .logo-line{
	display:						inline-block;
	flex-grow:						1;
	display:						flex;
	align-items: 					center;
}

ic-header.ic-scroll-top .tools button span{
	max-width:						0;
	z-index:						0;
}

ic-header.ic-scroll-top .tools button.left {
	padding-right: 					0;
}

ic-header ic-breadcrumbs {
	display:						flex;
	box-sizing:						border-box;
	padding:						0 1rem;
	align-items:					center;
}

ic-header ic-breadcrumbs > * {
	display:						inline-flex;
	align-items:					center;
	height:							2em;
}

ic-header .breadcrumbs {
	position:						relative;
	z-index:						-10;
}

ic-header ic-breadcrumbs > *{
	flex:							0 1 auto;
	white-space: 					nowrap;
}
		