.icon {
	box-sizing:				border-box;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
	background-size:		1.5em;
	min-width:				1.5em;
	min-height:				1.5em;
}

.img {
	position:				relative;
	background-image:		none !important;
}

.img:before {
	position:				absolute;
	display:				block;
	width:					1.5em;
	height:					1.5em;
}

.icon-large:before,
.icon:before{
	display:				none;
}


.icon-large {
	box-sizing:				border-box;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
	background-size:		2.25em;
	min-width:				2.25em;
	min-height:				2.25em;
}

.icon.left {
	background-position:	0 50%;
	padding-left:			1.5em;
}

.icon-large.left {
	background-position:	0 50%;
	padding-left:			2.25em;
}

.img.left {
	left:					0;
}



.icon.right {
	background-position:	100% 50%;
	padding-right:			1.5em;
}

.icon-large.right {
	background-position:	100% 50%;
	padding-right:			2.25em
}

.img{
	right:					0;
}


.icon.top {
	background-position:	50% 0%;
	padding-top:			1.5em;
}

.icon-large.top {
	background-position:	50% 0%;
	padding-top:			2.25em;
}

.icon.bottom {
	background-position:	50% 100%;
	padding-top:			1.5em;
}

.icon-large.bottom {
	background-position:	50% 100%;
	padding-bottom:			2.25em;
}




