.image {
	background-position: 				50% 50%;
	background-size: 					contain;
	background-repeat: 					no-repeat;
}

.image.dinA4,
.image.dinLang2 {
	background-size: 					cover !important;
}

.image.dinA:before {
	content: 							'';
	display: 							block;
	padding-top: 						141.4213562%;
}

.image.sqaure:before {
	content: 							'';
	display: 							block;
	padding-top: 						100%;	
}

.image.dinA.landscape:before {
	content: 							'';
	display: 							block;
	padding-top: 						70.7106781%;
}

.background-image {
	background-size:					cover !important;
	background-position:				50% 50% !important;
}

.background-image.top{
	background-position:				50% 0% !important;
}


.background-image.bottom{
	background-position:				50% 100% !important;
}


.background-image.right{
	background-position:				100% 50% !important;
}


.background-image.left{
	background-position:				0% 50% !important;
}

