ic-item-property {
	display:				block;
	position:				relative;
	margin:					1.5rem 0;
}

ic-item-property.short {
	margin-top:				0.5rem;
	margin-bottom:			0.5rem;
}

ic-item-property .icon {
	background-position:	100% 0;
}

ic-item-property .title {
	font-weight:			500;
	line-height:			1.5rem;
} 

ic-item-property.short .title {
	display:				inline;
}

ic-item-property.short .title::after {
	content:				':';
}

ic-item-property .content {
	line-height:			1.5rem;
}


ic-item-property.short .content {
	display:				inline;
}


ic-item-property .content a {
	display:				inline-block;
	word-break: 			break-all;
	word-break: 			break-word;
}

/* fallback for links in external html */
ic-item-property a:not(.active) {
	text-decoration:		underline rgba(0,0,0,0.5);
}


ic-item-property .extra-line span,
ic-item-property .extra-link span {
	display:				none;
}


ic-item-property.short .extra-line,
ic-item-property.short .extra-link {
	display: 				inline;
}

ic-item-property.short .extra-line span,
ic-item-property.short .extra-link span {
	display:				inline;
}
