ic-item-property-edit {
	display:					block;
	position: 					relative;
	z-index: 					0;
}

ic-item-property-edit h4 {
	margin:						0;
}

ic-item-property-edit .current-value-parent-box{
	display:					flex;
	position:					relative;
}

ic-item-property-edit .current-value{
	display:					inline-block;
	flex:						1 0 0;
	word-break:					break-all;
	white-space:				nowrap;
	overflow:					hidden;
	text-overflow:				ellipsis;
	font-size:					1em;
	opacity:					0.4;
	line-height:				1.5rem;
	margin-bottom: 				1rem;
}

ic-item-property-edit .current-value .list {
	display:					inline-flex;
}

ic-item-property-edit .current-value .list > *:after {
	content:					', ';
	flex:						0 0 auto;
}

ic-item-property-edit .current-value + button {
	vertical-align:				top;
}

ic-item-property-edit .current-value.diff {
	text-decoration:			line-through;
	white-space:				no-wrap;
}

ic-item-property-edit input[type="text"]{
	font-size:					1rem;
	padding:					0.5rem 1rem;
}

ic-item-property-edit textarea {
	font-size:					1rem;
	padding-bottom:				2rem;
}


ic-item-property-edit input[type="text"]:focus,
ic-item-property-edit textarea:focus {
	box-shadow:					0 0 0 1px #000 inset;
}


ic-item-property-edit .extra-padding input[type="text"] {
	padding-right:				5rem;
}

ic-item-property-edit .input-wrapper {
	position:					relative;
}

ic-item-property-edit .input-wrapper input:focus ~ *:not(input):not(textarea),
ic-item-property-edit .input-wrapper textarea:focus ~ *:not(input):not(textarea){
	display:					inline-block;
}

ic-item-property-edit .input-wrapper :not(input):not(textarea){
	display:					block;
	position:					absolute;
	right:						0.5rem;
	bottom:						0.5rem;
	line-height:				1.5rem;
	z-index: 					1000;
}

ic-item-property-edit .options {
	display:					flex;
	flex-wrap:					wrap;
	margin-top:					0.5rem;
}

ic-item-property-edit .options button {
	flex:						1 0 18rem;
	line-height:				1.2rem;
	display:					flex;
	align-items:				center;
	padding-top:				0.25em;
	padding-bottom:				0.25em;
	text-align: 				left;
}




ic-item-property-edit.long-labels .options {
	display:					flex;
	flex-direction:				column;
	flex-wrap:					nowrap;
	margin-top:					0.5rem;
}

ic-item-property-edit.long-labels .options button {
	flex:						0 0 auto;
	line-height:				1.2rem;
	display:					flex;
	align-items:				center;
	padding-top:				0.25em;
	padding-bottom:				0.25em;
	text-align: 				left;
}


ic-item-property-edit .options.item-list button{
	padding-top:				0;
	padding-bottom:				0;
}



ic-item-property-edit .options button > *:first-child {
	display:					inline-block;
	margin:						0 0.5rem;
}


ic-item-property-edit.invalid input[type="text"],
ic-item-property-edit.invalid textarea {
	box-shadow:					0 0 0 2px var(--error-color);
}

ic-item-property-edit.invalid{
	position:					relative;
	overflow:					visible !important;
}

ic-item-property-edit.invalid:after {
	content:					'';
	display:					block;
	position:					absolute;
	right:						-1rem;
	top:						-0.25rem;
	bottom:						0;
	background-color:			var(--error-color);
	width:						0.15rem;
}

ic-item-property-edit.invalid:before {
	content:					'';
	display:					block;
	position:					absolute;
	top:						-0.25rem;
	bottom:						0rem;
	left:						-0.5rem;
	right: 						-1rem;
	z-index: 					-1;
	background-color:			var(--error-color);
	opacity: 					0.05;
}

ic-item-property-edit .error {
	padding:					0.5rem 1rem ;
	line-height:				1.2rem;
	min-height:					1.2rem;
}



ic-item-property-edit .date, 
ic-item-property-edit .time {
	display:					flex;
	margin-bottom:				1rem;
}

ic-item-property-edit .date label, 
ic-item-property-edit .time label {
	display:					inline-block;
	flex:						1 1 auto;
}

ic-item-property-edit .date label + label, 
ic-item-property-edit .time label + label {
	margin-left:				1rem;
}

ic-item-property-edit .date label > *, 
ic-item-property-edit .time label > *{
	display:					block;
}















