/* reduce styling to layout and positioning */


ic-item-preview {
	position:				relative;
	display:				block;
	min-height:				5rem;
	padding:				0.5rem 1rem;
}

ic-item-preview:active,
ic-item-preview.active {
	background-color:		rgba(0,0,0,0.1);
}

ic-item-preview .content {
	display:				block;
	margin-left:			4.5rem;
	padding:				0;
	white-space: 			normal;
}


ic-item-preview .content .title{
	line-height:			1.2rem;
	max-height:				2.4rem;
	overflow:				hidden;
	font-weight:			600;
	padding-right:			1rem;
} 

ic-item-preview .content .brief{
	font-size:				0.85rem;
	line-height:			1.25rem;
	max-height:				2.5rem;
	color:					#666;
	overflow:				hidden;
	font-weight:			400;
} 

ic-item-preview .content .date {
	color:					#000;
	padding-right:			0.25rem;
}

ic-item-preview .icon-large {
	position:				absolute;
	display:				block;
	top:					0.5rem;
	left:					1rem;
	margin-top:				0.25rem;
	height:					3.5rem;
	width:					3.5rem;
	border-radius:			3.5rem;
}

ic-item-preview .icon {
	position: 				absolute;
	right:					0.25rem;
	top:					0.5rem;
}