ic-item-full {
	display:					block;
	position:					relative;
}

ic-item-full header {
	margin-bottom:				2rem;
	min-height:					5rem;
}

ic-item-full header .tools{
	height:						3rem;
	line-height:				3rem;
	font-size:					1.5rem;
}

ic-item-full header .tools > * {
	display:					inline-block;
	vertical-align:				top;
	height:						3rem;
}

ic-item-full header .tools .main {
	top:						1.25rem;
	position:					absolute;
	right:						0;
	padding-right:				0.5rem;
}

ic-item-full header .tools .main > *  {
	margin-right:				1rem;
}


ic-item-full .hero {
	padding-bottom:				50%;
	background-size:			cover;
	background-position:		50% 50%;
	background-color:			rgba(0,0,0,0.1);
	background-repeat:			no-repeat;
}



ic-item-full article .description{
	color: #222;
	line-height: 1.57;
}

ic-item-full > article,
ic-item-full > ic-item-property {
	display:					flex;
	margin-bottom:				1rem;
	padding:					0 1rem;
}

ic-item-full > ic-item-property a {
	color:						#802651;
}

ic-item-full > article	> *:nth-child(1),
ic-item-full > ic-item-property	> *:nth-child(1) {
	flex:						1 0 0;
	text-align:					right;
	padding-right:				2rem;
}

ic-item-full > article	> *:nth-child(2),
ic-item-full > ic-item-property	> *:nth-child(2){
	flex:						10 0 0;
	max-width: 					40rem;
}

ic-item-property:after,
ic-item-full > article:after {
	content:					'';
	flex:						1 0 0;
}

ic-item-full h2 {
	font-size:					1.3rem;
	font-weight:				600;
	margin:						0;
	margin-bottom:				0.25rem;
	color:						#222;
}



ic-item-full h3 {
	font-size:					1.3rem;
	font-weight:				300;
	margin:						0;
	margin-bottom:				1rem;
	color:						#222;
}


ic-item-full .qrcode {
	margin:						3rem 0;
	text-align:					center;
}

ic-item-full .qrcode qrcode {
	display:					inline-block;
	position:					static;
}

ic-item-full .qrcode qrcode canvas{
	display:					inline-block;
	position:					static;
}

ic-item-full footer.screen-only {
	padding:					1rem 0;
}



ic-item-full footer.screen-only button {
	display:					block;
	width:						100%;
	text-align:					left;
	box-sizing:					border-box;
	margin-bottom:				1rem;
}

ic-item-full footer.screen-only button > * {
	display:					block;
	width:						16em;
	margin:						auto;
	line-height:				4rem;
	white-space: 				nowrap;
	overflow:					visible;
}
