.icon {
	display:				inline-block;
	box-sizing:				border-box;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
	background-size:		1.5em;
	min-width:				1.5em;
	min-height:				1.5em;
	vertical-align:			middle;
	line-height:			1.5em;
}


/*.icon > *:not(.icon):first-child{
	margin-left:			0.5rem;
}

*/

/*.img {
	position:				relative;
	background-image:		none !important;
}

.img:before {
	position:				absolute;
	display:				block;
	width:					1.5em;
	height:					1.5em;
}

.icon:before{
	display:				none;
}
*/

.icon.round {
	width:					2em;
	height:					2em;
}

.icon.left {
	background-position:	0 50%;
	padding-left:			1.5em;
}

/*
.img.left {
	left:					0;
}

*/

.icon.right {
	background-position:	100% 50%;
	padding-right:			1.5em;
}

/*.img{
	right:					0;
}

*/
.icon.top {
	background-position:	50% 0%;
	padding-top:			1.5em;
}


.icon.bottom {
	background-position:	50% 100%;
	padding-top:			1.5em;
}


.icon.top.right {
	background-position:	100% 0;
}


.icon.bottom.right {
	background-position:	100% 100%;
}


