.icon {
	background-position:	50% 50%;
	background-size:		contain;
	background-repeat:		no-repeat;
	min-width:				2em;
	min-height:				2em;
}

.icon.left {
	background-position:	0 50%;
	padding-left:			2em;
}

.icon.right {
	background-position:	100% 50%;
	padding-right:			2em;
}

.icon.top {
	background-position:	50% 0%;
	padding-top:			2em;
}

.icon.bottom {
	background-position:	50% 100%;
	padding-top:			2em;
}



.icon-logo {
	background-image: url('/images/icons/logo.svg');
}

.icon-interface-favourites {
	background-image: url('/images/icons/interface_favourites.svg');
}

.icon-interface-help {
	background-image: url('/images/icons/interface_help.svg');
}

.icon-interface-languages {
	background-image: url('/images/icons/interface_languages.svg');
}

.icon-interface-search {
	background-image: url('/images/icons/interface_search.svg');
}

.icon-interface-down {
	background-image: url('/images/icons/interface_down.svg');
}