
html {
	height:						100%;
	overflow:					hidden;
}

body {
	display:					flex;
	flex-direction:				column;
	margin:						0;
	height:						100%;
	overflow:					hidden;
}

ic-header {
	display:					block;
	flex:						none;
	width:						100%;
	box-shadow:					0 0 0.3rem rgba(0,0,0,0.5);
}



ic-main-content,
[ic-main-content] {
	flex-grow:					1;
	display:					flex;
	flex-direction:				row;
	background-color:			#e6e6e6;
	overflow:					hidden !important;
	height:						100%;
	align-items:				stretch;
	z-index: 					1;
}

ic-main-content > *,
[ic-main-content] > * {
	flex:						1 0 auto;
	box-sizing:					border-box;
	position:					relative;
	box-sizing:					border-box;
	overflow-x:					hidden;
	flex-grow:					1;
	height:						100%;
}

ic-main-content 	> *:after,
[ic-main-content] 	> *:after {
	content:					'';
	display:					block;
	height:						0rem;
}

ic-main-content		> *:not(.ng-hide) + * ,
[ic-main-content]	> *:not(.ng-hide) + * {
	margin-left:				-1rem;
}


ic-main-content 	> * > * ,
[ic-main-content]	> * > * {
	scroll-behavior: 			smooth;
	-webkit-overflow-scrolling: touch;
	max-height:					100%;
}

ic-main-content		> *:nth-child(1), 
[ic-main-content] 	> *:nth-child(1){
	z-index:					10;
}


ic-main-content		> *:nth-child(2),
[ic-main-content]	> *:nth-child(2) {
	z-index:					9;
}

ic-main-content 	> *:nth-child(3),
[ic-main-content]	> *:nth-child(3) {
	z-index:					8;
}

ic-main-content 	> *:nth-child(4),
[ic-main-content] 	> *:nth-child(4) {
	z-index:					7;
}

ic-main-content 	> *:nth-child(5),
[ic-main-content]	> *:nth-child(5) {
	z-index:					6;
}

#section-filter{
	flex:						1 1 auto;
	min-width:					18rem;
	max-width:					20rem;
}

#section-list {
	flex:						3 1 auto;
	min-width:					30rem;
	max-width:					32rem;
}

.S #section-list {
	max-width:					60%;
}


#section-item {
	flex:						1 1 48rem;
}


#section-map {
	position:					relative;
	flex:						10 0 0;
	padding:					0;
	overflow:					hidden !important;
	margin:						0 !important;
}

#section-map:before {
	content:					'';
	position:					absolute;
	width:						1rem;
	height:						100%;
	left:						-1rem;
	top:						0;
	box-shadow:					0 0 1rem rgba(0,0,0,0.5);
	z-index:					999999;
}

#section-map:after {
	content:					'';
	position:					absolute;
	width:						100%;
	height:						1rem;
	left:						0;
	top:						-1rem;
	box-shadow:					0 0 1rem rgba(0,0,0,0.5);
	z-index:					999999;
}

#section-map > * {
	width:						100%;
	height:						100%;
}



#section-page {
	width:						80rem;
	max-width:					100%;
}

.print-only {
	display:					none;
}