
html {
	height:						100%;
	overflow:					hidden;
}

body {
	display:					flex;
	flex-direction:				column;
	margin:						0;
	height:						100%;
	overflow:					hidden;
}

ic-header {
	display:					block;
	flex:						none;
	width:						100%;
	box-shadow:					0 0 0.3rem rgba(0,0,0,0.5);
}

ic-main-content {
	flex-grow:					1;
}


ic-main-content {
	display:					flex;
	flex-direction:				row;
	background-color:			#e6e6e6;
	overflow:					hidden !important;
	height:						100%;
	align-items:				stretch;
}

ic-main-content > * {
	flex:						1 0 auto;
	box-sizing:					border-box;
	position:					relative;
	padding-top:				1rem;
	padding-bottom:				1rem;
	padding-left:				0.5rem;
	padding-right:				0.5rem;
	box-sizing:					border-box;
	overflow-y:					scroll;
	overflow-x:					hidden;
	flex-grow:					1;
	height:						100%;
	-webkit-overflow-scrolling:	touch;
}

ic-main-content > *:after {
	content:					'';
	display:					block;
	height:						10rem;
}

ic-main-content > *:first-child{
	padding-left:				1rem;
}

ic-main-content > *:last-child{
	padding-right:				1rem;
}

ic-main-content > *:nth-child(1){
	z-index:					10;
}


ic-main-content > *:nth-child(2){
	z-index:					9;
}

ic-main-content > *:nth-child(3){
	z-index:					8;
}

ic-main-content > *:nth-child(4){
	z-index:					7;
}

ic-main-content > *:nth-child(5){
	z-index:					6;
}

#section-filter{
	flex:						1 1 auto;
	min-width:					18rem;
	max-width:					20rem;
}


.S #section-filter {
	max-width:					40%;
}




#section-list {
	flex:						3 1 auto;
	min-width:					30rem;
	max-width:					32rem;
}

.S #section-list {
	max-width:					60%;
}


#section-item {
	flex:						10 0 20rem;
	padding-bottom:				5rem;
}


#section-map {
	position:					relative;
	flex:						10 0 0;
	padding:					0;
	overflow:					hidden !important;
}

#section-map:before {
	content:					'';
	position:					absolute;
	width:						1rem;
	height:						100%;
	left:						-1rem;
	top:						0;
	box-shadow:					0 0 1rem rgba(0,0,0,0.5);
	z-index:					999999;
}

#section-map:after {
	content:					'';
	position:					absolute;
	width:						100%;
	height:						1rem;
	left:						0;
	top:						-1rem;
	box-shadow:					0 0 1rem rgba(0,0,0,0.5);
	z-index:					999999;
}

#section-map > * {
	width:						100%;
	height:						100%;
}



#section-page {
	width:						80rem;
	max-width:					100%;
	padding-bottom:				15rem;
}



.print-only {
	display:					none;
}