
/* ic-map */

ic-map {
	display:				block;
}



ic-map-item-marker {
	display:				block;
	position:				absolute;
	background:				#fff;
	font-size:				1.3rem;
	left:					0;
	top:					-2.6666667em;
	height:					2.6666667em;
	width:					0;
	transition:				transform 300ms ease-out;
}


ic-map-item-marker .outer-icon {
	position:				absolute;
	top:					0;
	left:					0;
	width:					2em;
	height:					2.666666666em;
	line-height:			2em;
	background-position:	50% 50%;
	background-size:		2em auto;
	background-repeat:		no-repeat;
}

ic-map-item-marker .outer-icon .inner-icon {
	position:				absolute;
	top:					0;
	left:					0;
	height:					2em;
	width:					2em;
	background-repeat:		no-repeat;
	background-size:		1.5em;
	background-position:	center;
}

ic-map-item-marker .content {
	display:				block;
	position:				absolute;
	box-sizing:				border-box;
	top:					0;
	left:					2em;
	padding:				0.25em 0;
	background-color:		#fff;
	height:					2em;
	text-align:				left;
	max-width:				0;
	overflow:				hidden;
	transition:				all 150ms ease-in;
	color:					#444 !important;
}


ic-map-item-marker .content .title  {
	display: 				block;
	white-space: 			nowrap;
	text-overflow:			ellipsis;
	font-size:				0.7em;
	line-height:			1.2;
	font-weight:			600;
	overflow:				hidden;
}

ic-map-item-marker .content .details  {
	display: 				block;
	white-space: 			nowrap;
	text-overflow:			ellipsis;
	font-size:				0.6em;
	line-height:			1.2;
	font-weight:			400;
	overflow:				hidden;
}

ic-map-item-marker:active,
ic-map-item-marker:hover {
	z-index:				9999999999 !important;
}


ic-map-item-marker.active	.content,
ic-map-item-marker:active 	.content,
ic-map-item-marker:hover 	.content {
	max-width:				14em;
	padding-left:			0.25em;
	padding-right:			0.5em;
}


/*.ic-map-marker-shadow {
	position:				absolute;
	left:					-1rem;
	top:					-2.6rem;
	width:					2rem;
	height:					2.666667rem;
	background-image:		url('../images/marker_shadow.svg');
	background-size:		2rem auto;
	background-repeat:		no-repeat;
	background-position:	50% 50%;
	transition:				transform 300ms ease-out;
}
*/


/* cluster */

ic-map-cluster-marker {
	display:				block;
	position:				absolute;
	top:					0;
	height:					0;
	width:					0;
	text-align:				center;
}

ic-map-cluster-marker:active,
ic-map-cluster-marker:hover {
	z-index:				9999999 !important;
}

ic-map-cluster-marker:active	ic-map-item-marker,
ic-map-cluster-marker:hover		ic-map-item-marker {
	z-index:				0;
}	

ic-map-cluster-marker .wrapper {
	position:				absolute;
	left:					0em;
	bottom:					0;
}

ic-map-cluster-marker ic-map-item-marker {
	position:				relative;
	display:				block;
	top:					0;
	left:					0;
	height:					2.666667em;
	transition:				margin-top 100ms ease-in;
}

ic-map-cluster-marker ic-map-item-marker:hover {
	z-index:				0 !important;
}


ic-map-cluster-marker ic-map-item-marker + ic-map-item-marker {
	margin-top:			-2.4em;
}


ic-map-cluster-marker:active ic-map-item-marker + ic-map-item-marker,
ic-map-cluster-marker:hover ic-map-item-marker + ic-map-item-marker {
	margin-top:			-0.6em

}

ic-map-cluster-marker ic-map-item-marker + ic-map-item-marker .outer-icon{
	box-shadow:				0 -1px 0 0 #fff;
}


ic-map-cluster-marker:hover ic-map-item-marker + ic-map-item-marker .outer-icon{
	box-shadow:				none !important;
}


ic-map-switch-control button,
ic-map-expand-control button {
	display:				block;
	width:					2.5rem;
	height:					2.5rem;
	background-repeat:		no-repeat;
	background-position:	50% 50%;
	background-size:		2.5rem;
	font-size:				2rem;
}

ic-map-switch-control button,
ic-map-switch-control button:hover,
ic-map-switch-control button:active,
ic-map-expand-control button,
ic-map-expand-control button:hover,
ic-map-expand-control button:active {
	background-color:		transparent !important;
	font-size:				2rem;
}




ic-map ic-spinner {
	display:				none;
	font-size:				3rem;
	background-color:		#fff;
	border-radius:			100% !important;
	padding:				0.25rem;
}

.expand-map ic-map ic-spinner{
	display:				block;
}






ic-mini-map {
	display:				block;
	height:					12rem;
}






/* marker */
.marker-type-events{
	background-image:		url(/images/marker_type_events.svg);
}

.marker-type-services{
	background-image:		url(/images/marker_type_services.svg);
}

.marker-type-places{
	background-image:		url(/images/marker_type_places.svg);
}

.marker-type-information{
	background-image:		url(/images/marker_type_information.svg);
}


.marker-type-unknown{
	background-image:		url(/images/marker_type_unknown.svg);
}







