ic-options-edit {
	display:				block;
}

ic-options-edit p {
	font-size:				0.9em !important;
}

ic-options-edit pre {
	font-family: 			monospace;
	white-space: 			pre;
	background-color:		rgba(0,0,0,0.05);
	padding:				0.5rem;
	padding-left:			1rem;
} 

/*ic-options-edit select {
	flex: 					0 0 auto !important;
	appearance: 			revert !important;
	border: 				revert !important;
	background: 			revert !important;
	border-radius: 			revert !important;
	overflow: 				revert !important;
	margin-right: 			1rem;
}*/

ic-options-edit .row {
	display:				flex;
	position:				relative;
	margin:					0 -0.5rem;
	align-items:			center;
	padding:				0.25rem 0;
}

ic-options-edit .row.just-added:before {
	content: 				'';	
	display:				block;
	position:				absolute;
	top:					0;
	bottom:					0;
	left:					0;
	right:					0;
	background-color:		var(--primary-color);
	opacity:				0.35;
	z-index:				0;

}

.XS ic-options-edit .row {
	flex-direction:			column;
}


ic-options-edit .row > * {
	flex:					3 0 0;
	display:				block;
	margin:					0 0.5rem;
	overflow:				hidden;
	text-overflow:			ellipsis;
	z-index:				1;
	transition: 			all 300ms;
}

ic-options-edit .row > .label {
	flex: 					5 0 0;
} 
	
ic-options-edit .row > input {
	white-space:			nowrap;
}

ic-options-edit .row.edit > *:focus {
	flex:					10 0 0;
}


.XS ic-options-edit .row > * {
	flex:					1 0 auto;
}

ic-options-edit .row .label, 
ic-options-edit .row .link,
ic-options-edit .row .tag {
	padding:				0 0.5rem;
}

ic-options-edit .row > :nth-child(3) {
	flex:					2 0 0;
}


ic-options-edit .row .buttons {
	flex:					0 0 10rem;
}
