


/* ic-search */

ic-search {
	display:						inline-flex;
	margin:							0;
	height:							2em;
	align-items: 					center;
	flex-wrap: 						nowrap;
}

ic-search > * {
	flex: 							1 0 auto;
	display: 						inline-flex !important;
}


ic-search:focus-within label {
	display: 						none !important;
} 

ic-search:not(:focus-within) label + form {
	flex: 							0 0 0;
	position: 						absolute;
	z-index: 						-1;
	opacity: 						0;
}

ic-search form {
	box-sizing:						border-box;
	flex: 							1 1 auto;
	position:						relative;
	height:							1.75em;
	align-items: 					center;
}


ic-search form input[type=text],
ic-search form input[type=search] {
	display:						block;
	box-sizing:						border-box;
	border:							none;
	padding:						0;
	padding-right:					2.5em;
	padding-left:					0.5em;
	margin:							0;
	font-size:						1em;
	line-height:					1.75em;
	background:						#fff;
	color: 							var(--dark-text-color);
}

ic-search form button {
	position: 						absolute;
	display:						inline-block;	
	right: 							0;
	width:							2em;
	background-color:				transparent;
	z-index: 						999999;
}










ic-item-badge {
	display:						inline-block;
}
