/* ic-text-logo */

ic-logo-text {
	display:						inline-block;
	height:							1em;
	width:							6em;
	position:						relative;
	background-image:				url(/images/large/logo-text-white.svg);
	background-size:				contain;
	background-repeat:				no-repeat;
	background-position:			0 50%;
}




/* ic-logo-full */

ic-logo-full {
	height:							1em;
	width:							6em;
	display:						inline-block;
	background-image:				url(/images/large/logo-full.svg);
	background-size:				contain;
	background-repeat:				no-repeat;
	background-position:			0 50%;
}





/* ic-search */

ic-search {
	display:						inline-block;
	margin:							0;
	height:							2em;
}

ic-search form {
	display:						inline-block;
	position:						relative;
	background:						#fff;
	height:							1.75em;
	vertical-align:					middle;
}


ic-search form input[type=text]{
	display:						block;
	box-sizing:						border-box;
	border:							none;
	padding:						0;
	padding-right:					2.5em;
	padding-left:					0.5em;
	margin:							0;
	flex:							1 0 auto;
	font-size:						1em;
	line-height:					1.75em;
	height:							1.75em;
	background:						#fff;
}

ic-search form button {
	position:						absolute;
	display:						inline-block;
	right:							0;
	top:							0;
	height:							100%;
	width:							2em;
	background-color:				transparent;
}


ic-item-badge {
	display:						inline-block;
}
