ic-sorting {
	display:					flex;
}

ic-sorting > *:first-child {
	flex:						2 0 auto;
}

ic-sorting > *:nth-child(2){
	display:					flex;
	flex:						0 0 auto;
	justify-content:			space-around;
	align-items:				center;
}

ic-sorting li, /*alt*/
ic-sorting button {
	padding-top:				0.25em !important;
	padding-bottom:				0.25em !important;
	border-radius:				0.25em;
	box-sizing: 				border-box;
	width: 						100%;
	text-align: 				left;
}


.XS ic-sorting {
	padding-left:				1rem !important;
	padding-right:				1rem !important;
}