ic-search-result-list {
	display:					block;
}

ic-search-result-list header {
	display:					flex;

}

ic-search-result-list header ic-spinner {
	font-size:					2rem;
	flex:						0 0 auto;
}


.item-list a,
ic-search-result-list a {
	display:					block;
	margin:						1px 0;
}
