/*replace ic-page with ic-page or similar */


ic-page {
	display:						block;
}

ic-page  header {
	position:						relative;
	height: 						30rem;
	padding:						1rem;
	background-size:				cover;
	background-position: 			center;
}

ic-page header ic-carousel {
	position:						absolute;
	top:							0;
	bottom:							0;
	left:							0;
	right:							0;

	z-index:						0;
}

ic-page  header h2 {
	display: 						block;
	position:						absolute;
	font-size:						3rem;
	margin-top:						0.5rem;
	margin-left:					-1rem;
	padding-left:					1em;
	font-weight:					700;
	max-width:						50rem;
	text-indent:					-1em;
	z-index:						5;
	width:							100%;
}

ic-page  header h2 span {
	padding:						0.5rem;
	-webkit-box-decoration-break: 	clone;
  	-o-box-decoration-break: 		clone;
  	box-decoration-break:			clone;
}

ic-page h2 {
	font-size:						2rem;
	margin:							2rem 0;
}


ic-page  article {
	display:						block;
	background-color:				#fff;
	color:							#666;
	margin:							auto;
	margin-bottom:					1rem;
	padding:						2rem 5rem;
}

ic-page h3 {
	font-size: 					1.5em;
	font-weight: 				600;
	margin-bottom:				1rem;
}


ic-page p{
	max-width:					50rem;
	font-size: 					1.25rem;
	line-height: 				2;
	margin:						1rem 0;

}

ic-page a.boxed {
	display:					inline-block;
	font-size: 					0.875rem;
	font-weight: 				800;
	line-height:				2.5em;
	border-width:				0.15em;
	border-style:				solid;
	letter-spacing: 			0.1rem;
	padding: 					0.5rem 2rem;
}

ic-page .search > * {
	max-width:					50rem;
	margin:						auto;
}


ic-page ic-search {
	display:					block;
	font-size:					1.25rem;
	height:						auto;
}

ic-page ic-search form {
	display:					flex;
	height:						auto;
}

ic-page ic-search form input[type="text"] {
	flex:						1 0 auto;
	line-height:				2rem;
	height:						3rem;
	padding-top:				0.5rem;
	padding-bottom:				0.5rem;
	padding-right:				1rem;
	padding-left:				1rem;
	box-sizing:					border-box;
	border:						1px solid #444;
	margin-right:				1rem;
	width:						auto;

}

ic-page ic-search form button {
	position:					relative;
	flex:						0 0 auto;
	box-sizing:					border-box;
	font-size:					inherit;
	background-size:			3rem !important;
	background-position:		0 50% !important;
	padding-left:				3rem;
	padding-right:				1rem;
	line-height:				3rem;
	height:						3rem;
	width:						auto;
	min-width:					12rem !important;
	text-align:					left;
}

ic-page .types {
	display:					flex;
	padding:					1rem 0;
	margin:						0.5rem auto;
}

ic-page .types > * {
	flex:						1 0 auto;
	text-align:					left;
	line-height:				1.5em;
	padding-left:				2rem !important;
	margin:						0.5rem 0;
}




ic-page .tiles {
	display:					flex;
	flex-wrap:					wrap;
	justify-content:			start;
	padding:					0;
	margin:						-0.5rem;
	margin-bottom:				0.5rem;
}


ic-page .tiles > * {
	display:					flex;
	box-sizing:					border-box;

	flex-direction:				column;
	justify-content: 			flex-start;

	font-weight: 				600;
	font-size: 					1.25rem;
	padding: 					1rem;	

	width:						15rem;
	height:						15rem;
	margin:						0.5rem;
	flex-grow:					1;
	border:						none;
	border-radius:				0;
	color:						#fff;
	background-position:		right 1rem bottom 1rem;
	background-size:			5rem 5rem;
	background-repeat:			no-repeat;
	line-height:				1.2em;
	transition: 				background-color 0.5s ease;
}

ic-page .tiles > *:hover {
	filter:						brightness(1.1)
}

ic-page .tiles > * > small {
	display: 					inline-block;
	margin-top: 				0.5rem;
	font-weight: 				400;	
	font-size: 					1.1rem;
}


ic-page .tiles > .item-tile {
	position:					relative;
	padding:					0;
	flex:						0 0 auto;
	width:						22.5rem;
	height:						22.5rem;
}

ic-page .tiles > .item-tile	button {
	position:					absolute;
	right:						1rem;
	top:						1rem;
	z-index:					3;
}

ic-page .tiles > .item-tile .image {
	position:					absolute;
	height:						62.5%;
	top:						0;
	left:						0;
	right:						0;
	background-repeat:			no-repeat;
	background-position:		50% 50%;
	background-size:			cover;
	z-index:					1;
	transition:					all 500ms ease-out;
}


ic-page .tiles > .item-tile .image > * {
	position:					absolute;
	top:						0;
	bottom:						0;
	left:						0;
	right:						0;
	width:						auto  !important;
	height:						auto  !important;
}


ic-page .tiles > .item-tile .image .fallback {
	font-size:					10rem;
	width:						1em;
	height:						1em;
	opacity:					0.5;
	padding:					0;

}

ic-page .tiles > .item-tile .image .fallback:before {
	display:					none;
}



ic-page .tiles > .item-tile:hover .image{
	-webkit-filter: 			brightness(1.1);
	filter: 					brightness(1.1);
}


ic-page .tiles > .item-tile .body {
	position:					absolute;
	box-sizing:					border-box;
	bottom:						0;
	left:						0;
	right:						0;
	height:						auto;
	min-height:					37.5%;
	font-size:					1rem;
	padding-top:				1rem;
}

ic-page .tiles > .bottom {
	flex-direction:				column;
	justify-content: 			flex-end;
	background-position:		right 1rem top 1rem;
}




ic-page .third-party-logo{
	width:						15rem;
	height:						10rem;
	background-size:			contain;
	background-repeat:			no-repeat;
}



ic-page ic-category {
	margin:						1rem 0;
	margin-bottom:				2rem;
}


ic-footer {
	display:					block;
	background-color:			#fff;
	color:						#666;
	margin:						auto;
	margin-bottom:				1rem;
	margin:						2rem 5rem;
}

ic-footer {
	padding: 2rem;
	text-align: center;
}

ic-footer a {
	display:					inline;
	border:						none;
	border-radius:				0;
	margin-right:				1rem;
	font-weight: 400;
}


