
ic-page .tiles {
	display:					flex;
	flex-wrap:					wrap;
	justify-content:			start;
	padding:					0;
	margin:						-0.5rem;
	margin-bottom:				0.5rem;
}


ic-page .tiles > * {
	display:					flex;
	box-sizing:					border-box;

	flex-direction:				column;
	justify-content: 			flex-start;

	font-weight: 				600;
	font-size: 					1.25rem;
	padding: 					1rem;	

	width:						15rem;
	height:						15rem;
	
	margin:						0.5rem;
	flex-grow:					1;
	border:						none;
	border-radius:				0;
	color:						#fff;
	background-position:		right 1rem bottom 1rem;
	background-size:			5rem 5rem;
	background-repeat:			no-repeat;
	line-height:				1.2em;
	transition: 				background-color 0.5s ease;
}

ic-page .tiles > *:focus,
ic-page .tiles > *:hover {
	filter:						brightness(1.1)
}

ic-page .tiles > * > small {
	display: 					inline-block;
	margin-top: 				0.5rem;
	font-weight: 				400;	
	font-size: 					1.1rem;
}


ic-page .tiles > .item-tile {
	position:					relative;
	padding:					0;
	flex:						0 0 auto;
	width:						22.5rem;
	height:						22.5rem;
}

ic-page .tiles > .item-tile	button {
	position:					absolute;
	right:						1rem;
	top:						1rem;
	z-index:					3;
}

ic-page .tiles > .item-tile .image {
	position:					absolute;
	height:						62.5%;
	top:						0;
	left:						0;
	right:						0;
	background-repeat:			no-repeat;
	background-position:		50% 50%;
	background-size:			cover;
	z-index:					1;
	transition:					all 500ms ease-out;
}


ic-page .tiles > .item-tile .image > * {
	position:					absolute;
	top:						0;
	bottom:						0;
	left:						0;
	right:						0;
	width:						auto  !important;
	height:						auto  !important;
	min-height:					0 !important;
	min-width:					0 !important;
}


ic-page .tiles > .item-tile .image .fallback {
	font-size:					10rem;
	width:						1em;
	height:						1em;
	opacity:					0.5;
	padding:					0;

}

ic-page .tiles > .item-tile .image .fallback:before {
	display:					none;
}



ic-page .tiles > .item-tile:focus .image,
ic-page .tiles > .item-tile:hover .image{
	-webkit-filter: 			brightness(1.1);
	filter: 					brightness(1.1);
}


ic-page .tiles > .item-tile .body {
	position:					absolute;
	box-sizing:					border-box;
	bottom:						0;
	left:						0;
	right:						0;
	height:						auto;
	min-height:					37.5%;
	font-size:					1rem;
	padding-top:				1rem;
}

ic-page .tiles > .bottom {
	flex-direction:				column;
	justify-content: 			flex-end;
	background-position:		right 1rem top 1rem;
}







.XS ic-page .tiles {
	justify-content:			center;
	margin:						0 !important;
	margin-bottom:				1rem !important;
}

.XS ic-page .tiles > * {
	margin:						0.5rem 0 !important;
}
