
ic-page .tiles {
	display:					flex;
	flex-wrap:					wrap;
	justify-content:			start;
	padding:					0;
	margin:						-0.5rem;
	margin-bottom:				0.5rem;
}


ic-page .tiles > * {
	display:					flex;
	position:					relative;
	flex:						1 1 auto;
	box-sizing:					border-box;

	flex-direction:				column;
	justify-content: 			flex-start;

	font-weight: 				600;
	font-size: 					1.25rem;
	padding: 					0rem;	

	width:						18rem;

	min-width:					18rem;
	min-height:					18rem;

	margin:						0.5rem;
	border:						none;
	border-radius:				0;
	color:						#fff;
	
	line-height:				1.2em;	

	overflow: 					hidden;
}


ic-page .tiles > *:focus .background,
ic-page .tiles > *:hover .background {
	background-color: 			#4B5568 !important;
	opacity: 					1 !important;
}


ic-page .tiles > .bottom:hover .background-image {
	transform: 					scale(1.025);
}



ic-page .tiles > * > .background {
	display:					block;
	position:					absolute;
	z-index:					-1;
	transition: 				all 0.5s ease;
	background-repeat:			no-repeat;

	height:						100%;
	width:						100%;

	max-width:					100%;

	padding:					0 !important;
}


ic-page .tiles > *.bottom > .background {
	position:					static;	
	z-index:					0;

	height:						15rem;
}





ic-page .tiles > * > .content {
	flex:						1 0 0;
	margin:						0;
	padding:					1rem;
	background-color:			transparent;
	color:						var(--light-text-color);
	height:						100%;
	padding-bottom:				6rem;
	z-index: 					1;
}

ic-page .tiles > * > .content > h3 {
	margin:						1rem 0;
	font-weight:				normal;
	font-size:					1.3rem;
	
}

ic-page .tiles > * > .content > p {
	margin:						1rem 0;
	font-weight:				normal;
	font-size:					1.3rem;
	line-height: 				1.3;
	font-size: 					1.15rem;
}


ic-page .tiles > .bottom > .content {
	margin:						0;
	padding:					1rem;
	padding-bottom:				1rem;
	height:						auto;
	background-color:			var(--primary-background-color);
	color:						var(--dark-text-color);
}

ic-page .tiles > .bottom > .content  p {
	font-size: 					1.2rem;
	color:						var(--plain-text-color);
	transition: 				color 0.5s ease;
}

ic-page .tiles > .bottom:hover > .content  p,
ic-page .tiles > .bottom:focus > .content  p {
	color:						var(--dark-text-color) !important;
}

ic-page .tiles > * .background.icon {
	background-size:			4rem;
	background-position:		calc(100% - 1rem) calc(100% - 1rem) !important;
}

ic-page .tiles > .bottom .background.icon {
	background-size:			8rem;
	background-position:		50% 50% !important;
}



.XS ic-page .tiles {
	justify-content:			center;
	margin:						0 !important;
	margin-bottom:				1rem !important;
}

.XS ic-page .tiles > * {
	margin:						0.5rem 0 !important;
}








/* item tiles start */

ic-page .tiles > .item-tile {
	position:					relative;
	padding:					0;
	flex:						0 0 auto;
	width:						22.5rem;
	height:						22.5rem;
}

ic-page .tiles > .item-tile	button {
	position:					absolute;
	right:						1rem;
	top:						1rem;
	z-index:					3;
}

ic-page .tiles > .item-tile .image {
	position:					absolute;
	height:						62.5%;
	top:						0;
	left:						0;
	right:						0;
	background-repeat:			no-repeat;
	background-position:		50% 50%;
	background-size:			cover;
	z-index:					1;
	transition:					all 500ms ease-out;
}


ic-page .tiles > .item-tile .image > * {
	position:					absolute;
	top:						0;
	bottom:						0;
	left:						0;
	right:						0;
	width:						auto  !important;
	height:						auto  !important;
	min-height:					0 !important;
	min-width:					0 !important;
}


ic-page .tiles > .item-tile .image .fallback {
	font-size:					5rem;
	width:						1em;
	height:						1em;
	opacity:					0.75;
	padding:					0;

}

ic-page .tiles > .item-tile .image .fallback:before {
	display:					none;
}


ic-page .tiles > .item-tile .body {
	position:					absolute;
	box-sizing:					border-box;
	bottom:						0;
	left:						0;
	right:						0;
	height:						auto;
	min-height:					37.5%;
	font-size:					1rem;
	padding-top:				1rem;
}

/* item tiles end */

