ic-toggle {
	display:				inline-block;
	overflow:				hidden;
	border-radius:			1em;
	border:					1px solid var(--primary-color);
	line-height:			1.3em;		
	height:					1.3em;
	user-select:			none;
	vertical-align:			baseline;
	cursor:					pointer;
	margin-bottom:			-0.35em;
}

ic-toggle .shuttle {
	display:				block;	
	transition:				transform 300ms ease-in-out;
}

ic-toggle .shuttle > * {
	display:				flex;
	height:					1.3em;
	line-height:			1.3em;
	justify-content:		center;
	align-items: 			center;
}

ic-toggle .shuttle .indicator {
	transform:				translateY(-1.3em);	
	display:				flex;
	width:					1.3em;
}

ic-toggle .shuttle .indicator:before {
	content:				'';
	box-sizing:				border-box;
	height:					0.9em;
	width:					0.9em;
	background-color:		transparent;
	border:					1px solid var(--primary-color);
	border-radius:			100%;	
	transition:				background-color 200ms ease-in-out;
}

ic-toggle .shuttle .on,
ic-toggle .shuttle .off {	
}

ic-toggle .shuttle .on {
	text-align:				right;
	transform:				translateX(-100%);
	padding-left:			1.8em;
}

ic-toggle .shuttle .off {
	transform:				translateY(-2.6em) translateX(1.3em);	
	text-align:				left;
	padding-right:			1.8em;
}

ic-toggle.on .shuttle{
	transform:				translateX(calc(100% - 1.3em));
}

ic-toggle.on .shuttle .indicator:before {	
	background-color:		var(--primary-color);;
}

ic-toggle.off .shuttle{
	transform:				translateX(0);	
}