[ic-scroll-repeat-limit-container] {
	overflow-y:					scroll;
	-webkit-overflow-scrolling:	touch;
}


[ic-touch-me] {
	cursor:					pointer;
}


.ic-touched {
    filter: 				brightness(80%);
}


.ic-touch-fade {
	transition-duration:	400ms;			
	transition-property:	border, background-color, filter, transform;
}


[ic-scroll-source] {
	overflow-y:					scroll;
	scroll-behavior: 			smooth;
	-webkit-overflow-scrolling: touch;
	max-height:					100%;
}

ic-carousel,
[ic-carousel]{
	display:				block;
	position:				relative;
	overflow:				hidden;
}

ic-carousel 	.shuttle,
[ic-carousel]	.shuttle {
	display:				inline-flex;
	transition:				transform 500ms ease-in-out;
	white-space: 			nowrap;
}


ic-carousel 	.shuttle > *,
[ic-carousel]	.shuttle > *{
	display:				inline-block;
	flex:					0 0 auto;
	white-space: 			nowrap;
}

ic-carousel 	.image,
[ic-carousel]	.image {
	display:				inline-block;
	background-position:	50% 50%;
	background-size:		cover;
	background-repeat:		no-repeat;
	background-color:		#fff;
}


ic-carousel 	nav ,
[ic-carousel]	nav  {
	display:				flex;
	position:				absolute;
	bottom:					1rem;
	right:					1rem;
}
	

ic-carousel 	nav button,
[ic-carousel]	nav button {
	flex:					0 0 auto;
	height:					1rem;
	width:					1rem;
}



ic-carousel 	nav button + button,
[ic-carousel]	nav button + button {
	margin-left:			0.25rem;
}


ic-carousel 	ng-transclude {
	display:				flex;
	position:				absolute;
	left:					0;
	bottom:					4rem;
}




.selects {
	margin:					auto;
	text-align:				center;	
	display:				flex;
	flex-direction:			column;
	align-items:			stretch;
	justify-content: 		stretch;
	max-width:				100%;
	width:					18rem;
}

.selects select + label {
	margin-top:				1.5rem;
}

.selects label + select {
	margin-top:				0.5rem;
}

.selects label {
}

.selects select {
}
