[ic-scroll-repeat-limit-container] {
	overflow-y:				scroll;
}


[ic-touch-me] {
	cursor:					pointer;
}


.ic-touched {
    filter: 				brightness(80%);
}



.ic-touch-fade {
	transition-duration:	400ms;			
	transition-property:	border, background-color, filter, transform;
}


[ic-settle-scrollbar] {
	box-sizing:				border-box;
	max-height:				100%;
	overflow-x:				hidden;
	-webkit-overflow-scrolling:	touch;
}
