[ic-scroll-repeat-limit-container] {
	overflow-y:				scroll;
}


[ic-touch-me] {
	cursor:					pointer;
}


.ic-touched {
    filter: 				brightness(80%);
}



.ic-touch-fade {
	transition-duration:	400ms;			
	transition-property:	border, background-color, filter, transform;
}
