.XS .xs-block {
	display:					block;
	text-align:					center;
	margin:						1rem 0 !important;
}


.XS #section-filter {
	min-width:					0;
}

.XS #section-list {
	min-width:					0;
}


.XS ic-header .tools a > span {
	display:					none;
}


.XS ic-header .tools {
	padding:					0;
}

.XS ic-header .tools > *  {
	margin:						0 0.5rem;
}


.XS ic-header .logo {
	position:					relative;
	justify-content:			center;
	height:						8rem;
}

.XS ic-header .logo ic-logo-full {
	width:						20rem;
	height:						4rem;
}


.XS ic-main-content > *,
.XS ic-main-content > *:focus,
.XS ic-main-content > *:hover {
	padding-left:				0 !important;
	padding-right:				0 !important;
}






.XS ic-page article {
	padding:					1rem;
}

.XS ic-page header {
	margin-top:					-1rem;
}

.XS ic-page .image-home {
	height:						10rem;
}

.XS ic-page .image-home * {
	display:					none;
}

.XS ic-page article p {
	font-size:					1rem;
}

.XS ic-page ic-search form input[type="text"] {
	width:						0;
}

.XS ic-page ic-search form button {
	padding-right:				0;
	min-width:					0 !important;
	width:						0;
}


.XS ic-page .types {
	flex-wrap:					wrap;
}


.XS ic-page .types > * {
	width:						100%;
	overflow:					hidden;
	white-space:				nowrap;
	text-overflow:				ellipsis;
}


.XS ic-category > *:first-child {
	margin-left:				0;
	margin-right:				1rem;
}

.XS ic-category .ic-tag {
	display:					flex;
}

.XS ic-category .ic-tag > *:first-child {
	flex:						1 0 auto;
}




.XS ic-footer > * {
	display:					block;
	line-height:				3rem;
	text-align:					left;
	font-size:					1.25rem;
}

.XS ic-footer > *:focus,
.XS ic-footer > *:hover {
	border-bottom:				none;
}

.XS ic-footer > * + * {
	border-top:					1px solid rgba(0,0,0,0.3);
}


.XS ic-item-full-header {
	margin-left:				0 !important;
	margin-right:				0 !important;
}


.XS ic-item-full header .main > * {
	margin-right:				0.5rem;
}

.XS ic-item-full > section  .main  ic-item-badge {
	margin-left:				2rem;
}

.XS ic-item-full > section  h2 {
	word-wrap:					break-word;
}

.XS ic-item-full > section hr {
	margin-left:				0rem;
}

.XS ic-item-full > section ic-mini-map {
	margin:						0 !important;
	padding:					0 !important;
	width:						100%;
}


.XS ic-item-full > section > * > :nth-child(1) {
	flex:						0 0 auto;
	padding-right:				0;
	min-width:					1.5rem;
	text-align:					left;
	margin-right:				0.5rem;
	margin-left:				-2rem;
	background-position:		0 0;
}

.XS ic-item-full > section > * > :nth-child(2){
	align-self:					center;
}

.XS ic-item-full > section > * > :nth-child(3){
	flex:						1 0 100%;
}


.XS ic-item-full-edit > section > * > :nth-child(1){
	padding-right:				0;
	min-width:					0rem;
	text-align:					left;
	margin-right:				0.5rem;
}


.XS ic-item-full-edit > section > * > :nth-child(2){
	align-self:					center;
}




.XS ic-item-full > section .qr-code {
	text-align:					center !important;
}


.XS ic-item-full > section > * {
	padding:					0 1rem 0 2.65rem;
}


.XS ic-item-full ic-mini-map {
	width:						100%;
}