
/* ic-map */

ic-map {
	display:				block;
	position:				absolute;
	top:					0;
	left:					0;
	right:					0;
	bottom:					0;
}



ic-map-item-marker {
	display:				block;
	position:				absolute;
	background:				#fff;
	font-size:				1rem;
	left:					-1rem;
	top:					-2.6666667rem;
	height:					2.6666667rem;
	width:					0;
	transition:				transform 300ms ease-out;
}


ic-map-item-marker .content {
	position:				relative;
	box-sizing:				border-box;
	top:					0;
	padding:				0.25rem 0;
	margin-left:			2rem;
	background-color:		#fff;
	height:					2rem;
	text-align:				left;
	width:					0;
	overflow:				hidden;
	transition:				all 150ms ease-in;
}

ic-map-item-marker .outer-icon {
	position:				absolute;
	top:					0;
	left:					0;
	width:					2rem;
	height:					2.666666666rem;
	line-height:			2rem;
	background-position:	50% 50%;
	background-size:		2rem auto;
	background-repeat:		none;
}

ic-map-item-marker .outer-icon .inner-icon {
	position:				absolute;
	top:					0;
	left:					0;
	height:					2rem;
	width:					2rem;
	background-repeat:		no-repeat;
	background-size:		2rem;
	background-position:	center;
}


ic-map-item-marker .content .title  {
	display: 				block;
	white-space: 			nowrap;
	text-overflow:			ellipsis;
	font-size:				0.7rem;
	line-height:			0.8rem;
	height:					0.8rem;
	font-weight:			600;
	overflow:				hidden;
}

ic-map-item-marker .content .details  {
	display: 				block;
	white-space: 			nowrap;
	text-overflow:			ellipsis;
	font-size:				0.6rem;
	line-height:			0.7rem;
	height:					0.7rem;
	font-weight:			400;
	overflow:				hidden;
}

ic-map-item-marker:hover .content {
	width:					14rem;
	padding-left:			0.25rem;
	padding-right:			0.25rem;
}


/*.ic-map-marker-shadow {
	position:				absolute;
	left:					-1rem;
	top:					-2.6rem;
	width:					2rem;
	height:					2.666667rem;
	background-image:		url('../images/marker_shadow.svg');
	background-size:		2rem auto;
	background-repeat:		no-repeat;
	background-position:	50% 50%;
	transition:				transform 300ms ease-out;
}
*/


/* cluster */

ic-map-cluster-marker {
	display:				block;
	position:				absolute;
	top:					0;
	height:					0;
	width:					0;
	text-align:				center;
}

ic-map-cluster-marker:hover {
	z-index:				9999 !important;
}

ic-map-cluster-marker .wrapper {
	position:				absolute;
	left:					-1rem;
	bottom:					0;
}

ic-map-cluster-marker ic-map-item-marker {
	position:				relative;
	display:				block;
	top:					0;
	left:					0;
	height:					2.666667rem;
	transition:				margin-top 100ms ease-in;
}

ic-map-cluster-marker ic-map-item-marker:hover {
	z-index:				0 !important;
}


ic-map-cluster-marker ic-map-item-marker + ic-map-item-marker {
	margin-top:			-2.4rem;
}


ic-map-cluster-marker:hover ic-map-item-marker + ic-map-item-marker {
	margin-top:			-0.6rem

}

ic-map-cluster-marker ic-map-item-marker + ic-map-item-marker .outer-icon{
	box-shadow:				0 -1px 0 0 #fff;
}


ic-map-cluster-marker:hover ic-map-item-marker + ic-map-item-marker .outer-icon{
	box-shadow:				none !important;
}


ic-map-switch-control button,
ic-map-expand-control button {
	display:				block;
	width:					2.5rem;
	height:					2.5rem;
	background-repeat:		no-repeat;
	background-position:	50% 50%;
	background-size:		2.5rem;
}

ic-map-switch-control button,
ic-map-switch-control button:hover,
ic-map-switch-control button:active,
ic-map-expand-control button,
ic-map-expand-control button:hover,
ic-map-expand-control button:active {
	background-color:		transparent !important;
}




ic-map ic-spinner {
	font-size:				3rem;
}






ic-mini-map {
	display:				block;
	height:					12rem;
}





