@media print{

	.screen-only {
		display:			none !important;
	}

	.print-only {
		display:			block;
	}


	body, 
	html {
		overflow:			auto;
		font-size:			initial !important;
		height:				100%;
	}


	ic-header {
		display:			none;
	}

	ic-overlays {
		display:			none;
	}


	 
	ic-main-content {
		height:				100%; 
	}

	ic-main-content > * {
		display:			none !important;
		width:				auto;
	}

	ic-main-content > #section-item {
		display:			block !important;
		box-sizing:			border-box;
		height:				100%;
		padding:			0 !important;
		overflow: 			visible !important;
	}






	ic-main-content {
		position:			relative;
		display:			block;
		top:				0;
		left:				0;
		height:				100%;
	}


	ic-main-content > section {
		width:				auto !important;
		overflow:			visible !important;
		padding:			0;
	}

	ic-main-content > section > * {
		display:			none;
	}

	ic-main-content > section > ic-item-full {
		display:			block;
		box-sizing:			border-box;
		padding-top:		3rem;
		width:				100%;
		height:				100%;
		padding-bottom:		0;
	}


	ic-item-full .main,
	ic-item-full .type {
		width:				48% !important;
	}

	ic-item-full .category {
		width:				40% !important;
	}


	ic-item-full header{
		display:			none;
	}

	ic-item-full article {
		padding:			0;
	}

	ic-item-full .type {
		position:			absolute;
		display:			block;
		top:				0;
		left:				0;
		border-top:			0.3rem solid #000;
		line-height:		2rem;
		font-size:			1.1rem;
		color:				#000 !important;
		font-weight:		500 !important;
	}


	ic-item-full .category{
		display:			block;
		position:			absolute;
		top:				0;
		right:				0;
		line-height:		2rem;
		font-size:			1.1rem;
		color:				#000 !important;
		font-weight:		500 !important;
		margin:				0;
		border-top:			0.3rem solid #000;
		color:				#000 !important;
	}

	ic-item-full .category .img:before{
		display:			inline-block;
		left:				50%;
		width:				auto;
		height:				0;
		transform:			scale(5);
	}

	ic-item-full .main {
		position:			absolute;
		line-height:		1.4;
		font-weight:		300;
	}

	ic-item-full .main > *:first-child {
		display:			none;
	}

	ic-item-full ic-item-property {
		padding-right:		0;
	}

	ic-item-full ic-item-property > *:nth-child(1){
		padding-top:		0.5rem;
	}

	ic-item-full ic-item-property > *:nth-child(2){
		flex:				0 0 40%;
	}

	ic-item-full ic-item-property .title{
		border-top:			1px solid #000;
		padding-top:		0.5rem;
	}

	ic-item-full ic-item-property:nth-of-type(1){
		margin-top:			8rem;
	}

	ic-item-full footer {
		position:			absolute;
		display:			flex !important;
		align-items:		center;
		bottom:				0;
		left:				0;
		right:				0;
	}

	ic-item-full footer .logo {
		flex:				0 0 auto;
	}

	ic-item-full footer .link-to-item {
		flex:				1 0 auto;
		text-align:			right;
	}



/*

	ic-item-full ic-item-property {
		display:			block;
		box-sizing:			border-box;
		width:				100%;
		margin:				1.5rem 0;
		padding-left:		60%;
	}



	ic-item-full ic-item-property .title{
		padding-top:		0.5rem;
		border-top:			1px solid #000;
		margin-left:		0;
	}

	ic-item-full ic-item-property .content {
		margin-left:		0;
		color:				#444 !important;
		font-size:			0.85em;
		font-weight:		300;
		line-height:		1.4em;
	}
	ic-item-full ic-item-property .content a {
		color:				#444 !important;
	}

	ic-item-full ic-item-property .icon {
		margin-top:			0.5rem;
		margin-left:		-3rem;
	}
















	ic-main-content ic-item-full .description {
		position:			absolute;
	}


	


	ic-main-content ic-item-full  qrcode {
		display:			block;
		width:				20%;
		margin-top:			3rem;
		margin-bottom:		1rem;
		margin-left:		70%;
		margin-right:		10%;
	} 

	ic-main-content ic-item-full .link-to-item {
		position:			absolute;
		display:			block;
		width:				40%;
		margin-top:			1rem;
		margin-bottom:		0;
		margin-left:		60%;
		margin-right:		0%;
		text-align:			center;
	}

	ic-main-content ic-item-full .logo{
		display:			block;
		position:			absolute;
		font-size:			1.4rem;
		left:				0;
		bottom:				0;
		margin-bottom:		0 !important;
		margin-right:		auto;
		font-weight:		300;
	}

	ic-main-content ic-item-full .url{
		position:			absolute;
		bottom:				0;
		right:				0;
	}

	ic-main-content ic-item-full  footer {
		float:				none;
		clear:				both;
	} 

	ic-main-content ic-item-full  footer * {
		display:			none;
	}


	ic-header {
		display:			none !important;
	}

	*/
}