@media print{

	* {
		color:							#000 !important;
		overflow: 						hidden !important;
		-webkit-print-color-adjust: 	exact !important;	/* Chrome, Safari */
		color-adjust: 					exact !important;	/*Firefox*/
	}

	.screen-only {
		display:			none !important;
	}

	.print-only {
		display:			block;
	}


	body, 
	html {
		overflow:			auto;
		font-size:			12px !important;
		height:				100%;
	}


	ic-header {
		display:			none;
	}

	ic-overlays {
		display:			none;
	}




	ic-main-content, 
	[ic-main-content] {
		position:			relative;
		display:			block;
		top:				0;
		left:				0;
		height:				100%;
	}
	 

	ic-main-content 	> *,
	[ic-main-content]	> * {
		display:			none !important;
		width:				auto;
	}

	ic-main-content 	> * + * ,
	[ic-main-content] 	> * + * {
		margin:				0;
	}

	ic-main-content 	> #section-item, 
	[ic-main-content]	> #section-item {
		display:			block !important;
		box-sizing:			border-box;
		height:				100%;
		padding:			0 !important;
		overflow: 			visible !important;
		background-color:	#fff;
		margin:				0 !important;
	}



	ic-main-content		> section,
	[ic-main-content]	> section {
		width:				auto !important;
		overflow:			visible !important;
		padding:			0;
	}

	ic-main-content		> section > * ,
	[ic-main-content] 	> section > * {
		display:			none;
	}

	ic-main-content 	> section > ic-item-full,
	[ic-main-content] 	> section > ic-item-full {
		display:			block;
		box-sizing:			border-box;
		padding-top:		6rem;
		width:				100%;
		height:				100%;
		padding-bottom:		0;
	}

	ic-spinner {
		display:			none;
	}

	ic-item-full {
		padding:			0 !important;
	}

	ic-item-full .spacer {
		height:				5rem;
	}

	ic-item-full .main,
	ic-item-full .type {
		box-sizing: 		border-box;
		width:				calc(50% - 1rem) !important;
	}

	ic-item-full .main {
		top:				2rem;
	}



	ic-item-full header{
		display:			none;
	}

	ic-item-full article {
		padding:			0;
	}

	ic-item-full > section {
		padding-top:		3rem;
		padding-left:		calc(60% - 4rem);
	}

	ic-item-full > section > * {
		padding:			0;
	}


	ic-item-full > section > * > :nth-child(1) {
		flex:				0 0 0;
		width:				3rem ;
	}

	ic-item-full .type {
		position:			absolute;
		display:			block;
		top:				0rem;
		left:				0;
		border-top:			0.3rem solid #000;
		line-height:		2rem;
		font-size:			1.1rem;
		color:				#000 !important;
		font-weight:		500 !important;
	}



	ic-item-full .category{
		width:				40% !important;		
		display:			block;
		position:			absolute;
		top:				0;
		right:				0;
		line-height:		2rem;
		font-size:			1.1rem;
		color:				#000 !important;
		font-weight:		500 !important;
		margin:				0;
		border-top:			0.3rem solid #000;
		color:				#000 !important;
	}

	ic-item-full .category .icon {
		background-size:	contain;
		height:				5rem;
		width:				5rem;
		margin:				auto;
	}

	ic-item-full .main {
		position:			absolute;
		display:			block;
		left:				0;
		line-height:		1.4;
		font-weight:		300;
		padding-left: 		0 !important;
		padding-right: 		0 !important;
	}

	ic-item-full .main > *:first-child {
		display:			none;
	}

	ic-item-full .main .description {
		font-size:			14px;
		line-height:		1.3 !important;
	}

	ic-item-property.print-only {
		display:			flex !important;
	}

	ic-item-property:after,
	ic-item-full > article:after {
		display:			none;
		content:			none;
		flex:				1 0 0;
	}

	ic-item-full ic-item-property {
		padding-right:		0;
		font-size:			1em; /*9pt;*/
		margin:				1rem 0;
	}
	
	ic-item-full ic-item-property .content{
		line-height:		1.5 !important;
	}

	ic-item-full ic-item-property > *:nth-child(1){
		padding-top:		0.5rem;
	}



	ic-item-property:not(.short) .icon {
		background-position:	100% 0.7rem;
		background-size:		1.25rem;
	}


	ic-item-full footer {
		position:			fixed;
		display:			flex !important;
		align-items:		flex-end;
		flex-wrap: 			wrap;
		bottom:				0;
		left:				0;
		right:				calc(50% - 1rem);
	}

	ic-item-full footer .logo {
		flex:				2 1 0;		
		height: 			1em;
		font-size: 			3rem;
	}

	ic-item-full footer .logo > * {
		width: 				100%;
		height: 			100%;
	}

	ic-item-full footer .qrcode {
		flex: 				0 0 auto;
		margin:				0;
		width:				2.5cm;
		height:				2.5cm;
	}

	ic-item-full footer .qrcode qrcode {
		display:			block;
		margin:				0;
		padding:			0;
		height:				100%;
		width:				100%;
	}

	ic-item-full footer .link-to-item {
		display:			none !important;
	}


}