textarea, 
input, 
button, 
select { 
	font-family: 		inherit; 
	font-size: 			inherit; 
}


/* common  MAYBE outsource to extra css*/
a {
	text-decoration:	none;
	color:				inherit;
	cursor:				pointer;
}

p {
	line-height:		1.4em;
}



ul {
	margin:				0;
	padding:			0;
	list-style:			none;
}

ul li {
	margin:				0;
	padding:			0;
}


input, 
button, 
button:active,
button:hover,
button:focus {
	display:			inline-block;
	border:				none;	
	border-style:		none;
	font-size:			inherit;
}




button::-moz-focus-inner {
    padding:0;
    border:0;
}


button {
	cursor:				pointer;
	background-color:	transparent;
	border-radius:		0;
	padding:			0;
	margin:				0;
}

button::-moz-focus-inner {
	border:				0;
	padding:			0;
}



h1,h2,h3,h4,h5,h6 {
	font-weight:			500;
	line-height:			1.4em;
}


h1 {
	font-size:				1.92rem;
}



textarea,
form [contenteditable]{
	display:				block;
	box-sizing:				border-box;
	width:					100%;
	background-color:		#eee;
	padding:				0.5rem 1rem;
	margin:					0.5rem 0;
	border:					0 none;
	resize: 				none;
	overflow:				hidden;
	border-radius:			0;
	font-size:				1rem;
}

input {
	display:				block;
	box-sizing:				border-box;
	background-color:		#eee;
	font-size:				1rem;
	line-height:			2rem;
	width:					100%;
	padding:				0 1rem;
	margin:					0.5rem 0;
	min-width:				0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active{
	box-shadow:				0 0 0 1000rem #eeeeee inset;
	color:					inherit;
}



input[type=text],
input[type=password]{
	width:					100%;
	padding:				0.5rem 0.5rem 0.5rem 0.5rem;
	box-sizing:				border-box;
	border-radius:			0;
	font-size:				1.2rem;
	line-height:			1.5rem;
	text-align:				left;
	-webkit-appearance: 	none;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	box-shadow:				0 0 0 1px #000 inset;
} 

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus{
	box-shadow:				0 0 0 1000rem #eeeeee inset, 0 0 0 1px #000 inset !important;
	color:					inherit;	
}


a,
button {
	transition: 		all 150ms ease-in;
	transform: 			scale(1);
} 


:focus-visible {
	display:			inline-block;
	border:				none;	
	border-style:		none;
	font-size:			inherit;
	box-shadow: 		0 0 0 0.1rem \var(--primary-background-color), 0 0 0 0.33rem \var(--focus-color);
	outline: 			none;
	transform: 			scale(1.2);
	z-index: 			99999;
}








.nondescript {
	opacity:				0.5;
	font-size:				0.8rem;
}

.ws-pre-line {
	white-space: 			pre-line;
}

.iblock {
	display:				inline-block !important;
}



.transparent {
	opacity:				0.5;
}


/* flex */

.flex {
	display:				flex;
}


.flex-grow {
	flex:					1 0 0;
}

.flex-space {
	margin:					-0.5em;
}

.flex-space > * {
	margin:					0.5em;
}

.flex-wrap {
	flex-wrap:				wrap;
}

.margin-left {
	margin-left:			0.5rem;
}

.margin-right {
	margin-right:			0.5rem;
}


.flex-shrink {
	flex:					0 1 auto;
	text-overflow: 			ellipsis;
	white-space:			nowrap;
	overflow:				hidden;
}

.spacer {
	flex:						1 0 0 !important;
}

.block {
	display:					block !important;
}

.tac {
	text-align:					center;
	justify-content:			center;
}


.tar {
	text-align:					right;
}


.tal {
	text-align:					left;
}



/* aligns */

.fleft {
	float:					left;
}

.fright {
	float:					right;
}

.tright {
	text-align:				right;
}

.tleft {
	text-align:				left;
}

.vbottom {
	vertical-align:			bottom;
}

.xjust{
	display:				flex !important;
	justify-content:		space-between;
	align-items:			flex-start;
}

.xvcenter{
	display:				flex !important;
	flex-direction:			row;
	justify-content:		center;
	align-items:			center;
}

.wsp {
	white-space:			pre;
}

/* size */

.small {
	font-size:				0.9em;
}



/* weight */

.light {
	font-weight:			300;
}

.normal {
	font-weight:			normal !important;
}

.heavy {
	font-weight:			500;
}

.bold-links a {
	font-weight:			bold;
}

.underline-links a {
	text-decoration:		underline;
}


.annotation {
	font-size:				0.8em;
	margin:					0.5rem 0;
	color:					#888;
}

.pointer {
	cursor:					pointer;
}

.no-clip {
	text-overflow:			initial !important;
	max-width:				100% !important;
}

.remote {
	color:					var(--neutral-color);
	border:					solid 1px var(--neutral-color);
	float:					right;
	line-height:			3ex;
	border-radius:			1em;
	font-size:				0.85rem;
	padding:				0 1em;	
	font-weight:			normal;
	margin-left:			0.5em;
}


svg {
	overflow: 				hidden !important;
}