<h2>{{'INTERFACE.ABOUT_HEADING' | translate}}</h2>

<p ng-bind-html = "'INTERFACE.ABOUT_PARAGRAPH_0_1' | translate | linky : '' : {class: 'highlight'}"></p>
<img src = "/images/infopoint-scharnweberstrasse_01.jpg"/>
<p ng-bind-html = "'INTERFACE.ABOUT_PARAGRAPH_0_2' | translate"></p>
<img src = "/images/infopoint-scharnweberstrasse_03.jpg">


<h3>{{'INTERFACE.ABOUT_SUBHEADING_1' | translate}}</h3>

<p ng-bind-html = "'INTERFACE.ABOUT_PARAGRAPH_1_1' | translate | linky : '' : {class: 'highlight'}"></p>
<p ng-bind-html = "'INTERFACE.ABOUT_PARAGRAPH_1_2' | translate | linky : '' : {class: 'highlight'}"></p>
<p ng-bind-html = "'INTERFACE.ABOUT_PARAGRAPH_1_3' | translate | linky : '' : {class: 'highlight'}"></p>
<img src = "/images/infopoint-scharnweberstrasse_02.jpg">


<h3>{{'INTERFACE.ABOUT_SUBHEADING_2' | translate}}</h3>

<p ng-bind-html = "'INTERFACE.ABOUT_PARAGRAPH_2_1' | translate | linky : '' : {class: 'highlight'}"></p>
<p ng-bind-html = "'INTERFACE.ABOUT_PARAGRAPH_2_2' | translate | linky : '' : {class: 'highlight'}"></p>


<h3>{{'INTERFACE.ABOUT_SUBHEADING_3' | translate}}</h3>

<p ng-bind-html = "'INTERFACE.ABOUT_PARAGRAPH_3_1' | translate | linky : '' : {class: 'highlight'}"></p>
<p ng-bind-html = "'INTERFACE.ABOUT_PARAGRAPH_3_2' | translate | linky : '' : {class: 'highlight'}"></p>
<p ng-bind-html = "'INTERFACE.ABOUT_PARAGRAPH_3_3' | translate | linky : '' : {class: 'highlight'}"></p>
<p ng-bind-html = "'INTERFACE.ABOUT_PARAGRAPH_3_4' | translate | linky : '' : {class: 'highlight'}"></p>

<ul>
	<li>Integrationsbeauftragte des <a class ="highlight" href="http://www.berlin.de/ba-reinickendorf/">Bezirksamtes Reinickendorf</a></li>
	<li><a class ="highlight" href="http://www.albatrosggmbh.de">Albatros gGmbH</a></li>
	<li>Designgruppe <a class ="highlight" href="http://place-making.org">place/making (Konzept, Design und Umsetzung)</a></li>
</ul>

<br/>
<br/>

<small>
	<a 
		class	= 	"highlight"
		href	=	"https://github.com/InfoCompass/client"
	>
		project on github
	</a>
</small>