<div ng-if = "category || ic.site.filterByType.length || ic.site.searchTerm || subCategories.length || ic.site.filterByUnsortedTag.length || c.site.activeItem">
	<span>
	<a class = "active" href = "/">{{'INTERFACE.HOME' | translate}}</a>
	</span>
</div>



<!-- categories -->

<div 
	ng-if 		= "category"
	class		= "flex-shrink"
>
	<span class = "icon icon-interface-right left plain"></span>

	<a class = "active" href = "/p/tags">{{'INTERFACE.CATEGORIES' | translate}}</a>
</div>

<div 
	ng-if 		= "category"
	class		= "flex-shrink"
>
	<span class = "icon icon-interface-right left plain"></span>

	<a 
		class 	= "active" 
		ng-href = "/list/c/{{category.name}}"
	>
		{{'CATEGORIES.%s' | fill : category.name | translate}}
	</a>
</div>

<div 
	ng-repeat 	= "category_name in subCategories"
	class		= "flex-shrink"
>
	<span class = "icon icon-interface-right left plain"></span>
	<a 	
		class 		= "active" 
		ng-href 	= "list/c/{{category_name}}"	
	>
		{{'CATEGORIES.%s' | fill : category_name | translate}}
		<span ng-if = "!$last">, </span>
	</a>	
</div>



<!-- search -->

<div ng-if 		= "ic.site.searchTerm">
	<span class = "icon icon-interface-right left plain"></span>
	<a 
		class 	= "active"
		ng-href = "list/s/{{ic.site.searchTerm}}" 
	>
		{{'INTERFACE.SEARCH_FOR' | translate}} "{{ic.site.searchTerm}}"
	</a>
</div>

<!-- types -->

<div 
	ng-repeat = "type_name in ic.site.filterByType"
	class		= "flex-shrink"
>

	&nbsp; | &nbsp;

	<a 
		class 		= "active"
		ng-href		= "/list/t/{{type_name}}"
	> 
		{{'TYPES.%s' | fill : type_name | translate}} 
		<span ng-if = "!$last">, </span>

	</a>
</div>



<!-- unsorted -->

<div 
	ng-repeat 	= "tag in ic.site.filterByUnsortedTag"
	class		= "flex-shrink"
>
	
	<a 
		class 		= "active" 
		ng-href		= "/list/u/{{tag_name}}"
	> 
		{{'UNSORTED_TAGS.%s' | fill : tag | translate}}{{$last ? '' :',&nbsp'}} 
	</a>

</div>


<!-- item -->


<div ng-if = "ic.site.activeItem">	
	<span class = "icon icon-interface-right left plain"> {{ic.site.activeItem.title}}</span>
</div>
