<span> Home </span>
<span ng-if = "!ic.site.searchTerm">&gt; Liste</span>
<span ng-if = "ic.site.searchTerm">&gt; Suche nach "{{ic.site.searchTerm}}"</span>

<span ng-if = "ic.site.filterByType.length"> 
	&gt; <span> {{ic.site.filterByType[0] | uppercase | translate}} </span>
</span>

<span 	ng-if = "ic.site.filterByCategory.length">
	&gt; {{'CATEGORIES' | translate}}:
	<span ng-repeat = "category in ic.site.filterByCategory"> {{category.name | uppercase | translate}} </span>
</span>

<span ng-if = "ic.site.filterByUnsortedTags.length">
	&gt; {{'UNSORTED_TAGS' | translate }}:
	<span ng-repeat = "tag in ic.site.filterByUnsortedTag"> {{tag | uppercase | translate}} </span>
</span>