<div 
	class 		= "shuttle"
	ng-click	= "carousel.position = carousel.position + 1"
>
	<div 
		ng-repeat 	= "pos in ['before', 'center', 'after']"
		class		= "{{pos}}"
	>
		<div 
			ng-repeat 	= "image in carousel.images track by $index" 
			style		= "{{image.style}}"
			class		= "image {{image.class}}"
		>
		</div>
	</div>

</div>
<nav>
	<button 
		ng-repeat 	= "image in carousel.images"
		ng-click 	= "carousel.position = $index" 
		ng-class	= "{'bg-3': carousel.position == $index, 'bg-0': carousel.position != $index }"
		class		= "round"
		tabindex	= "-1"
	>
	</button>
</nav>

<ng-transclude></ng-transclude>