
<div 
	class = "tags"
	ng-if = "icFilterConfig.filterBy.topics.length || icFilterConfig.filterBy.targetGroups.length || icFilterConfig.filterBy.state"
>

	<!--TOPICS -->
	<a 	
		ng-repeat = "topic in icFilterConfig.filterBy.topics"
		ng-click  = "icFilterConfig.toggleFilter('topics', topic)" 
	>
		<span class ="icon icon-nav-close"></span>
		{{"TOPICS.%s" | fill : topic |translate}}
	</a>


	<!--TARGET_GROUPS -->
	<a 
		ng-repeat = "targetGroup in icFilterConfig.filterBy.targetGroups"
		ng-click  = "icFilterConfig.toggleFilter('targetGroups', targetGroup)" 
	>
		<span class ="icon icon-nav-close"></span>
		{{"TARGET_GROUPS.%s" | fill : targetGroup |translate}}
	</a>


	<!--TARGET_GROUPS -->
	<a 
		ng-if		= "icFilterConfig.filterBy.state"
		ng-click  	= "icFilterConfig.filterBy.state = undefined" 
	>
		<span class ="icon icon-nav-close"></span>
		{{"INTERFACE.ITEM_STATE_%s" | fill: icFilterConfig.filterBy.state | translate}}
	</a>

</div>




<div 
	class = "controls"
	ng-show = "!showSortOnly && !showFilterOnly"
>	
	<button
		ng-class	= "{'active': open == 'sort'}"
		ng-click 	= "toggleSortPanel()" 
		ic-touch-me
	>
		{{"INTERFACE.SORT" | translate}}
	</button><!--

 --><button
		ng-class	= "{'active': open == 'filter'}"
		ic-click 	= "toggleFilterPanel()" 
		ic-touch-me
	>
		{{"INTERFACE.FILTER" | translate}}
	</button>
</div>



<div 
	class 	= "panel sort"
	ng-if 	= "open == 'sort'" 
>
	<a
		ng-click	= "icFilterConfig.reverse = !icFilterConfig.reverse" 
		ng-class 	= "{'icon-interface-checkbox-selected' :icFilterConfig.reverse, 'icon-interface-checkbox': !icFilterConfig.reverse}"
		ic-touch-me
	> {{'INTERFACE.SORT_REVERSE' | translate }}</a>

	<hr/>

	<a 
		ng-click	= "icFilterConfig.orderBy = 'title'"
		ng-class 	= "{'icon-interface-radio-selected' : icFilterConfig.orderBy == 'title', 'icon-interface-radio': icFilterConfig.orderBy != 'title'}"
		ic-touch-me
	> 
		{{'INTERFACE.SORT_TITLE' | translate}}
	</a>


	<a 
		ng-show		= "['events', 'services'].indexOf(icFilterConfig.filterBy.type) != -1"
		ng-click	= "icFilterConfig.orderBy = 'start_date'"
		ng-class 	= "{'icon-interface-radio-selected' : icFilterConfig.orderBy == 'start_date', 'icon-interface-radio': icFilterConfig.orderBy != 'start_date'}"
		ic-touch-me
	> 
		{{'INTERFACE.SORT_DATE' | translate}}
	</a>

	<a 
		ng-show		= "icUser.can('edit_items')"
		ng-click	= "icFilterConfig.orderBy = 'created_on'"
		ng-class 	= "{'icon-interface-radio-selected' : icFilterConfig.orderBy == 'created_on', 'icon-interface-radio': icFilterConfig.orderBy != 'created_on'}"
		ic-touch-me
	> 
		{{'INTERFACE.SORT_CREATION_DATE' | translate}}
	</a>

		<a 
		ng-show		= "icUser.can('edit_items')"
		ng-click	= "icFilterConfig.orderBy = 'last_edit_on'"
		ng-class 	= "{'icon-interface-radio-selected' : icFilterConfig.orderBy == 'last_edit_on', 'icon-interface-radio': icFilterConfig.orderBy != 'last_edit_on'}"
		ic-touch-me
	> 
		{{'INTERFACE.SORT_LAST_EDIT' | translate}}
	</a>


</div>





<div 
	class 	= "panel filter"
	ng-if	= "open == 'filter'" 
>

	<a 
		class		= "heavy"
		ng-class	= "{'icon-interface-arrow-right': !expand.topics, 'icon-interface-arrow-down': expand.topics}" 
		ic-click 	= "expand.topics = !expand.topics"
		ic-touch-me
	>
		{{"INTERFACE.TOPICS" | translate}}
	</a>

	<div ng-if = "expand.topics">
		<a 
			ng-click 	= "icFilterConfig.clearFilter('topics')" 
			ng-class 	= "{'icon-interface-checkbox-selected' : icFilterConfig.matchFilter('topics', undefined), 'icon-interface-checkbox': !icFilterConfig.matchFilter('topics', undefined)}"
			ic-touch-me
		>
			{{"INTERFACE.TOPICS_ALL" | translate}}
		</a>
		<a 
			ng-repeat 	= "topic in icConfigData.topics | orderBy : 'toString()| uppercase | prepend: \'TOPICS.\' |translate'"
			ng-click 	= "icFilterConfig.toggleFilter('topics', topic)" 
			ng-class 	= "{'icon-interface-checkbox-selected' : icFilterConfig.matchFilter('topics', topic), 'icon-interface-checkbox': !icFilterConfig.matchFilter('topics', topic)}"
			ic-touch-me			
		>
			{{topic | uppercase | prepend: "TOPICS." |translate}}
		</a>
	</div>



	<hr/>



	<a 
		class		= "heavy"
		ng-class	= "{'icon-interface-arrow-right': !expand.targetGroups, 'icon-interface-arrow-down': expand.targetGroups}" 
		ic-click 	= "expand.targetGroups = !expand.targetGroups"
		ic-touch-me
	>
		{{"INTERFACE.TARGET_GROUPS" | translate}}
	</a>

	<div ng-if = "expand.targetGroups">
		<a 
			ng-click 	= "icFilterConfig.clearFilter('targetGroups')" 
			ng-class 	= "{'icon-interface-checkbox-selected' : icFilterConfig.matchFilter('targetGroups', undefined), 'icon-interface-checkbox': !icFilterConfig.matchFilter('targetGroups', undefined)}"
			ic-touch-me			
		>
			{{"INTERFACE.TARGET_GROUPS_ALL" | translate}}
		</a>
		<a 
			ng-repeat 	= "targetGroup in icConfigData.targetGroups | orderBy : 'toString()| uppercase | prepend: \'TARGET_GROUPS.\' |translate'"
			ng-click 	= "icFilterConfig.toggleFilter('targetGroups', targetGroup)" 
			ng-class 	= "{'icon-interface-checkbox-selected' : icFilterConfig.matchFilter('targetGroups', targetGroup), 'icon-interface-checkbox': !icFilterConfig.matchFilter('targetGroups', targetGroup)}"
			ic-touch-me			
		>
			{{targetGroup | uppercase | prepend: "TARGET_GROUPS." |translate}}
		</a>
	</div>



	<hr ng-if		= "icUser.can('edit_items')"/>



	<a 
		class		= "heavy"
		ng-if		= "icUser.can('edit_items')"
		ng-class	= "{'icon-interface-arrow-right': !expand.state, 'icon-interface-arrow-down': expand.state}" 
		ng-click 	= "expand.state = !expand.state"
		ic-touch-me
	>
		{{"INTERFACE.ITEM_STATE" | translate}}
	</a>

	<div ng-if = "expand.state && icUser.can('edit_items')">

		<a 
			ng-click 	= "icFilterConfig.filterBy.state = undefined" 
			ng-class 	= "{'icon-interface-radio-selected' : !icFilterConfigfilterBy.state, 'icon-interface-radio': icFilterConfig.filterBy.state}"
			ic-touch-me			
		>
			{{"INTERFACE.ITEM_STATE_ALL" | translate}}
		</a>

		<a 
			ng-repeat 	= "state in  ['published', 'draft', 'suggestion', 'archived']"
			ng-click 	= "icFilterConfig.filterBy.state = state" 
			ng-class 	= "{'icon-interface-radio-selected' : icFilterConfig.filterBy.state == state, 'icon-interface-radio': icFilterConfig.filterBy.state != state}"
			ic-touch-me			
		>
			{{'INTERFACE.ITEM_STATE_%s' | fill : state |translate}}
		</a>
	</div>





</div>
