<article ng-if = "ic.site.activeItem">


	<h2 ng-if = "ic.site.activeItem.state == 'new' && icUser.can('add_new_items')"> 		{{ 'INTERFACE.ADD_NEW_ITEM'		| translate }}</h2>
	<h2 ng-if = "ic.site.activeItem.state == 'new' && icUser.can('suggest_new_items')"> 	{{ 'INTERFACE.SUGGEST_NEW_ITEM'	| translate }}</h2>

	<div ng-if = "icUser.can(edit_items)" class = "last-edit"> {{'INTERFACE.LAST_EDIT' | translate}}: {{ic.site.activeItem.lastEdit | icDate}}</div>

	<ic-spinner active = "ic.site.activeItem.downloading"></ic-spinner>


	<!-- start item title -->

	<h2 class 	= "title" >
		<span class = "iblock">
			{{ ic.site.activeItem.title }}
		</span>

	</h2>

	<!-- end item title -->




	<!-- definition -->

	<h3 class 	= "definition"> {{ ic.site.activeItem.brief[ic.languages.currentLanguage || 'en'] }}</h3>



	<!-- topic and targets groups -->


	<div class 	= "topics-and-target-groups highlight">
		<a 
			ng-repeat 	= "tag in ic.site.activeItem.tags"
			class		= "highlight"
			ng-href		= "/tp/{{tag}}"
		>{{tag | uppercase }}</a>

		<img 
			class		= "print-only"
			ng-src 		= "/images/icon_tag_{{ic.site.activeItem.tags[0]}}_black.svg" 
		/>
	</div>

	<hr />

	<div 
		ng-if = "icUser.can('edit_items') && ic.site.activeItem.comment"
		class = "nondescript screen-only wsp"
	>{{ic.site.activeItem.comment}}</div> <!-- dont insert linebreaks here -->

	<div class = "logo print-only">
		<ic-text-logo></ic-text-logo> Berlin
	</div>

	<div class = "url print-only">
		www.info-compass.net
	</div>


</article>

