<!-- tools -->

<div class 	= "tools">

	<a href = "/p/home" class = "text-logo"> <ic-logo-text></ic-logo-text></a>

	<a 
		class 		= "icon-interface-search white"
		ic-click 	= "toggle_search = !toggle_search"
	>
		<span>{{'SEARCH' | translate}}</span>
	</a>
	
	<ic-search ng-show = "toggle_search"></ic-search>

	<a 
		class	= "icon-interface-favourites white"
	>
		<span>{{'FAVORITES' | translate}}</span>
	</a>
	<a
		class	= "icon-interface-help white"
	>
		<span>{{'HELP' | translate }}</span>
	</a>

	<a
		class	= "icon-interface-languages white"
	>
		<span>{{'LANGUAGE' | translate}}</span>
	</a>

</div>



<!-- logo -->
<div 
	class 					= "logo"
>
	<a ng-href = "/p/home"><ic-logo-full></ic-logo-fullsys></a>
</div>




<!-- menu -->

<ic-main-menu></ic-main-menu>
