<!-- tools -->

<div class 	= "tools bg-3">

	<a href = "/p/home" class = "text-logo"> <ic-logo-text></ic-text-logo></a>

	<a 
		class 		= "icon-large left icon-interface-search white"
		ic-click 	= "toggle_search = !toggle_search"
	>
		<span>{{'INTERFACE.SEARCH' | translate}}</span>
	</a>
	
	<ic-search 
		ng-if 		= "toggle_search"
		ic-focus	= "true"
	></ic-search>

	<a 
		class	= "icon-large left icon-interface-favourites white"
		ng-href	= "/p/tiles/u/favourite"
	>
		<span>{{'INTERFACE.FAVOURITES' | translate}}</span>
	</a>

<!-- 	
	<a
		class	= "icon-large left icon-interface-help white"
	>
		<span>{{'INTERFACE.HELP' | translate }}</span>
	</a>
 -->
 
  
	<a
		class		= "icon-large left icon-interface-languages white"
		ng-click	= "ic.overlays.open('languageMenu')" 
	>
		{{'INTERFACE.LANGUAGES' | translate}}
	</a>


</div>



<!-- logo -->
<div 
	class 					= "logo bg-3"
>
	<a ng-href = "/p/home"><ic-logo-full></ic-logo-fullsys></a>
</div>




<!-- menu -->

<div class = "bg-3">
	<ic-main-menu></ic-main-menu>
</div>

<!-- breadcrumbs -->
<div 
	class = "bg-1 breadcrumbs"
	ng-if = "ic.site.visibleSections.list || ic.site.visibleSections.item"
>
	<ic-breadcrumbs class = "bg-0"></ic-breadcrumbs>
</div>
