<header >
	<div class = "tools">
		<a 
			class 		= "icon icon-interface-close"
			ng-click 	= "ic.site.activeItem = null" 
		>
		</a>

		<ic-spinner active = "item.downloading"></ic-spinner>	

		<div class = "main">
<!-- 			
			<button class = "icon-large round icon-interface-share drop-shadow bg-0">
			</button>
 -->
			<button 
				class 		= "icon round large active icon-interface-print drop-shadow bg-0"
				ng-click 	= "ic.site.print()" 
				title		= "{{'INTERFACE.PRINT' | translate}}"
			>

			</buton>			
			<button 
				class 		= "icon round large icon-interface-favourites drop-shadow"
				ng-class	= "{'bg-3 white': ic.favourites.contains(item), 'bg-0  active': !ic.favourites.contains(item)}"
				ng-click 	= "ic.favourites.toggleItem(item)" 
				title		= "{{'INTERFACE.FAVOURITE_%s' | fill : ic.favourites.contains(item) ? 'remove': 'add' | translate}}"
			>
			</buton>
		</div>
	</div>
	<div 
		class	= "hero" 
		style	= "background-image: url({{item.image}})"
		ng-if	= "item.image"
	></div> 
</header>



<div class = "type print-only">
	{{ 'TYPES.%s' | fill : (item | icType).name | translate }}
</div>


<div class = "category print-only">
	{{ 'CATEGORIES.%s' | fill :  (item | icCategory).name | translate }}
	<div 
		class	= "img print-only icon-category-{{ (item | icCategory).name}}"
	></div>
</div>


<!-- tags -->


<article class = "screen-only">
	<div><!-- spacer --></div>
	<ic-tag-list ic-tags = "item.tags"></ic-tag-list>
</article>



<!-- start item title, brief description -->
<article class = "main">
	<div>
		<div class = "icon white large round icon-category-{{(item|icCategory).name}} ic-bg-cat-{{(item|icCategory).name}} iblock"></div>
	</div>
	<div>
		<h2 class 	= "title" >
			{{ item.title }}
		</h2>
		<h3>
			{{ item.brief[ic.site.currentLanguage] }}
		</h3>
		<div class = "description">
			{{ item.description[ic.site.currentLanguage] }}
		</div>
	</div>
</article>
<!-- end item title -->





<!-- address -->

<ic-item-property
	ng-if			= "item.address"
	ic-title 		= "'ITEMS.ADDRESS' | translate"
	ic-content		= "item.location"
	ic-extra-lines	= "[item.address|| '-', (item.zip||'') + ' ' + (item.location||''), item.country ||'']"
	ic-extra-links	= "{'Google Maps' : (item | gmLink), 'OpenStreetMap' : (item | osmLink)}"
	ic-icon			= "'/images/icons/property-location.svg'"
>
</ic-item-property>



<!-- geo coordinates -->

<!-- <ic-mini-map
	class			= "screen-only"
	ng-if			= "item.longitude && item.latitude"
	ic-item			= "item"
>
</ic-mini-map> -->

<ic-item-property
	class			= "screen-only"
	ng-if			= "item.longitude && item.latitude && !item.address"
	ic-title 		= "'ITEMS.GEO_COORDINATES' | translate"
	ic-content		= "item.latitude + ', ' +item.longitude"
	ic-icon			= "'/images/icons/property-location.svg'"
	ic-extra-links	= "{'Google Maps' : GMLink, 'OpenStreetMap' : OSMLink}"
>
</ic-item-property>




<!-- misc -->

<ic-item-property
	ng-repeat	= "key in ['contact', 'website', 'email', 'phone']"
	ng-if		= "item[key]"
	ic-title 	= "'ITEMS.%s' | fill : key | translate"
	ic-content	= "item[key]"
	ic-icon		= "'/images/icons/property-'+key+'.svg'"
	ic-link		= "::key | icLinkPrefix"
>
</ic-item-property>


<ic-item-property
	ng-repeat	= "key in ['facebook', 'twitter', 'whatsapp']"
	ng-if		= "item[key]"
	ic-title 	= "'ITEMS.%s' | fill : key | translate"
	ic-content	= "item[key]"
	ic-icon		= "'/images/icons/property-'+key+'.svg'"
	ic-link		= "::key | icLinkPrefix"
	class		= "screen-only"
>
</ic-item-property>

<!-- start and end dates -->

<ic-item-property
	ng-if		= "item.startDate && item.endDate"
	ic-title 	= "'ITEMS.DATES' | translate"
	ic-content	= "(item.startDate | icDate) +' – '+ (item.endDate | icDate)"
	ic-icon		= "'/images/icons/property-time.svg'"
>
</ic-item-property>


<ic-item-property
	ng-if		= "item.startDate && !item.endDate"
	ic-title 	= "'ITEMS.START_DATE' | translate"
	ic-content	= "item.startDate | icDate"
	ic-icon		= "'/images/icons/property-time.svg'"
>
</ic-item-property>

<ic-item-property
	ng-if		= "item.endDate && !item.startDate"
	ic-title 	= "'ITEMS.END_DATE' | translate"
	ic-content	= "item.endDate | icDate"
	ic-icon		= "'/images/icons/property-time.svg'"
>
</ic-item-property>



<!-- hours -->

<!-- <ic-item-property
	ng-if			= "item.hours"
	ic-title 		= "'ITEMS..HOURS' | translate"
	ic-extra-lines	= "item.hours | icSplit : ','"
	ic-icon			= "'/images/icon/property-time.svg'"
>
</ic-item-property>
 -->


<div class = "qrcode">
	<qrcode 
		version					=	"3" 
		error-correction-level	=	"M" 
		size					=	"200" 
		data					=	"item | icItemLink"
		ng-if					=	"item"
		ng-click				=	"ic.overlays.open('qrcode')"
	>
	</qrcode>
</div>


<footer class  = "print-only">
	<div class = "logo print-only">
		<img src = "/images/large/logo-text.svg" />
	</div>

	<div class ="link-to-item print-only">
		{{item | icItemLink}}
	</div>

</footer>


<footer class = "screen-only bg-1">

	<button 
		class 		= "bg-0"
		title		= "{{'INTERFACE.FAVOURITE_%s' | fill : ic.favourites.contains(item) ? 'remove': 'add' | translate}}"
		ng-click 	= "ic.favourites.toggleItem(item)" 
	> 
		<span 
			class 		="icon-large left icon-interface-favourites col-3 active normal"
			ng-class	= "{'icon-interface-favourites_remove': ic.favourites.contains(item), 'icon-interface-favourites': !ic.favourites.contains(item)}"
		>
			{{'INTERFACE.FAVOURITE_%s' | fill : ic.favourites.contains(item) ? 'remove': 'add' | translate}}
		</span>
	</button>
<!-- 
	<div class ="bg-0 col-3"> <span class ="icon-large left icon-interface-share.active">mit anderen teilen</span></div>
-->
	<button 
		class 		= "bg-0 col-3"
		ng-click	= "ic.site.print()"
	> 
		<span class ="icon-large left icon-interface-print active normal">{{'INTERFACE.PRINT' | translate}}</span>
	</button>

<!-- 
	<div class ="bg-0 col-3"> <span class ="icon-large left icon-interface-edit.active">Änderungen vorschlagen</span></div>
	 -->
</footer>
