<div class = "buttons">
	<button 
		class 		= "bg-0 active"
		ng-if		= "true || ic.user.can('edit_items')"
		ng-disabled	= "!!icItem.remoteItem"
		ng-click 	= "ic.site.editItem = true" 		
		title		= 	"{{ic.user.can('edit_items')? 'INTERFACE.EDIT' : 'INTERFACE.EDIT_SUGGESTION' | translate}} {{icItem.remoteItem ? 'INTERFACE.REMOTE_ITEM_CANNOT_EDIT' : '' | translate}}"						
		ic-touch-me
	>

		<span>
			<span class 	="icon large icon-interface-edit active"></span>
			{{'INTERFACE.EDIT' | translate}}
		</span>

	</button>


	<button 
		class 		= "bg-0 active"
		ng-click 	= "ic.overlays.toggle('sharingMenu')" 
		title		= "{{'INTERFACE.SHARE' | translate}}"
		ic-touch-me
	>
		<span>
			<span class 	= "icon large icon-interface-share active"></span>
			{{'INTERFACE.SHARE' | translate}}
		</span>
	</button>

		
	<button 
		class 		= "bg-0 active"
		ng-click	= "ic.site.print()"
		title		= "{{'INTERFACE.PRINT' | translate}}"
		ic-touch-me
	> 
		<span>
			<span class ="icon large icon-interface-print active"></span>
			{{'INTERFACE.PRINT' | translate}}
		</span>

	</button>

	<button 
		class 		= "bg-0 active"
		title		= "{{'INTERFACE.FAVOURITE_%s' | fill : ic.favourites.contains(icItem) ? 'remove': 'add' | translate}}"
		ng-click 	= "ic.favourites.toggleItem(icItem)" 
		ic-touch-me
	> 

		<span>
			<span 
				class 		="icon large icon-interface-favourites active"
				ng-class	= "{'icon-interface-favourites_remove': ic.favourites.contains(icItem), 'icon-interface-favourites': !ic.favourites.contains(icItem)}"
			>
			</span>
			{{'INTERFACE.FAVOURITE_%s' | fill : ic.favourites.contains(icItem) ? 'remove': 'add' | translate}}
		</span>
	</button>

</div>

<article 
	ng-if = "(icItem|icType).name == 'location' && (ic.itemStorage.data | filter: {location_ref: icItem.id}).length"
	class = "item-list"
>
	<div class = "bg-0 padding">
		<h4>
			<span class ="icon icon-property-location_ref left"></span>
			{{'ITEMS.LINKED_ITEMS' | translate}}
		</h4>
	</div>

	<a
		ng-repeat 	= "linked_item in ic.itemStorage.data | filter: {location_ref: icItem.id}"
		ng-href 	= "{{ {activeItem: (linked_item.id | icItem) } | icLink }}"
		class		= "bg-0 block"
	>		
		<ic-item-preview 
			ic-item		= "linked_item"
		></ic-item-preview>
	</a>
</div>
