<div class = "icon icon-{{icIcon}} top right"></div>
<div 
	class 	= "title"
	ng-if	= "icTitle && ic.layout.mode.name == 'XS'"
> 
	{{icTitle}} 
</div>

<div>
	<div 
		class 	= "title"
		ng-if	= "icTitle && ic.layout.mode.name != 'XS'"
	>{{icTitle}}</div><!--no spaces!! -->


	<div class = "content">		
		<a 
			class 			= "active"
			ng-if			= "link && link.substr(0,4) == 'http'"
			ng-href 		= "{{link}}"
			target			= "_blank"
		>
			{{icContent}}	
		</a>

		<a 
			class 			= "active"
			ng-if			= "icContentLink || (link && link.substr(0,4) != 'http')"
			ng-href 		= "{{icContentLink || link}}"
		>
			{{icContent}}	
		</a>

		<span
			ng-if 	= "!icContentLink && !link"
			class	= "ws-pre-line"
		>{{icContent}}</span>

		<div 
			ng-repeat 	= "line in icExtraLines"
			ng-if		= "line | trim"
			class		= "extra-line"
		>
			{{ line }}
		</div>

		<div 
			ng-repeat 	= "(name, href) in icExtraLinks"
			ng-if		= "name | trim"
			class		= "extra-link screen-only"
		>
			<a class ="active" ng-href = "{{href}}">{{name}}</a>
			<span ng-if ="!$last">|</span>
		</div>



		<div ng-if = "lor && lor.length > 0">
			<a 
				class 			= "active"
				ng-repeat-start	= "l in lor"
				ng-href 		= "{{ ({'filterByLor': [l.tag] } | icLink) }}"
			>
				{{ l.name }}
			</a>
			<span 
				ng-repeat-end
				ng-if = "!$last">|
			</span>
		</div>



	</div>
</div>