<form 
	ng-if		= "icItem && icEdit"
	ng-submit 	= "allowLocalEdit && update()"
	ng-class	= "{invalid: errors}"
>
	<div 
		ng-if 	= "!hideCurrentValue"
		class	= "current-value {{diff()? 'diff': ''}}"
	>
		<span
			ng-repeat 	= "option in icOptions"
			ng-if		= "value.current == option"
		>
			{{icOptionLabel({option:option})}}
		</span>
		
		<span ng-if = "!value.current.length">
			{{'INTERFACE.PROPERTY_EMPTY' | translate }}
		</span>

		<button
			ng-click	= "revert()" 
			ng-disabled	= "updating ||!diff()"
			type		= "button"
			title		= "{{ "INTERFACE.PROPERTY_REVERT" | translate }}"
			class		= "icon icon-interface-item_revert active"
		>			
		</buton>		
	</div>	

	<div class  = "note col-1">{{"ITEMS.%s_NOTE" | fill : (icTranslationKey || icKey) | translate }}</div>
	


	<ul class = "options">
		<li 
			ng-repeat 	= "option in icOptions"
			ng-click	= "toggleOption(option)"
			class		= "icon left icon-interface-checkbox {{(option|in : value.edit) ? 'checked' : ''}}"
			ic-touch-me
		>
			<span 
				class 	= "icon {{icOptionIconClass({option:option})}}"
				ng-if	= "icOptionIconClass"
			></span>
			<span>{{icOptionLabel({option:option})}}</span>
		</li>
	</ul>

	<div ng-if = "!error || icHideErrors" class = "error"></div>
	<div ng-if = "error && !icHideErrors" class = "error col-3"> {{'ITEMS.%s_%s' | fill : [(icTranslationKey || icKey), error.code] | translate}} </div>

	<button
		ng-show		= "allowLocalEdit"
		ng-disabled	= "updating || !diff()" 
		type 		= "submit"
	>
		{{ "INTERFACE.PROPERTY_UPDATE" | translate }}
	</buton>
	

</form>
