<form 
	ng-if		= "icItem && icEdit"
	ng-submit	= "ic.keyboard.tabNext()"
	ng-class	= "{invalid: errors}"
>
		
	<div ng-if 	= "!hideCurrentValue" class = "current-value-parent-box">
		
		<span class	= "current-value {{diff()? 'diff': ''}}">
			{{ value.current || ('INTERFACE.PROPERTY_EMPTY' | translate) }}
		</span>	

		<button
			ng-click	= "revert()" 
			ng-if		= "!updating && diff()"
			type		= "button"
			title		= "{{ 'INTERFACE.PROPERTY_REVERT' | translate }}"
			class		= "icon icon-interface-item_revert active"
		>			
		</button>	
	</div>




	<!-- property proposals  start -->
	<div
		ng-if			= "showProposals &&  ic.user.can('edit_items')"		
		class			= "proposals screen-only"		
	>
		<span class ="round mini vbottom icon icon-interface-proposals bg-3 white"></span>
		{{'ITEMS.PROPOSED_EDIT' | translate}}:

		<button
			ng-repeat 	= "proposal in proposals"	
			class		= "proposal-indicator"
			ng-class	= "{'bg-3 white': editMatchesProposal(proposal), 'active border-3': !editMatchesProposal(proposal), 'disabled': !isApplicable(proposal)}"
			ng-click	= "isApplicable(proposal) && updateEditWithProposal(proposal)"
			type		= "button"
		>
			<span>{{proposal.index+1}}</span>
		</button>	
	</div>
	<!-- property proposals  end -->





	
	<div 
		class 		= "input-wrapper"
		ng-class 	= "{'extra-padding': icProperty.max}" 
	> 
		<input 
			class				= "bg-1 col-0"
			type 				= "text"
			ng-if				= "icType == 'string'"
			maxlength			= "{{icProperty.max}}"
			ng-model			= "value.edit"
			ng-model-options	= "{updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 }, allowInvalid}"
			ng-trim				= "false"
			ic-expose-internal-model = "internalModel"
		></input>
		<textarea
			class				= "bg-1 col-0"	
			ng-if				= "icType == 'text'"
			ng-model			= "value.edit"
			ng-model-options	= "{updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 }, allowInvalid}"
			ng-trim				= "false"
			ic-expose-internal-model = "internalModel"
			ic-auto-grow
		>
		</textarea>

		<div ng-if = "icProperty.max">
			{{ internalModel.length || 0 }} / {{ icProperty.max }}
		</div>
	</div>


	<div class  = "note col-1">{{"ITEMS.%s_NOTE" | fill : (icTranslationKey || icKey) | translate }}</div>
	
	<div ng-if = "!error || icHideErrors" class = "error"></div>
	<div ng-if = "error && !icHideErrors" class = "error col-3"> 
		{{'ITEMS.%s_%s' | fill : [(icTranslationKey || icKey), error.code] | translate}} 
		{{error.key ? "(" + ('LANGUAGES.%s' | fill : error.key | translate) +")" : '' }}
	</div>

</form>

