<nav class = "bg-0">
	<a 
		class 		= "icon icon-interface-close large"
		ng-href		= "{{ {activeItem: null} | icLink }}"
		ng-if		= "!ic.site.editItem"
	>
	</a>

	<button 
		class 		= "icon icon-interface-close large"
		ng-if		= "ic.site.editItem"
		ng-click 	= "cancel()" 
		title		= "{{ic.user.can('edit_items')? 'INTERFACE.CANCEL_EDIT' : 'INTERFACE.CANCEL_EDIT_SUGGESTION' | translate}}"
		ic-touch-me
	>
	</button>

	<button 
		class 		= "icon large icon-interface-up up"
		ic-click	= "scrollTop()"
		ic-touch-me
	>
	</button>

	<button 
		class 		= "icon large icon-interface-down down"
		ic-click	= "scrollBottom()"
		ic-touch-me
	>
	</button>
</nav>

<div 
	class 	= "tools"
	ng-if	= "!ic.site.editItem"
>

	<button 
		class 		= "icon round large active icon-interface-edit drop-shadow bg-0"
		ng-click 	= "ic.site.editItem = true" 
		ng-if		= "ic.user.can('edit_items')"
		title		= "{{'INTERFACE.EDIT' | translate}}"
		ic-touch-me
	>
	</button>

	<button 
		class 		= "icon round large active icon-interface-delete drop-shadow bg-0"
		ng-click 	= "delete()" 
		ng-if		= "ic.user.can('delete_items')"
		title		= "{{'INTERFACE.DELETE' | translate}}"
		ic-touch-me
	>
	</button>
	
	<button 
		class 		= "icon round large active icon-interface-share drop-shadow bg-0"
		ng-click 	= "ic.overlays.toggle('sharingMenu')" 
		title		= "{{'INTERFACE.SHARE' | translate}}"
		ic-touch-me
	>
	</button>

	<button 
		class 		= "icon round large active icon-interface-print drop-shadow bg-0"
		ng-click 	= "ic.site.print()" 
		title		= "{{'INTERFACE.PRINT' | translate}}"
		ic-touch-me
	>
	</buton>			
	<button 
		class 		= "icon round large icon-interface-favourites drop-shadow"
		ng-class	= "{'bg-3 white': ic.favourites.contains(ic.site.activeItem), 'bg-0  active': !ic.favourites.contains(ic.site.activeItem)}"
		ng-click 	= "ic.favourites.toggleItem(ic.site.activeItem)" 
		title		= "{{'INTERFACE.FAVOURITE_%s' | fill : ic.favourites.contains(ic.site.activeItem) ? 'remove': 'add' | translate}}"
		ic-touch-me
	>
	</buton>
</div>

<!-- EDIT -->

<div 
	class = "tools"
	ng-if = "ic.site.editItem && !ic.site.activeItem.internal.new"
>
	<button 
		class 		= "icon round large bg-3 white icon-interface-cancel_edit drop-shadow bg-0"
		ng-click 	= "cancel()" 
		ng-if		= "true"
		title		= "{{ic.user.can('edit_items')? 'INTERFACE.CANCEL_EDIT' : 'INTERFACE.CANCEL_EDIT_SUGGESTION' | translate}}"
		ic-touch-me
	>
	</button>
</div>

<!-- NEW -->

<div 
	class = "tools"
	ng-if = "ic.site.editItem && ic.site.activeItem.internal.new"
>
	
</div>
