<ic-item-badge ic-item = "icItem">
</ic-item-badge>

<div 
	class 	= "content"
	title 	= "{{icItem.title}}"

>
		<div class ="title">
			<span 
				class	= "remote"
				ng-if	= "icItem.remoteItem"
			>
				{{'INTERFACE.REMOTE_ITEM_TAG' | translate }}
			</span>

			<span 
				class	= "round mini white icon icon-interface-proposals bg-3 fright"
				ng-if	= "ic.user.can('edit_items') && icItem.proposals.length > 0"
				title	= "{{'INTERFACE.PROPOSALS' | translate }}"
			></span>

			{{icItem.title}}	
		</div>


		<div class = "brief">
			<span class = "date heavy" ng-if = "icItem.startDate">
				{{icItem.startDate | icDate}}
		 		{{icItem.endDate ? " – "+ (icItem.endDate | icDate) : ''}}
		 	</span> 
		 	<div class = "lang-{{ic.site.currentLanguage}}">
				{{icItem.brief[ic.site.currentLanguage]}}
			</div>
		</div>
		<!-- <span 
			ng-if = "icCategory"
			class = "category ic-col-cat-{{(icItem|icCategory).name}}"
		>
			{{'CATEGORIES.%s' | fill : icCategory.name | translate}}
		</span>

		<span 
			ng-if = "icType"
			class ="type ic-col-type-{{(icItem|icType).name}}"
		>
			{{'TYPES.%s' | fill : icType.name | translate }}
		</span> -->
</div>