<header class = "bg-0">
	<div class = "tools">
		<a 
			class 		= "icon icon-interface-close"
			ng-click 	= "ic.site.activeItem = null" 
		>
		</a>

		<div class = "main">
<!-- 
			<button 
				class 		= "icon round large active icon-interface-edit drop-shadow bg-0"
				ng-click 	= "ic.site.editItem = true" 
				ng-if		= "ic.user.can('edit_items')"
			>
			</button>
			 -->
		</div>
	</div>
	<div 
		class		= "hero" 
		ng-style	= "{'background-image' : 'url('+item.image+')'}" 
		ng-if		= "item.image"
	></div> 
</header>


<section class = "bg-0 ">

	<div>		
		<div> <!-- spacer --> </div>
		<h3>{{'INTERFACE.EDIT_ITEM' | translate}}</h3>
	</div>


	<div><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>


	<!-- title -->

	<ic-item-property-edit
		ic-type 				= "string"
		ic-key					= "title"
		ic-item					= "item"
		ic-translatable			= "false"
	></ic-item-property-edit>

<!-- 
	<div
		ng-if = "edit.title"
	>
		<div
			ng-repeat 	= "title in icConfigData.titles"
			ng-if		= "(item.title | stripSpecialChars) != (edit.title | stripSpecialChars) && (title | stripSpecialChars) == (edit.title | stripSpecialChars)"
			
		>
			{{'INTERFACE.POSSIBLE_ITEM_DUPLICATE' | translate}}: {{title}}
		</div>
	</div>
 -->


	<!-- brief -->

	<ic-item-property-edit
		ic-type 				= "string"
		ic-key					= "brief"
		ic-item					= "item"
		ic-translatable			= "true"
	></ic-item-property-edit>

	<!-- description -->

	<ic-item-property-edit
		ic-type 				= "text"
		ic-key					= "description"
		ic-item					= "item"
		ic-translatable			= "true"
	></ic-item-property-edit>


	<!-- image -->

	<ic-item-property-edit
		ic-type 				= "string"
		ic-key					= "image"
		ic-item					= "item"
		ic-translatable			= "false"
	></ic-item-property-edit>




	<div><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>

	



	<!-- type -->

	<ic-item-property-edit
		ic-type					= "string"
		ic-title				= "type"
		ic-options				= "::ic.taxonomy.types"
		ic-option-label			= "'TYPES.%s' | fill: option | translate"
		ic-key					= "tags"
		ic-item					= "item"
	></ic-item-property-edit>


	<!-- topics -->

	<ic-item-property-edit
		ic-type					= "array"
		ic-options				= "::icConfigData['topics']"
		ic-option-label			= "'CATEGORIES.%s' | fill: option | translate"
		ic-key					= "topics"
		ic-item					= "item"
	></ic-item-property-edit>


	<hr/>

	<!-- primary topic -->

	<ic-item-property-edit
		ic-type					= "string"
		ic-options				= "edit.topics"
		ic-option-label			= "'CATEGORIES.%s' | fill: option | translate"
		ic-key					= "primaryTopic"
		ic-item					= "item"
	></ic-item-property-edit>
	

	<!-- target groups -->

	<ic-item-property-edit
		ic-type					= "array"
		ic-options				= "::icConfigData['targetGroups']"
		ic-option-label			= "'CATEGORIES.%s' | fill: option | translate"
		ic-key					= "targetGroups"
		ic-item					= "item"
	></ic-item-property-edit>


	<hr />

	<!-- location, address, zip, country... -->

	<ic-item-property-edit
		ng-repeat				= "key in ['location, address', 'zip', 'location', 'country', 'startDate', 'endDate', 'hours']"
		ic-type 				= "string"
		ic-key					= "{{key}}"
		ic-item					= "item"
		ic-translatable			= "false"
	></ic-item-property-edit>


	<hr />

	<!--social media -->

	<ic-item-property-edit
		ng-repeat				= "key in ['website', 'facebook', 'twitter']"
		ic-type 				= "string"
		ic-key					= "{{key}}"
		ic-item					= "item"
		ic-translatable			= "false"
	></ic-item-property-edit>


	<hr />

	<!--contat details -->

	<ic-item-property-edit
		ng-repeat				= "key in ['name', 'email', 'phone']"
		ic-type 				= "string"
		ic-key					= "{{key}}"
		ic-item					= "item"
		ic-translatable			= "false"
	></ic-item-property-edit>


	<hr />

	<!-- misc -->

	<ic-item-property-edit
		ng-repeat				= "key in ['maxParticipants', 'latitude', 'longitude']"
		ic-type 				= "string"
		ic-key					= "{{key}}"
		ic-item					= "item"
		ic-translatable			= "false"
	></ic-item-property-edit>

	<ic-item-property-edit
		ng-repeat				= "key in ['price']"
		ic-type 				= "string"
		ic-key					= "{{key}}"
		ic-item					= "item"
		ic-translatable			= "false"
		ic-force-number			= "true"
	></ic-item-property-edit>


	<hr />

	<!-- state -->

	<ic-item-property-edit
		ng-if					= "icUser.can('edit_items')"
		ic-type					= "string"
		ic-options				= "::['draft', 'published', 'suggestion', 'archived']"
		ic-option-label			= "'INTERFACE.ITEM_STATE_%s' | fill : option | translate"
		ic-key					= "state"
		ic-item					= "item"
	></ic-item-property-edit>



	<!-- Suggestion comment -->

	<ic-item-property-edit
		ng-if					= "icUser.can('edit_items') || icUser.can('add_new_items') || icUser.can('suggest_item_edits') || icUser.can('suggest_new_items')"
		ic-type					= "text"
		ic-key					= "comment"
		ic-item					= "item"
		ic-ignore-current-value	= "!icUser.can('edit_items')" 
	></ic-item-property-edit>

</section>

<footer>
	<button
		ng-click = "ic.site.editItem = false"
	>
		{{'INTERFACE.CANCEL_EDIT' | translate}}
	</button>
</footer>