<div 
	class = "icon-large icon-category-{{::icCategory.name}} round white ic-bg-cat-{{::icCategory.name}}"
>
</div>

<div 
	class 	= "content"
	title 	= "{{icItem.title}}"

>
		<div class ="title">
			{{icItem.title}}
		</div>

		<div class = "brief">
			<span class = "date heavy" ng-if = "icItem.startDate">{{icItem.startDate | icDate}}</span><!--
		 --><span class = "date heavy" ng-if = "icItem.startDate && icItem.endDate"> – {{icItem.startDate | icDate}}</span> 
			{{icItem.brief[ic.site.currentLanguage]}}
		</div>
		<span 
			ng-if = "icCategory"
			class = "category ic-col-cat-{{(item|icCategory).name}}"
		>
			{{'CATEGORIES.%s' | fill : icCategory.name | translate}}
		</span>

		<span 
			ng-if = "icType"
			class ="type ic-col-type-{{(item|icType).name}}"
		>
			{{'TYPES.%s' | fill : icType.name | translate }}
		</span>
</div>