<form 
	ng-if		= "icItem && icEdit"
	ng-submit 	= "allowLocalEdit && update()"
	ng-class	= "{invalid: errors}"
	ng-init		= ""
>

	<div ng-if 	= "!hideCurrentValue" class = "current-value-parent-box">

		<span class	= "current-value {{diff()? 'diff': ''}}">
			{{ value.current ? (value.current | icDate) : ('INTERFACE.PROPERTY_EMPTY' | translate) }}
		</span>	

		<button
			ng-click	= "revert()" 
			ng-if		= "!updating && diff()"
			type		= "button"
			title		= "{{ 'INTERFACE.PROPERTY_REVERT' | translate }}"
			class		= "icon icon-interface-item_revert active"
		>			
		</button>	
	</div>
	
	<br/>
	
	<div>

		{{icActivate || ('INTERFACE.ENABLE_DATE' | translate) }}
		<ic-toggle
			on 		= "{{icToggleOn}}"
			off 	= "{{icToggleOff}}"
			value	= "date.date_enabled"
		>		
		</ic-toggle>

	</div>

	<br/>

	<div ng-if = "date.date_enabled && !icSkipTime">
		<ic-toggle
			on 		= "{{icToggleOn}}"
			off 	= "{{icToggleOff}}"
			value	= "date.time_enabled"
		>		
		</ic-toggle>

		{{'INTERFACE.ENABLE_TIME' | translate }}

	</div>
	
	<br ng-if = "date.date_enabled && !icSkipTime" />

	<div class = "split">

		<div>
			<input 
				ng-if		= "date.date_enabled" 
				type 		= "date" 
				ng-model	= "date.date" 
				placeholder	= "YYYY-MM-DD"
				required
			/>
		</div>

		<div>
			<input 
				ng-if				= "date.time_enabled && !icSkipTime"	
				type				= "time"  
				ng-model			= "date.time" 
				ng-model-options 	= "{timezone: '+0000', timeSecondsFormat:''}" 
				required
			/>
		</div>
			
	</div>

	<br/>

	<div class = "note col-1">{{"ITEMS.%s_NOTE" | fill : (icTranslationKey || icKey) | translate }}</div>


	<div ng-if = "!error || icHideErrors" class = "error"></div>
	<div ng-if = "error && !icHideErrors" class = "error col-3"> {{'ITEMS.%s_%s' | fill : [(icTranslationKey || icKey), error.code] | translate}} </div>

	<button
		ng-show		= "allowLocalEdit"
		ng-disabled	= "updating || !diff()" 
		type 		= "submit"
	>
		{{ "INTERFACE.PROPERTY_UPDATE" | translate }}
	</buton>

</form>
