<h2>{{'INTERFACE.IMPRESS_HEADING' | translate}}</h2>

<p>
Verband für sozial-kulturelle Arbeit e.V. <br/>
Tucholskystr. 11 <br/>
10117 Berlin <br/>
</p>

<p>
Tel. +49 / (0)30 / 28 09 61 03
</p>

<p>
Vorsitzender: Prof. Stephan F. Wagner, Renate Wilkening (Stellv.)
Geschäftsführerin: Barbara Rehbehn (ViSdP)
Registernummer: VR 28242 B
</p>

<p>
	<a class ="highlight" href ="www.vska.de">www.vska.de</a>
</p>

<p>
Angaben gemäß § 5 TMG, § 10 MDStV </br>
Haftungshinweis: </br>
Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. </br>
</p>

<p>
Verantwortlich Konzeption, Design, Entwicklung: <br/>
place/making Stefan Göllner, Jan Lindenberg GbR
</p>

<p>
Bei Fragen zum info-compass Projekt wenden Sie sich bitte an: <br/>
E-Mail: <a class = "highlight" href ="mailto:kontakt@info-compass.net">kontakt@info-compass.net</a>
</p>

<p>
Projektwebsite (Deutsch): <a class ="highlight" href = "www.info-compass.berlin">www.info-compass.berlin</a>
</p>
