<div 
	class = "icon icon-category-{{::icCategory.name}} round white ic-bg-cat-{{::icCategory.name}}"
>
</div>

<div 
	class 	= "content"
	title 	= "{{icItem.title}}"

>
		<div class ="title">
			{{icItem.title}}
		</div>

		<div class = "brief">
			<span class = "date heavy" ng-if = "icItem.startDate">{{icItem.startDate | icDate}}</span><!--
		 --><span class = "date heavy" ng-if = "icItem.startDate && icItem.endDate"> – {{icItem.startDate | icDate}}</span> 
			{{icItem.brief.de}}
		</div>
		<div class ="category ic-col-cat-{{::icCategory.name}}">
			{{icCategory.name |translate}}
		</div>
</div>