<div class = "icon"><img ng-src = "{{icIcon}}"/></div>
<div 
	class 	= "title"
	ng-if	= "ic.layout.mode.name == 'XS'"
> 
	{{icTitle}} 
</div>

<div>
	<div 
		class 	= "title"
		ng-if	= "ic.layout.mode.name != 'XS'"
	> 
		{{icTitle}} 
	</div>
	<div class = "content">		
		<a 
			class 			= "active"
			ng-if			= "link && link.substr(0,4) == 'http'"
			ng-href 		= "{{link}}"
			target			= "_blank"
		>
			{{icContent}}	
		</a>

		<a 
			class 			= "active"
			ng-if			= "link && link.substr(0,4) != 'http'"
			ng-href 		= "{{link}}"
		>
			{{icContent}}	
		</a>

		<span
			ng-if 	= "!link"
			class	= "ws-pre-line"
		>{{icContent}}</span>

		<div 
			ng-repeat 	= "line in icExtraLines"
			ng-if		= "line | trim"
			class		= "extra-line"
		>
			{{line}}
		</div>

		<div 
			ng-repeat 	= "(name, href) in icExtraLinks"
			ng-if		= "name | trim"
			class		= "extra-link screen-only"
		>
			<a class ="active" ng-href = "{{href}}">{{name}}</a>
		</div>
	</div>
</div>