<div class = "icon"><img ng-src = "{{icIcon}}"/></div>
<div>
	<div class = "title"> {{icTitle}} </div>
	<div class = "content">		
		<a 
			class 	= "highlight"
			ng-if	= "link"
			ng-href = "{{link}}"
			target	= "_blank"
		>
			{{icContent}}	
		</a>

		<span
			ng-if 	= "!link"
		>
			{{icContent}}	
		</span>

		<div 
			ng-repeat 	= "line in icExtraLines"
			ng-if		= "line | trim"
			class		= "extra-line"
		>
			{{line}}
		</div>

		<div 
			ng-repeat 	= "(name, href) in icExtraLinks"
			ng-if		= "name | trim"
			class		= "extra-link screen-only"
		>
			<a class ="highlight" ng-href = "{{href}}">{{name}}</a>
		</div>
	</div>
</div>