<button 
	class 		= "icon icon-interface-close large close"
	ng-click	= "ic.overlays.toggle()" 
>
</button>


<h2>{{'INTERFACE.PROPOSAL' | translate}}</h2>

<div
	ng-repeat 	= 	"property in properties"
	ng-class	=	"{'multi-language': ic.languages.availableLanguages.length > 1}"
>

	<article 
		ng-if = "property.name == 'editingNote' && icProposal.editingNote"
		class = "editing-note bg-1 col-0 padding"
	>
		<h4>{{'ITEMS.EDITING_NOTE' | translate }}</h4>		

		<p>
			{{icProposal[property.name]}}
		</p>
	</article>


	<article 
		ng-if = "property.name == 'type'"		
	>

		<h4>{{'ITEMS.TYPE' | translate}}</h4>
	
		<p>{{'TYPES.%s' | fill : (icProposal | icType).name | translate }}</p>

	</article>

	<article 
		ng-if = "property.name == 'location_ref'"		
	>

		<h4>{{'ITEMS.LOCATION_REF' | translate}}</h4>
	
		<p ng-if = "icProposal[property.name]">{{ (icProposal[property.name] | icItem).title }}</p>
		<p ng-if = "!icProposal[property.name]">{{ ('INTERFACE.PROPERTY_EMPTY' | translate)  }}</p>

	</article>


	<article 
		ng-if = "property.name == 'tags' && categoryDiff()"
	>
		
		<h4>{{'ITEMS.CATEGORY' | translate}}</h4>
	
		<p ng-if = "(ic.taxonomy.categories | mapToKey : 'name' | section : icProposal.tags).length > 0">
			<span
				ng-repeat 	= "tag in (ic.taxonomy.categories | mapToKey : 'name' | section : icProposal.tags)"
			>
				{{'CATEGORIES.%s' | fill : tag | translate}}{{$last ? '': ', '}}
			</span>
		</p>
		<p ng-if = "(ic.taxonomy.categories | mapToKey : 'name' | section : icProposal.tags).length == 0">
			{{ ('INTERFACE.PROPERTY_EMPTY' | translate)  }}
		</p>


	</article>

	<article 
		ng-repeat	= "(key, tagGroup) in ic.taxonomy.tags"	
		ng-if 		= "
							property.name == 'tags' 
						&&	tagGroupDiff(key)
					"
	>
		
		<h4>{{'ITEMS.%s' | fill : key | translate }}</h4>
	
		<p ng-if = "(tagGroup | section : icProposal.tags).length > 0 ">
			<span
				ng-repeat 	= "tag in tagGroup | section : icProposal.tags"
			>
				{{'UNSORTED_TAGS.%s' | fill : tag | translate}}{{$last ? '': ', '}}
			</span>			
		</p>

		<p ng-if = "(tagGroup | section : icProposal.tags).length == 0 ">
			{{ ('INTERFACE.PROPERTY_EMPTY' | translate)  }}
		</p>

	</article>


	<article
		ng-if 	= "property.name != 'tags' && property.translatable && icProposal[property.name][ic.site.currentLanguage] != undefined"
	>
		<h4>
			{{'ITEMS.%s' | fill : property.name | translate }} 
			<span class ="language">({{'LANGUAGES.%s' | fill : ic.site.currentLanguage | translate}})</span>
		</h4>		

		<p>{{icProposal[property.name][ic.site.currentLanguage]}}</p>

	</article>


	<article
		ng-if = "!['editingNote', 'tags', 'location_ref'].includes(property.name) && !property.translatable"
	>
		<h4>{{'ITEMS.%s' | fill : property.name | translate }}</h4>		


		<p ng-if = "ic.taxonomy.isTag(icProposal[property.name])">
			{{ ('%s.%s' | fill : [ic.taxonomy.getTagKind(icProposal[property.name]), icProposal[property.name]] | translate ) }}
		</p>

		<p 
			ng-if = "!ic.taxonomy.isTag(icProposal[property.name])"
		>
			{{icProposal[property.name]}}
		</p>

	</article>

</div>

