<div>
	<div class = "icon large icon-property-{{icKey}}"></div>
</div>

<form novalidate ng-submit = "$event.preventDefault()">

	<h4> {{'ITEMS.%s' | fill : icTitle || icKey | translate}} {{ icTranslatable ? '('+('LANGUAGES.%s' | fill : ic.site.currentLanguage | translate)+')' : ''}}</h4>

	<!-- String -->	

	<div ng-if	= "::icType == 'string' && !icOptions" >

		<div 
			ng-if 	= "!hideCurrentValue"
			class 	= "current-value {{diff() ? 'diff' : ''}} "
		>
			{{ (icTranslatable ? icItem[icKey][ic.site.currentLanguage] : icItem[icKey]) || ('INTERFACE.EMPTY' | translate) }}
		</div>	

		<input 
			type 				= "text"
			ng-model			= "local.value"
			class				= "bg-1"
			ng-class			= "{invalid: error}"
		></input>

	</div>



	<div ng-if = "::icType == 'string' && icOptions != undefined">

		<div 
			ng-if 	= "showCurrentValue"
			class 	= "current-value {{diff() ? 'diff' : ''}} "
		>
			{{ local.value ? icOptionLabel({option:local.value}) : ('INTERFACE.EMPTY' | translate) }}
		</div>	

		<div class = "options">
			<a 
				ng-repeat 	= "option in icOptions"
				ng-class 	= "{'icon-interface-checkbox-checked' : value.new == option.name , 'icon-interface-checkbox': local.value  != option}"
				ng-click	= "value.new = option"
				class		= "block icon left"
			>
				<span>{{icOptionLabel({option: option.name}) }}</span>
			</a>
			<span ng-if = "icOptions.length == 0">{{'INTERFACE.NO_OPTIONS' | translate}}</span>
		</div>



	</div>









 
	<!-- Text -->

	<div ng-if		= "::icType == 'text'">

		<div 
			ng-if 	= "showCurrentValue"
			class 	= "current-value {{diff() ? 'diff' : ''}} "
		>
			{{value.current || ('INTERFACE.EMPTY' | translate) }}
		</div>	
		
		<textarea
			ng-model	= "value.new"
			ic-auto-grow
		></textarea>
	</div>










	<!-- Array -->

	<div ng-if	= "::icType == 'array'">

		<div 
			ng-if 	= "showCurrentValue"
			class 	= "current-value {{diff() ? 'diff' : ''}} "
		>
			<span ng-repeat = "option in value.current">
				{{icOptionLabel({option: option})}}{{$last ? '' : ','}}
			</span>
			{{value.current.length == 0 ? ('INTERFACE.EMPTY' | translate) : ''}}
		</div>	

		<div class = "options">
			<a 
				ng-repeat 	= "option in ::icOptions"
				ng-class 	= "{'icon-interface-checkbox-selected' : value.new.indexOf(option) != -1 , 'icon-interface-checkbox': value.new.indexOf(option) == -1}"
				ng-click	= "toggleOption(option)"
			>{{icOptionLabel({option: option})}}</a>
		</div>
	</div>


	<div 
		class = "error col-3"	
		ng-if = "error"
	>
			{{'ITEM.ERROR_%s' | fill : error.code | translate}}
	</div>

	<div 
		class 	= "note"
	>{{'ITEMS.%s_NOTE' | fill : icKey | translate}}</div>

</form>