<form 
	ng-if		= "icItem && icEdit"
	ng-submit 	= "allowLocalEdit && update()"
	ng-class	= "{invalid: errors}"

>
	<div ng-if 	= "!hideCurrentValue"  class = "current-value-parent-box">
		

		<span 
			class	= "current-value {{diff()? 'diff': ''}}"
		>

			<span
				ng-repeat 	= "option in icOptions | section : value.current"
			>
				{{icOptionLabel 		&& icOptionLabel({option:option})+ ($last ? '' : ', ') }}
				{{icOptionFilterKey 	&& icOptionFilterKey({option:option})+ ($last ? '' : ', ') }}
			</span>

			<span ng-if = "!value.current.length">
				{{'INTERFACE.PROPERTY_EMPTY' | translate }}
			</span>

		</span>	


		<button
			ng-click	= "revert()" 
			ng-if		= "!updating && diff()"
			type		= "button"
			title		= "{{'INTERFACE.PROPERTY_REVERT' | translate }}"
			class		= "icon icon-interface-item_revert active"
		>			
		</button>	

	</div>
	
	<div class  = "note col-1">{{"ITEMS.%s_NOTE" | fill : (icTranslationKey || icKey) | translate }}</div>




	<!-- property proposals  start -->
	<div
		ng-if			= "showProposals"		
		class			= "proposals screen-only"		
	>
		<span class ="round mini vbottom icon icon-interface-proposals bg-3 white"></span>
		{{'ITEMS.EDIT_SUGGESTIONS' | translate}}:

		<button
			ng-repeat 	= "proposal in proposals"	
			class		= "proposal-indicator"
			ng-class	= "{'bg-3 white': editMatchesProposal(proposal), 'active border-3': !editMatchesProposal(proposal), 'disabled': !isApplicable(proposal)}"
			ng-click	= "isApplicable(proposal) && updateEditWithProposal(proposal)"
		>
			<span>{{proposal.index}}</span>
		</button>	
	</div>
	<!-- property proposals  end -->




	<div ng-if = "icCheckAll">
		<span>{{'INTERFACE.CHECK_ALL' | translate}}</span>:
		<ic-toggle
			ng-if		= "icCheckAll"
			on			= "{{'INTERFACE.ON'  |translate}}"
			off			= "{{'INTERFACE.OFF' |translate}}"
			value		= "allChecked()"
			ng-click	= "toggleOption()"
		>			
		</ic-toggle>
	</div>

	<input
		ng-if 		= "icOptionFilterKey"
		ng-model 	= "filter.str"
		ng-change	= "toggleOption(undefined, false)"
	/>

	<ul class = "options">		

		<li ng-if = "icOptionFilterKey && filteredOptions().length == 0">
			{{'INTERFACE.PROPERTY_FILTER_EMPTY' | translate}}
		</li>

		<li 
			ng-if		= "!icOptionsItemRef"
			ng-repeat 	= "option in filteredOptions() | preventLoop | limitTo: icOptionsFilterLimit"
			ng-click	= "toggleOption(option)"
			class		= "icon left icon-interface-{{:: icAllowMultipleChoices ? 'checkbox' : 'radio'}} {{(option|in : value.edit) ? 'checked active' : ''}}"
			ic-touch-me
		>
			<span 
				class 	= "icon {{icOptionIconClass({option:option})}}"
				ng-if	= "icOptionIconClass"
			></span>

			<span
				ng-if	= "icOptionLabel"
			>
				{{icOptionLabel({option:option})}}
			</span>

		</li>

		<li 
			ng-if		= "icOptionsItemRef && filter.str.length >= 2"
			ng-repeat 	= "option in filteredOptions() | preventLoop | limitTo: icOptionsFilterLimit"
			ng-click	= "toggleOption(option, true)"
			ic-touch-me
		>
			<ic-item-preview				
				ic-item 	= "ic.itemStorage.getItem(option)"
				ng-if		= "icOptionsItemRef"
			></ic-item-preview>
		</li>

		<li ng-if = "icOptionFilterKey  && filter.str.length >= 2 && filteredOptions().length > icOptionsFilterLimit">
			{{'INTERFACE.PROPERTY_FILTER_TOO_MANY_RESULTS'}}	
		</li>


	</ul>

	<div ng-if = "!error || icHideErrors" class = "error"></div>
	<div ng-if = "error && !icHideErrors" class = "error col-3"> {{'ITEMS.%s_%s' | fill : [(icTranslationKey || icKey), error.code] | translate}} </div>

	<button
		ng-show		= "allowLocalEdit"
		ng-disabled	= "updating || !diff()" 
		type 		= "submit"
	>
		{{ "INTERFACE.PROPERTY_UPDATE" | translate }}
	</buton>
	

</form>
