<div class = "bg-0 spacer"></div>

<ic-spinner active = "item.downloading"></ic-spinner>


<div class ="bg-0">
	<div 
		class 		= "hero-wrapper screen-only {{item.image ? 'bg-0'  : (item|icType) && 'disabled ic-bg-type-'+(item|icType).name || (item|icCategory) && 'disabled ic-bg-cat-'+(item|icCategory).name}} "
	>
		<div
			ng-if		="!item.image"
			class		= "hero fallback white {{ (item | icType) && 'icon-type-'+(item | icType).name  || (item | icCategory) && 'icon-category-'+(item | icCategory).name}}" 
		>
		</div>
		<div 
			ng-if		= "item.image"
			class		= "hero" 
			ng-style	= "{'background-image' : 'url('+item.image+')'}" 
		>
		</div>		
	</div> 
</div>


<div
	class 	= "bg-neutral padding bold-links underline-links flex"
	ng-if	= "item.remoteItem"
>
	<span class = "icon white icon-interface-remote"></span>
	&nbsp;
	{{'INTERFACE.REMOTE_ITEM_FROM'|translate}}
	<a href = "{{item.remoteItem.sourceUrl}}">{{item.remoteItem.sourceName}}</a>

	<div class ="flex-grow"></div>

	<ic-help ic-icon-class = "white"> 
		{{"INTERFACE.REMOTE_ITEM_HELP"|translate}}
		<br/>
		<a href ="{{item.remoteItem.url}}">{{"INTERFACE.REMOTE_ITEM_ORIGINAL"|translate}}</a>'
	</ic-help>
</div>


<section class = "bg-0">

	<div class = "type print-only">
		<span ng-if = "(item | icType)">{{ 'TYPES.%s' | fill : (item | icType).name | translate }}</span>
	</div>


	<div class = "category print-only">
		{{ 'CATEGORIES.%s' | fill :  (item | icCategory).name | translate }}
		<div 
			class	= "img print-only icon-category-{{ (item | icCategory).name}}"
		></div>
	</div>

	<article 
		class = "screen-only"
		ng-if = "ic.user.can('edit_items')"
	>		
		<div> <!-- spacer --> </div>
		<div>

			<div ng-if = "item.creator">
				{{'ITEMS.CREATOR' | translate}} 	 	{{item.creator 	}} 	({{item.creationDate | icDate}})
			</div>
			<div ng-if  ="item.lastEditor">
				{{'ITEMS.LAST_EDITOR' | translate}}  	{{item.lastEditor	}}	({{item.lastEditDate | icDate}})
			</div>	
			<div ng-if  ="item.resubmissionDate">
				{{'ITEMS.RESUBMISSION_DATE' | translate}}  	({{item.resubmissionDate | icDate}})
			</div>	
			<div 
				ng-if = "!item.remoteItem && ic.user.can('edit_items') && ic.languages.availableLanguages.length > (ic.languages.availableLanguages.indexOf('none') == -1 ? 1 :2)"
			>
				<a class = "active" ng-click ="ic.admin.autoTranslate(item)">{{'INTERFACE.AUTO_TRANSLATE'| translate }}</a>
			</div>
		</div>
	</article>




	<!-- tags -->


	<article class = "screen-only">
		<div><!-- spacer --></div>
		<ic-taxonomy-tag-list ic-tags = "item.tags"></ic-tag-list>
	</article>



	<!-- start item title, brief description -->
	<article class = "main">
		<div>
			<ic-item-badge ic-item = "item"></ic-item-badge>
		</div>

		<div 
			class 	= "xhcenter"
			ng-if	= "ic.layout.mode.name == 'XS'"
		>
			<h2 class = "title" >
				{{ item.title }} 
				<span 
					ng-if 	= "ic.user.can('edit_items')"
					class	= "screen-only"
				>
					[{{'ITEMS.STATE_%s' | fill: item.state | translate}}]
				</span>
			</h2>
			<h3 ng-if = "ic.layout.mode.name != 'XS'">
				{{ item.brief[ic.site.currentLanguage] }}
			</h3>
		</div>

		<h3 ng-if = "ic.layout.mode.name == 'XS'">
				{{ item.brief[ic.site.currentLanguage] }}
		</h3>

		<div>
			<div 
				ng-if	= "ic.layout.mode.name != 'XS'"
			>
				<h2 class = "title" >
					{{ item.title }}
					<span ng-if = "ic.user.can('edit_items')">[{{'ITEMS.STATE_%s' | fill: item.state | translate}}]</span>
				</h2>
			</div>
			<h3 ng-if	= "ic.layout.mode.name != 'XS'">
				{{ item.brief[ic.site.currentLanguage] }}
			</h3>

			<div 
				class 			= "screen-only description  highlight-links lang-{{ic.site.currentLanguage}}" 
				ng-bind-html 	= "item.description[ic.site.currentLanguage] | markdown"
			>

			</div>

			<div 
				class 			= "print-only description highlight-links lang-{{ic.site.currentLanguage}}" 
				ng-bind-html 	= "item.description[ic.site.currentLanguage] | markdown"
			>
			</div>

		</div>
	</article>
	<!-- end item title -->





	<!-- address -->

	<ic-item-property
		ng-if			= "item.address"
		ic-title 		= "'ITEMS.ADDRESS' | translate"
		ic-content		= "item.location"
		ic-extra-lines	= "[item.address|| '-', (item.zip||'') + ' ' + (item.city||''), item.country ||'']"
		ic-extra-links	= "{'Google Maps' : (item | gmLink), 'OpenStreetMap' : (item | osmLink)}"
		ic-icon			= "'/images/icons/property-location.svg'"
	>
	</ic-item-property>



	<!-- geo coordinates -->

	<article>
		<div ng-if = "ic.layout.mode.name != 'XS'"><!-- spacer --></div>
		<ic-mini-map
			class			= "screen-only"
			ng-if			= "item.longitude && item.latitude"
			ic-item			= "item"
		>
		</ic-mini-map>
	</article>

	<ic-item-property
		class			= "screen-only"
		ng-if			= "item.longitude && item.latitude && !item.address"
		ic-title 		= "'ITEMS.GEO_COORDINATES' | translate"
		ic-content		= "item.latitude + ', ' +item.longitude"
		ic-icon			= "'/images/icons/property-location.svg'"
		ic-extra-links	= "{'Google Maps' : GMLink, 'OpenStreetMap' : OSMLink}"
	>
	</ic-item-property>




	<!-- misc -->

	<ic-item-property
		ng-repeat	= "key in ['contact', 'website', 'email', 'phone']"
		ng-if		= "item[key]"
		ic-title 	= "'ITEMS.%s' | fill : key | translate"
		ic-content	= "item[key]"
		ic-icon		= "'/images/icons/property-'+key+'.svg'"
		ic-link		= "::key | icLinkPrefix"
	>
	</ic-item-property>


	<ic-item-property
		ng-repeat	= "key in ['facebook', 'twitter', 'whatsapp']"
		ng-if		= "item[key]"
		ic-title 	= "'ITEMS.%s' | fill : key | translate"
		ic-content	= "item[key]"
		ic-icon		= "'/images/icons/property-'+key+'.svg'"
		ic-link		= "::key | icLinkPrefix"
		class		= "screen-only"
	>
	</ic-item-property>

	<!-- start and end dates -->

	<ic-item-property
		ng-if		= "item.startDate && item.endDate"
		ic-title 	= "'ITEMS.DATES' | translate"
		ic-content	= "(item.startDate | icDate : item.startDate.match('T')) +' – '+ (item.endDate | icDate : !!item.startDate.match('T'))"
		ic-icon		= "'/images/icons/property-time.svg'"
	>
	</ic-item-property>


	<ic-item-property
		ng-if		= "item.startDate && !item.endDate"
		ic-title 	= "'ITEMS.START_DATE' | translate"
		ic-content	= "item.startDate | icDate : item.startDate.match('T')"
		ic-icon		= "'/images/icons/property-time.svg'"
	>
	</ic-item-property>

	<ic-item-property
		ng-if		= "item.endDate && !item.startDate"
		ic-title 	= "'ITEMS.END_DATE' | translate"
		ic-content	= "item.endDate | icDate : item.startDate.match('T')"
		ic-icon		= "'/images/icons/property-time.svg'"
	>
	</ic-item-property>





	<!-- hours -->

	<ic-item-property
		ng-if			= "item.hours[ic.site.currentLanguage]"
		ic-title 		= "'ITEMS.HOURS' | translate"
		ic-icon			= "'/images/icons/property-time.svg'"
		ic-content		= "item.hours[ic.site.currentLanguage]"
	>
	</ic-item-property>
	

	<div class = "qrcode">
		<qrcode 
			version					=	"4" 
			error-correction-level	=	"M" 
			size					=	"200" 
			data					=	"{{item | icItemLink}}"
			ng-if					=	"item"
			ng-click				=	"ic.overlays.open('qrcode')"
		>
		</qrcode>
	</div>


</section>

<footer class  = "print-only">
	<div class = "logo">
		<ic-logo-print></ic-logo-print>
	</div>

	<div class ="link-to-item print-only">
		{{item | icItemLink}}
	</div>

</footer>


<footer class = "screen-only">


	<button 
		class 		= "bg-0 active"
		ng-if		= "true || ic.user.can('edit_items')"
		ng-click 	= "ic.site.editItem = true" 
		title		= "{{'INTERFACE.EDIT' | translate}}"
		ic-touch-me
	>

		<span>
			<span class 	="icon large icon-interface-edit active"></span>
			{{'INTERFACE.EDIT' | translate}}
		</span>

	</button>



	<button 
		class		= "bg-0 active"
		ng-click 	= "delete()" 
		ng-if		= "ic.user.can('delete_items')"
		title		= "{{'INTERFACE.DELETE' | translate}}"
		ic-touch-me
	>
		<span>
			<span class 	= "icon large icon-interface-delete active"></span>
			{{'INTERFACE.DELETE' | translate}}
		</span>
	</button>
		
	<button 
		class 		= "bg-0 active"
		ng-click 	= "ic.overlays.toggle('sharingMenu')" 
		title		= "{{'INTERFACE.SHARE' | translate}}"
		ic-touch-me
	>
		<span>
			<span class 	= "icon large icon-interface-share active"></span>
			{{'INTERFACE.SHARE' | translate}}
		</span>
	</button>

		
	<button 
		class 		= "bg-0 active"
		ng-click	= "ic.site.print()"
		title		= "{{'INTERFACE.PRINT' | translate}}"
		ic-touch-me
	> 
		<span>
			<span class ="icon large icon-interface-print active"></span>
			{{'INTERFACE.PRINT' | translate}}
		</span>

	</button>

	<button 
		class 		= "bg-0 active"
		title		= "{{'INTERFACE.FAVOURITE_%s' | fill : ic.favourites.contains(item) ? 'remove': 'add' | translate}}"
		ng-click 	= "ic.favourites.toggleItem(item)" 
		ic-touch-me
	> 

		<span>
			<span 
				class 		="icon large icon-interface-favourites active"
				ng-class	= "{'icon-interface-favourites_remove': ic.favourites.contains(item), 'icon-interface-favourites': !ic.favourites.contains(item)}"
			>
			</span>
			{{'INTERFACE.FAVOURITE_%s' | fill : ic.favourites.contains(item) ? 'remove': 'add' | translate}}
		</span>
	</button>

</footer>
