<!--





 --><section 
		class   = "page"
		ng-if   = "icSite.show('page')"
	>
		<div ng-include = "icSite.pageUrl"></div>
	</section><!--


 --><section 
		class	= "filter"    
		ng-if	= "icSite.show('filter')"
	>
		<ic-section-filter></ic-section-filter>
	</section><!--




--><section 
		class   = "list"  
		ng-if   = "icSite.show('list')"
		fake-scroll-bump
	>
		<ic-section-list
			ic-show-filter  =   "smlLayout.mode.name == 'XS' || (smlLayout.mode.name == 'M' && icSite.show('item'))" 
		></ic-section-list>
	</section><!--




--><section 
		class   		= "item" 
		ng-if   		= "icSite.show('item')"
		ic-scroll-top 	= "{{icSite.params.item}}" 
	>                   
		<ic-header
			ng-if 			= "icSite.useLocalHeader('item')"
			ic-close-item	= "true"
			ic-share		= "true"
			ic-print		= "true"
		>
		</ic-header>
		<ic-section-item></ic-section-item>
	</section><!--



--><section 
		class   		= "map" 
		ng-if   		= "icSite.show('map')"
		ic-join-left
	>                   
		<ic-section-map></ic-section-map>
	</section><!--




-->
