<div
	class		= "message" 
	ng-repeat 	= "message in icOverlays.messages.login"
>
	{{message | translate}}
</div>

<form ng-submit = "login()">
	<label>
		{{'INTERFACE.USERNAME' | translate}}
		<input
			type 		= "text"
			ng-model 	= "username"	
			tabindex	= "1"	
			ic-focus-me		 
		></input>
	</label>
	<label>
		{{'INTERFACE.PASSWORD' | translate}}
		<input
			type 		= "password"
			ng-model 	= "password"	
			tabindex	= "2"		 		 
		></input>
	</label>

	<div class = "buttons">
		<button 
			type 		= "button"
			ng-click 	= "cancel()"
			tabindex	= "4"		 		 
		>
			{{ 'INTERFACE.CANCEL' | translate}}
		</button>

		<button 
			type 		= "submit"
			tabindex	= "3"		 
		>
			{{'INTERFACE.LOGIN' | translate}}
		</button>
	</div>
</form>