<h2>
	{{"INTERFACE.CHOOSE_LANGUAGE" | translate}}
</h2>

<a 
	ng-repeat 	= "language in ic.languages.availableLanguages"
	ng-click	= "ic.site.currentLanguage = language; ic.overlays.toggle('languageMenu')"
	ng-class 	= "{'highlight active': ic.site.currentLanguage == language}"	
	ng-if		= "ic.user.can('update_translations') || language != 'none'"
	ic-touch-me	
>
	<span class = "native">{{"LANGUAGES.%s" | fill : language | translate : null : null : language}}</span>
	<span 
		ng-if = "ic.site.currentLanguage != language"
		class = "translation light"
	>
			{{"LANGUAGES.%s" | fill : language | translate}}
	</span>
</a>
