<h2>
	{{"INTERFACE.CHOOSE_LANGUAGE" | translate}}
</h2>

<a 
	ng-repeat 	= "language in ic.languages.availableLanguages"	
	ng-href		= "{{ {currentLanguage: language} | icLink  }}"
	ng-class 	= "{'bg-3': ic.site.currentLanguage == language}"		
	ic-touch-me		
>
	<span class = "native">{{"LANGUAGES.%s" | fill : language | translate : null : null : language}}</span>
	<span 
		ng-if = "ic.site.currentLanguage != language"
		class = "translation light"
	>
			{{"LANGUAGES.%s" | fill : language | translate}}
	</span>
</a>
