<h2>{{'INTERFACE.LISTS' | translate}}</h2>


<form
	ng-show		= "toggle_new"
	ng-submit 	= "ic.lists.createList(new_list); new_list = ''; toggle_new = false "
>
	<h3>{{'INTERFACE.CREATE_LIST' | translate}}</h3>
	<input class = "block" type = "text" placeholder = "{{'INTERFACE.CREATE_LIST_PLACEHOLDER' | translate}}" ng-model = "new_list"/>
	<div class = "flex flex-space">
		<button 
			class 		= "bg-3 padding tac flex-grow"
			ng-disabled	= "!new_list"
			type 		= "submit"
		> 
			{{'INTERFACE.OKAY' | translate}}
		</button>

		<button 
			class 		= "bg-3 padding tac flex-grow"
			ng-click	= "new_list = ''; toggle_new = false; $event.preventDefault()"
			type		= "button"
		> 
			{{'INTERFACE.CANCEL' | translate}}
		</button>
	</div>
</form> 

<button 
	class 		= "bg-0 padding tac bg-3"
	ng-show		= "!toggle_new"
	ng-click	= "toggle_new = true"
> 
	<span class = "icon left icon-interface-lists_add white"></span>
	{{'INTERFACE.CREATE_LIST' | translate}}
</button>


<br/>
<br/>
<br/>

<ul>

	<li 
		ng-repeat-start	= "list in ic.lists | filter : {user: ic.user.id} as results"
		class			= "flex"
		ic-touch-me
		ng-if			= "list.user == ic.user.id"
	>
		<input 
			type 				= "text"
			class				= "flex-grow"
			ng-show				= "!confirm"
			ng-model			= "list.name"
			ng-change			= "ic.lists.updateName(list.id, list.name)"
			ng-model-options	= "{ updateOn: 'blur change', debounce: {blur:0, change:300} }"
		/>

		<span 
			class 		= "icon icon-interface-list_public"
			ng-show		= "!confirm"
			ng-class 	= "{'active': list.public}"
			ng-click	= "ic.lists.togglePublicState(list.id, !list.public)"
		>
		</span>

		<span 
			class 		= "icon icon-interface-lists_delete"
			ng-show		= "!confirm"
			ng-click	= "confirm = true" 
		></span>

		<button
			class		= "flex-grow bg-3"
			ng-show		= "confirm"
			ng-click	= "ic.lists.removeList(list.id)"
			title		= "{{'INTERFACE.DELETE_LIST' | translate}}"
		>
			{{'INTERFACE.DELETE_LIST' | translate}}: {{list.name}}
		</button>

		<button
			class		= "icon icon-interface-close flex-grow bg-1 flex-shrink"
			ng-show		= "confirm"
			ng-click	= "confirm = false"
			title		= "{{'INTERFACE.CANCEL' | translate}}"
		>
		</button>


	</li>
	
	<li 
		ng-repeat-end
		ng-show	= "confirm"
		class	= "flex"
	>
	</li>

	<li 
		ng-if = "results.length == 0"
		class = "tac"
	>
		{{'INTERFACE.NO_LISTS' | translate}}
	</li>
	
</ul>



