<button 
	class 		=	"icon icon-interface-close close large"
	ng-click 	=	"ic.overlays.toggle()" 
>
</button>

<h2>{{'INTERFACE.ADD_ITEM_TO_LIST' | translate}}</h2>
<h3>{{ic.site.activeItem.title}}</h3>

<ul
	ng-if		= "ic.site.activeItem"
>
	<li 
		ng-repeat 	= "list in ic.lists | filter : {user: ic.user.id} as results"
		ng-click	= "ic.lists.toggleItemInList(ic.site.activeItem, list.id)"
		ng-title	= "{{ic.lists.itemInList(ic.site.activeItem, list.id) ? 'INTERFACE.REMOVE_ACTIVE_ITEM_FROM_LIST' : 'INTERFACE.ADD_ACTIVE_ITEM_TO_LIST'}}"
		class 		= "icon left icon-interface-checkbox"
		ng-class 	= "{'checked active': ic.lists.itemInList(ic.site.activeItem, list.id)}"
		ic-touch-me
	>
		{{list.name}}
	</li>
	<li 
		ng-if = "results.length == 0"
		class = "tac"
	>
		{{'INTERFACE.NO_LISTS' | translate}}
	</li>
</ul>


