
<ul ng-click = " ic.overlays.toggle('mainMenu', false, true)">
	<li 
		ng-if = "icPlain"
		class = "bg-3"
	>
		<a href = "/"><ic-logo-line></ic-logo-line></a>
	</li>

	<li class = "bg-3">
		<a href="/" ic-touch-me>	
			{{'INTERFACE.HOME' | translate}}
		</a>	
	</li>
	

	<li class = "bg-3">
		<a 
			ic-touch-me
			ng-href = "{{ {expandMap: true, list: true, activeItem : null} | icLink }}"
		>
			{{'INTERFACE.MAP' | translate}}
		</a>	
	</li>
	 


	<li class = "bg-3">

		<a href="/p/tags" ic-touch-me>	
			{{'INTERFACE.CATEGORIES' 	| translate}}
		</a>	

	</li>
		
	<li class = "bg-3">

		<a 
			ic-touch-me
			ng-href = "/list"
		>
			{{'INTERFACE.FULL_LIST' | translate}}
		</a>	

	</li>

	<li 
		ng-if = "!ic.user.loggedIn && icPlain"
		class = "bg-3"
	>
		<a 
			href = '/item/new'
			ic-touch-me
		>			
			{{'INTERFACE.SUGGEST_NEW_ITEM' | translate }}
		</a>
	</li>
	
	<li
		class				= "bg-3"
	>
		<a 
			class 			= "icon right icon-interface-down white"
			ng-if			= "!icPlain"
			tabindex		= "0"
		>
			{{'INTERFACE.MORE' | translate}}
		</a>		

		<ul 
			class	= "bg-0"
			style	= "{{icPlain ? 'display: block;' : ''}}"
		>
			<li 
				ng-repeat 	= "page in ic.config.pages"
				class 		= "bg-0 hover" 
				ng-if 		= "['home', 'tiles', 'tags', 'options'].indexOf(page) == -1"
			> 
				<a ic-touch-me a ng-href="/p/{{page}}">	{{'INTERFACE.%s' | fill : page| translate}}</a>	
			</li>
			<li 
				ng-if = "ic.consent.cases.length > 0" 
				class = "bg-0 hover"
				ic-touch-me
			>
				<button 
					ng-click 	= "ic.consent.clear()"
				>
					{{'INTERFACE.REVOKE_AND_RELOAD' | translate}}
				</button>

			</li>
			<li  
				class = "bg-0 hover"
				ng-if	= "!ic.user.loggedIn"
				ic-touch-me
			>
				<button  
					ng-click = "ic.overlays.toggle('login')"
				>{{'INTERFACE.LOGIN' | translate }}
				</button>
			</li>

		</ul>
	</li>

	<li  ng-if = "!icPlain" class 	= "spacer"></li>

	<li
		ng-if = "!ic.user.can('edit_items') && !icPlain"
		class = "bg-3"
	>
		<a	
			href = '/item/new'
		 	ic-touch-me		
		>			
			{{'INTERFACE.SUGGEST_NEW_ITEM' | translate }}
		</a>
	</li>

	<li 
		ng-if = "ic.user.loggedIn"
		ic-user-menu
		icPlain 			= "icPlain"
	>
	</li>

	
</ul>
