
<ul ng-click = " ic.overlays.toggle('mainMenu', false, true)">
	<li 
		ng-if = "icPlain"
		class = "bg-3"
	>
		<a href = "/"><ic-logo-text></ic-logo-text></a>
	</li>

	<li class = "bg-3"><a href="/" 		 ic-touch-me>	{{'INTERFACE.HOME' 			| translate}}</a>	</li>
	
	<li class = "bg-3"><a href="/p/tags" ic-touch-me>	{{'INTERFACE.CATEGORIES' 	| translate}}</a>	</li>
	<li class = "bg-3">
		<a 
			ic-touch-me
			ng-click = "ic.site.expandMap = true; ic.site.list = true; ic.site.activeItem = null"
		>
			{{'INTERFACE.MAP' | translate}}
		</a>	
	</li>

	<li 
		ng-if = "!ic.user.loggedIn && icPlain"
		class = "bg-3"
	>
		<a 
			ng-click = "ic.site.activeItem = ic.itemStorage.newItem(); ic.site.editItem = true"
			ic-touch-me
		>
			<span class	= "icon large left icon-interface-edit active"></span>
			{{'INTERFACE.SUGGEST_NEW_ITEM' | translate }}
		</a>
	</li>
	<li 
		ng-show = "!ic.user.loggedIn && icPlain"
		class 	= "bg-0"
	>
		<a 
			ng-click = "ic.overlays.toggle('login')"
			ic-touch-me
		>
			<span class	= "icon large left icon-interface-user active"></span>
			{{'INTERFACE.LOGIN' | translate }}
		</a>
	</li>

	<!-- <li><a href="#">		{{'INTERFACE.CALENDAR' 		| translate}}</a>	</li> -->
	<li
		ng-mouseenter 		= "showMore = true" 
		ng-mouseleave		= "showMore	= false"
		ng-click			= "showMore = !showMore"
		ic-click-outside 	= "showMore = false" 
	>
		<a 
			class 			= "icon right icon-interface-down white"
			ng-if			= "!icPlain"
		>
			{{'INTERFACE.MORE' | translate}}
		</a>		

		<ul 
			class	= "bg-0"
			ng-show = "icPlain || showMore"
		>
			<li> <a class = "bg-0 hover" ic-touch-me a ng-href="/p/about">	{{'INTERFACE.ABOUT'			| translate}}</a>	</li>
			<li> <a class = "bg-0 hover" ic-touch-me ng-href="/p/contact">	{{'INTERFACE.CONTACT' 		| translate}}</a>	</li>
			<li> <a class = "bg-0 hover" ic-touch-me ng-href="/p/partner">	{{'INTERFACE.PARTNER' 		| translate}}</a>	</li>
			<li> <a class = "bg-0 hover" ic-touch-me ng-href="/p/legal">	{{'INTERFACE.LEGAL' 		| translate}}</a>	</li>
			<li> <a class = "bg-0 hover" ic-touch-me ng-href="/p/network">	{{'INTERFACE.NETWORK' 		| translate}}</a>	</li>
			<li  
				ng-if	= "!ic.user.loggedIn && !icPlain"
				ic-touch-me
			>
				<a  
					class = "bg-0 hover"
					ic-touch-me
					ng-click = "ic.overlays.toggle('login')"
				>{{'INTERFACE.LOGIN' | translate }}
				</a>
			</li>
		</ul>
	</li>
	<li  ng-if = "!icPlain" class 	= "spacer"></li>

	<li
		ng-if = "!ic.user.loggedIn && !icPlain"
	>
		<a 	
		 	ic-touch-me		
			ng-click 	= "ic.site.activeItem = ic.itemStorage.newItem(); ic.site.editItem = true"
		>
			<span class	= "icon large left icon-interface-edit white"></span>
			{{'INTERFACE.SUGGEST_NEW_ITEM' | translate }}
		</a>
	</li>

	<li 
		ng-if				= "ic.user.loggedIn"
		ng-mouseenter 		= "showAdmin = true" 
		ng-mouseleave		= "showAdmin = false"
		ng-click			= "showAdmin = !showAdmin"
		ic-click-outside 	= "showAdmin = false" 
	>
		<a 
			ng-if = "!icPlain"
			class = "icon right icon-interface-down white"
			ic-touch-me
		>
			{{ic.user.displayName}}
		</a>	
		<ul 
			ng-show = "icPlain || showAdmin"
		>
			<li ng-if="ic.user.can('edit_items')">
				<a 
					class = "bg-0 hover"  
					ng-click = "ic.site.activeItem = ic.itemStorage.newItem(); ic.site.editItem = true"
					ic-touch-me
				>{{'INTERFACE.CREATE_NEW_ITEM' | translate}}</a>	
			</li>
			<li ng-if = "!ic.user.can('edit_items')">
				<a 
					class = "bg-0 hover"  
					ng-click = "ic.site.activeItem = ic.itemStorage.newItem(); ic.site.editItem = true"
					ic-touch-me
				>{{'INTERFACE.SUGGEST_NEW_ITEM' | translate}}</a>	
			</li>
			<li>
				<a
					class = "bg-0 hover"  
					ng-click = "ic.admin.updateTranslations()"
					ic-touch-me
				>{{'INTERFACE.UPDATE_TRANSLATIONS' | translate}}</a>	
			</li>

			<li>
				<a 
					class = "bg-0 hover"  
					href = "/list/u/state_draft"
					ic-touch-me
				>
					<span>{{'INTERFACE.LIST_DRAFT' | translate}}</span>
					<span class ="bubble shade-light col-1">{{ic.itemStorage.currentStats.totals['state_draft'] || 0}}</span>
				</a>	
			</li>

			<li>
				<a 
					class = "bg-0 hover"  
					href = "/list/u/state_suggestion"
				 	ic-touch-me
				>
					<span>{{'INTERFACE.LIST_SUGGESTION' | translate}}</span>
					<span class ="bubble shade-light col-1">{{ic.itemStorage.currentStats.totals['state_suggestion']|| 0}}</span>
				</a>	
			</li>


			<li>
				<a
					class = "bg-0 hover"  
					href = "/list/u/state_archived"
					ic-touch-me
				>
					<span>{{'INTERFACE.LIST_ARCHIVED' | translate}}</span>
					<span class ="bubble shade-light col-1">{{ic.itemStorage.currentStats.totals['state_archived'] || 0}}</span>
				</a>	
			</li>

			<li>
				<a 
					class = "bg-0 hover" 
					ng-click = "ic.user.logout()"
					ic-touch-me
				>
					{{('INTERFACE.LOGOUT' | translate) + (icPlain ? ': '+ic.user.displayName :'')}}
				</a>
			</li>

		</ul>
	</li>
</ul>
