<ul>
	<li><a href="/p/home">{{'HOME' | translate}} </a>				</li>
	<li><a href="/p/tags">{{'CATEGORIES' | translate}}</a>	</li>
	<li><a href="#">{{'MAP' | translate}}</a>				</li>
	<li><a href="#">{{'CALENDAR' | translate}}</a>			</li>
	<li>
		<a href="#" class = "icon right icon-interface-down white">Mehr</a>		
		<ul>
			<li><a href="#">{{'PARTNER' 	| translate}}</a>	</li>
			<li><a href="#">{{'NEWSLETTER' 	| translate}}</a>	</li>
			<li><a href="#">{{'NETWORK' 	| translate}}</a>	</li>
			<li><a href="#">{{'CONTACT' 	| translate}}</a>	</li>
			<li><a href="#">{{'ABOUT' 		| translate}}</a>	</li>
		</ul>
	</li>
</ul>
