<div 
	class 		= "outer-icon marker-type-{{::icItem.type || 'unknown'}}"
>
	<div 
		class = "inner-icon" 
		ng-if = "icItem"
		style = "background-image:url({{::icItem.primaryTopic|icIcon : 'topic' : 'white'}})"
	></div>
	<div 
		class = "inner-icon" 
		ng-if = "!icItem"
		style = "background-image:url({{'more'|icIcon}})"
	></div>
</div>

<a
	class 		= "content"
	ng-click	= "icItem ? icSite.openItem(icItem).toggleSwitch('expandMap', false) : ''"
	ng-if		= "icItem || icTitle || icDetails"
>
	<div ng-if = "icTitle"	class = "title"> 	{{icTitle}}			</div>
	<div ng-if = "icDetails"class = "details">	{{icDetails}}		</div>

	<div ng-if = "icItem"	class = "title">	{{::icItem.title}}	</div>
	<div ng-if = "icItem"	class = "details">	{{icItem.definition[icLanguages.currentLanguage]}}	</div>
</a>
