<ic-language-menu 		ng-class = "{'ic-hide': !ic.overlays.show.languageMenu}" 	class = "bg-0 right">		</ic-language-menu>	

<ic-main-menu			ng-class = "{'ic-hide': !ic.overlays.show.mainMenu}"		class = "bg-0 left" ic-plain = "true">		</ic-main-menu>
 
<ic-spinner				ng-class = "{'ic-hide': !ic.overlays.show.spinner}" 		active = "true">			</ic-spinner>

<ic-sharing-menu 		ng-class = "{'ic-hide': !ic.overlays.show.sharingMenu}" 	class = "bg-0 center">		</ic-sharing-menu>

<ic-confirmation-modal	ng-if = "ic.overlays.show.confirmationModal" 				class = "bg-0 center">		</ic-confirmation-modal>

<ic-popup				ng-if = "ic.overlays.show.popup" 							class = "bg-0 center">		</ic-popup>

<ic-taxonomy-filter 	ng-class = "{'ic-hide': !ic.overlays.show.taxonomyFilter}" 	class = "bg-1 left">		</ic-taxonomy-filter >

<ic-lists-menu			ng-class = "{'ic-hide': !ic.overlays.show.listsMenu}"		class = "bg-0 right">		</ic-lists-menu>



<ic-login 
	ng-if 				= "ic.overlays.show.login" 
	class 				= "bg-0 center"
>

</ic-login>

<div 
	class 				=	"qrcode black full"
	ng-click			=	"ic.overlays.toggle('qrcode')"
	ng-if				=	"ic.overlays.show.qrcode"
>
	<qrcode 
		version					=	"4" 
		error-correction-level	=	"M" 
		size					=	"200" 
		data					=	"{{ic.site.activeItem | icItemLink}}"
	>
	</qrcode>
	<div>{{ic.site.activeItem | icItemLink}}</div>
</div>


