<ic-language-menu 		ng-class = "{'ic-hide': !icOverlays.show.languageMenu}" 	class = "white right">	</ic-language-menu>	

<!-- 
<ic-main-menu			ng-class = "{'ic-hide': !icOverlays.show.mainMenu}"			class = "white left">	</ic-main-menu>
<ic-sharing-menu 		ng-class = "{'ic-hide': !icOverlays.show.sharingMenu}" 		class = "white right">	</ic-sharing-menu>
 -->
 
<ic-spinner				ng-class = "{'ic-hide': !icOverlays.show.spinner}" 			active = "true">		</ic-spinner>

<ic-confirmation-modal	ng-if = "icOverlays.show.confirmationModal" 				class = "white center">	</ic-confirmation-modal>
<ic-popup				ng-if = "icOverlays.show.popup" 							class = "white center">	</ic-popup>


<!-- 
	
<ic-login 
	ng-if 				= "icOverlays.show.login" 
	class 				= "white center"
>

</ic-login>

 -->
<!-- 
<div 
	class 				=	"qrcode black full"
	ic-toggle-overlay	=	"qrcode"
	ng-if				=	"icOverlays.show.qrcode"
>
	<qrcode 
		version					=	"3" 
		error-correction-level	=	"M" 
		size					=	"200" 
		data					=	"{{icSite.activeItem | icItemLink}}"
	>
	</qrcode>
	<div>{{icSite.activeItem | icItemLink}}</div>
</div>

 -->

