<form 
	class 		= "row"
	ng-submit 	= "addKey(key.add); key.value = key.add; key.add = ''"			
>

	<select ng-model  = "key.value"	>

		<option 
			ng-repeat 	= "k in ic.options.keys"
			value		= "{{k}}"							
		>
			{{'INTERFACE.OPTIONS_KEY_%s' | fill : k | translate}}
		</option>

	</select>

	<input
		ng-model 	= "key.add"				
		placeholder = "{{'INTERFACE.OPTIONS_NEW_KEY' | translate}}"
	/>

	<div></div>

	<div class = "buttons">				
		<button
			type		= "submit"
			class 		= "bg-3 icon icon-interface-add round white"
			title 		= "{{'INTERFACE.OPTIONS_ADD_KEY' | translate}}"
		>
		</button>
	</div>

</form>

<hr/>


<h4>{{'INTERFACE.OPTIONS_ADD_BLOCK' | translate}}</h4>

<form
	class		= "row" 
	ng-submit 	= "addBlock(block, key.value)"
	ng-if		= "key.value"
>
	<textarea
		ng-model 	= "block"
		placeholder = "{{'INTERFACE.OPTIONS_BLOCK_PLACEHOLDER' | translate}}" 
		style		= "height: 4rem; overflow-y: scroll"
	>
	</textarea>

	<div class = "buttons">
		<button
			type		= "submit"
			class 		= "bg-3 icon icon-interface-add round white"
			title 		= "{{'INTERFACE.OPTIONS_ADD_BLOCK' | translate}}"
			ng-disabled = "!key.value || !block"
		>
		</button>
		<button
			type		= "button"
			class 		= "bg-3 icon tac round white"
			title 		= "{{'INTERFACE.OPTIONS_ADD_BLOCK' | translate}}"
			ng-click	= "logRaw()"
		>
			{ }
		</button>
	</div>
</form>


<div ng-bind-html = "'INTERFACE.OPTIONS_BLOCK_NOTE' | translate | markdown"></div>


<hr/>

<h4>{{'INTERFACE.OPTIONS_ADD_SINGLE' | translate}}</h4>


<form 
	class 		= "row add"
	ng-submit 	= "addOption(new_option)"
	ng-if		= "key.value"
>

	<input 
		class				=	"label"
		ng-model 			=	"new_option.label" 
		ng-model-options	=	"{ debounce: 200 }"				
		placeholder			=	"{{'INTERFACE.OPTIONS_LABEL'|translate}}"
	/>

	<input 
		class				=	"link"
		ng-model 			=	"new_option.link"
		ng-model-options	=	"{ debounce: 500 }"				
		placeholder			=	"{{'INTERFACE.OPTIONS_LINK'|translate}}"

	/>		

	<input 
		class				=	"tag"
		ng-model 			=	"new_option.tag"
		ng-model-options	=	"{ debounce: 500 }"				
		placeholder			=	"{{'INTERFACE.OPTIONS_TAG'|translate}}"

	/>		

	<div class = "buttons">

		<button 
			class		= "bg-3 icon icon-interface-add round bg-3 white"
			type		= "submit"
			title		= "{{'INTERFACE.OPTIONS_ADD' | translate}}"
			ng-disabled = "!key.value || !new_option.label"
		>
		</button>

	</div>

</form>

<hr/>

<h4>{{'INTERFACE.OPTIONS_EDIT' | translate}}</h4>

<div ng-bind-html = "'INTERFACE.OPTIONS_EDIT_NOTE' | translate | markdown"></div>


<form 
	class 	= "row just-added"
	ng-if	= "(filteredOptions | mapToKey: '_just_added' | some)"
>
	<div></div>
	<div></div>
	<div></div>

	<div class ="buttons">
		<button 
			type		= "button"
			class		= "bg-3 icon icon-interface-delete round white"			
			title		= "{{'INTERFACE.OPTIONS_DELETE_RECENT' | translate}}"
			ng-click 	= "removeAllRecentlyAdded()"
		>
		</button>
	</div>
</form>

<div 
	ng-if = "filteredOptions.length > page.size || filter.term"
	class = "row" 
>

	<input 
		ng-model 	= "filter.term"	
		ng-change 	= "update()"
	/>

	<div class ="buttons">		
		<button 
			class			= "bg-3 white icon icon-interface-left round"
			ng-click 		= "page.current = page.current - 1"
			ng-disabled 	= "page.current < 1" 
		></button>

		&nbsp;{{page.current+1}} / {{ (filteredOptions.length / page.size) | ceil }}&nbsp;

		<button 
			class			= "bg-3 white icon icon-interface-right round"
			ng-click 		= "page.current = page.current + 1"
			ng-disabled 	= "page.current +1 >= (filteredOptions.length / page.size) | ceil" 
		></button>
	</div>


</div>

<br/>

<form
	class		= "row edit" 
	ng-repeat	= "option in filteredOptions | limitTo: page.size : page.current*page.size"
	ng-submit	= "updateOption(edit(option))"
	ng-class	= "{'just-added': option._just_added}"
>

	<input 
		class				=	"label"
		ng-model 			=	"edit(option).label" 
		placeholder			=	"{{'INTERFACE.OPTIONS_LABEL' | translate}}"
	/>

	<input
		class 		= "link"
		ng-model 	= "edit(option).link"
		placeholder = "{{'INTERFACE.OPTIONS_LINK' | translate}}"
	/>

	<input class = "tag"
		value = "{{edit(option).tag}}"
		disabled
	/>


	<div class = "buttons">

		<button 
			type		= "submit"
			class		= "bg-3 icon icon-interface-save round white"			
			title		= "{{'INTERFACE.OPTIONS_UPDATE' | translate}}"
			ng-disabled	= "!diff(option)"
		>
		</button>

		<button 
			type		= "button"
			class		= "bg-3 icon icon-interface-item_revert round white"
			ng-click 	= "undo(option)"
			title		= "{{'INTERFACE.OPTIONS_REVERT' | translate}}"
			ng-disabled	= "!diff(option)"
		>
		</button>

		<button 
			type		= "button"
			class		= "bg-3 icon icon-interface-delete round white"
			ng-click 	= "removeOption(option)"
			ng-disabled = "numberOfItems(option) > 0"
			title		= "{{ (numberOfItems(option) ? 'INTERFACE.OPTIONS_NO_REMOVE_ITEMS' : 'INTERFACE.OPTIONS_REMOVE') | translate}}"
		>
		</button>

		<a
			class		= "bubble bg-3 white"
			ng-href 	= "{{ numberOfItems(option) ? '/list/u/'+option.tag : ''}}"
			ng-class 	= "{'disabled': !numberOfItems(option)}"
			title		= "{{'INTERFACE.OPTIONS_NUMBER_ITEMS' | translate}}"
		>
			{{ numberOfItems(option) }}
		</a>		

	</div>

</form>

