<ul>
	<li
		ng-click 	= "ic.filterConfig.toggleSortOrder('alphabetical_'+ic.site.currentLanguage, true)" 
		class 		= "block"
		ic-touch-me	
	>

		<span
			ng-class	= "{'checked': ic.site.sortOrder.match('alphabetical_')}"
			class 		= "icon left icon-interface-radio"
		>
		</span>
		<span 
		>
			{{'INTERFACE.SORT_ALPHABETICALLY_%s'| fill : (ic.site.sortDirection == 1 ? 'ASC' : 'DESC') | translate}}
		</span>
	</li>

	<li
		ng-click 	= "ic.filterConfig.toggleSortOrder('start_date', true)" 
		class 		= "block icon left icon-interface-radio"
		ic-touch-me	
	>

		<span
			class = " icon left icon-interface-radio"
			ng-class	= "{'checked': ic.site.sortOrder.match('start_date')}"
		>
			
		</span>
		<span 
		>
			{{'INTERFACE.SORT_START_DATE_%s'| fill : (ic.site.sortDirection == 1 ? 'ASC' : 'DESC') | translate}}
		</span>
	</li>

	<li
		ng-if		= "ic.user.can('edit_items')"
		ng-click 	= "ic.filterConfig.toggleSortOrder('last_change', true)" 
		class 		= "block icon left icon-interface-radio"
		ic-touch-me	
	>
			<span
				class 		= "icon left icon-interface-radio"
				ng-class	= "{'checked': ic.site.sortOrder == 'last_change'}"
			>
			</span>
			<span 
			>
				{{'INTERFACE.SORT_LAST_CHANGE_%s'| fill : (ic.site.sortDirection == 1 ? 'ASC' : 'DESC') | translate}}
			</span>
	</li>
</ul>

<div>
	<button	
		class		= "padding icon large icon-interface-sortorder round {{ic.site.sortDirection == 1 ? 'asc' : 'desc'}}" 
		ng-click 	= "ic.filterConfig.toggleSortDirection()"
		title		= "{{'INTERFACE.REVERSE_SORTING_ORDER' | translate}}"
		ic-touch-me
	>		
	<button>	
</div>
