<form
	ng-submit = "update(searchTerm)"
>
	<input
		id					= "search-term" 			
		tabindex			= "1"
		type 				= "text" 
		ng-model 			= "searchTerm"
		placeholder			= "{{'INTERFACE.SEARCH_TERM' | translate }}"
		focus-me			= "icFocus"
	/>
	<button 		
		class	= "{{icButtonLabel ? 'bg-3' : 'bg-t'}}"
		type	= "submit"	 		
	>
		<span class = "icon {{icButtonLabel ? 'icon-interface-search large white' : 'icon-interface-right bg-t'}}" >
		</span>
		{{ icButtonLabel.length ? icButtonLabel : ''}}
	</button>
</form>