<ul>
	<li
		ng-click 	= "ic.filterConfig.toggleSortOrder('alphabetical_'+ic.site.currentLanguage, true)" 
		class 		= "block"
		ic-touch-me	
	>
		<span 
			class 		= "icon left icon-interface-radio" 
			ng-class	= "{'checked active': ic.site.sortOrder.match('alphabetical_')}">
		</span>

		<span 
		>
			{{'INTERFACE.SORT_ALPHABETICALLY_%s'| fill : (ic.site.sortDirection == 1 ? 'ASC' : 'DESC') | translate}}
		</span>
	</li>

	<li
		ng-click 	= "ic.filterConfig.toggleSortOrder('last_change', true)" 
		class 		= "block "
		ic-touch-me	
	>
		<span
			class 		= "icon left icon-interface-radio"
			ng-class	= "{'checked active': ic.site.sortOrder == 'last_change'}"
		>
		</span>
		<span 
		>
			{{'INTERFACE.SORT_LAST_CHANGE_%s'| fill : (ic.site.sortDirection == 1 ? 'ASC' : 'DESC') | translate}}
		</span>
	</li>
</ul>

<div>
	<button	
		class		= "padding icon large icon-interface-sortorder active round {{ic.site.sortDirection == 1 ? 'asc' : 'desc'}}" 
		ng-click 	= "ic.filterConfig.toggleSortDirection()"
		title		= "{{'INTERFACE.REVERSE_SORTING_ORDER' | translate}}"
		ic-touch-me
	>		
	</button>	
</div>

