<a 
	ng-repeat 	= "tile in ic.tiles | orderBy : 'order'"
	ng-href		= "{{tile.link}}"
	ng-style	= "{ width: tile.stretch ? '100%' : null}"
	ng-class	= "{bottom: tile.bottom}"
	
>
	<div
		class 		= "background {{tile.icon ?  ' icon icon-'+tile.icon : ''}} white {{tile.background ? 'background-image image-'+tile.background : ''}}"
		ng-style	= "{'background-color': tile.color}"
	>
	</div>

	<div class ="content">
		<h3>{{tile.label | translate}}</h3>
		<p>{{tile.description | translate}}</p>
	</div>
</a>


