	<a
		ng-repeat 	= "category in ic.taxonomy.categories"
		class		= "ic-tag ic-bg-cat-{{::category.name}}"
		ng-if		= "category.name | in : icTags"
	>
		{{'CATEGORIES.%s' | fill : category.name | translate}}
	</a><!--
 --><a
		ng-repeat 	= "type in ic.taxonomy.types"
		class		= "ic-tag ic-bg-type-{{::type.name}}"
		ng-if		= "type.name | in : icTags"
	>
		{{'TYPES.%s' | fill : type.name | translate}}
	</a><!--
 --><a
		ng-repeat 	= "tag in ic.taxonomy.unsortedTags"
		class		= "ic-tag shade-dark"
		ng-if		= "tag | in: icTags"
	>
		{{'UNSORTED_TAGS.%s' | fill : tag | translate}}
	</a>