	<a
		class		= "ic-tag ic-bg-type-{{::type.name}}"
		ng-repeat 	= "type in ic.taxonomy.types"
		ng-if		= "type.name | in : icTags"
		ng-href		= "/list/t/{{::type.name}}"
	>
		{{'TYPES.%s' | fill : type.name | translate}}
	</a><!--
 --><a
		class		= "ic-tag ic-bg-cat-{{::category.name}}"
		ng-repeat-start 	= "category in ic.taxonomy.categories"
		ng-if		= "category.name | in : icTags"
		ng-href		= "/list/c/{{::category.name}}"
	>
		{{'CATEGORIES.%s' | fill : category.name | translate}}
	</a><!--
 --><a
		class		= "ic-tag ic-bg-cat-{{::category.name}}"
		ng-repeat	= "tag in category.tags"
		ng-repeat-end
		ng-if		= "tag | in : icTags"
		ng-href		= "/list/c/{{::tag}}"
	>
		{{'CATEGORIES.%s' | fill : tag | translate}}
	</a><!--
 --><a
		class		= "ic-tag"
		ng-repeat 	= "tag in ic.taxonomy.tags | flatten | preventLoop"
		ng-if		= "tag | in: icTags"
		ng-href		= "/list/u/{{::tag}}"
	>
		{{'UNSORTED_TAGS.%s' | fill : tag | translate}}
	</a>