		
														
		<link href ="styles/<%= filenames.initial_styles %>"  type="text/css" rel = "stylesheet" /> 

		<script>
			window.addEventListener('load', function(){

				var l 		= document.createElement('link'),
					s 		= document.createElement('script'),
					done	= false

				function bootstrapWhenDone(){
					if(!done){
						done = true
					}else{
						angular.bootstrap(document, ['InfoCompass'])
					}
				}

				l.setAttribute('rel',	'stylesheet')
				l.setAttribute('type',	'text/css')
				l.setAttribute('href',	'styles/<%= filenames.styles %>')
				l.addEventListener('load', bootstrapWhenDone)
				

				s.setAttribute('src','js/<%= filenames.scripts %>')
				s.addEventListener('load', bootstrapWhenDone)


				document.head.appendChild(l)
				document.head.appendChild(s)

				
			})
		</script>