.print-only {
	display:			none;
}



html {
	background-color:	#fff;
}

html,
body {
	padding:			0;
	margin:				0;
	height:				100%;
	overflow:			hidden;
	-webkit-overflow-scrolling: touch;
}

/* Mock*/
html.initial-rem {
	background-image:		url(/images/background.svg);
	background-size: 		16rem;
	background-repeat:		repeat;
}


body {
	display:				block;
}



body > header {
	position:				relative;
	left:					0;
	right:					0;
	top:					0;
	z-index:				100;
	background:				#fff;
}




body > #content {
	position:				absolute;
	display:				block;
	top:					3rem;
	bottom:					0;
	left:					0;
	right:					0;
	white-space: 			nowrap;
	overflow:				hidden;
}




#content section {
	position:				relative;
	height:					100%;
	display:				inline-block;
	vertical-align:			top;
	overflow-x:				hidden;
	background-color:		#fff;
	white-space:			normal;
	z-index:				1;
	box-shadow:				0 0 0.5rem rgba(0,0,0,0.3);
	padding:				1rem;
	box-sizing:				border-box;
}



#content section > * {
	margin:					0 auto;
	min-height:				100%;
}

#content section > ic-header {
	min-width:				100% !important;
	box-shadow:				none;
	height:					3rem;
	min-height:				0;
}



/*scrollbars issues */



#content section {
	overflow-y:				scroll;
	will-change:			scroll-position;
	-webkit-overflow-scrolling: touch;
}

.scrollbar-takes-space #content > section {
	overflow-y:				hidden;
}

.scrollbar-takes-space #content > section:hover {
	overflow-y:				auto;

	-webkit-overflow-scrolling: touch;
}

.XS #content  section {
	overflow-y:				auto;
	
	-webkit-overflow-scrolling: touch;
}

.M section.item, 
.L section.item,
.XL section.item{
	overflow-y:				scroll !important;
}




#content section:nth-last-child(1){
	z-index:				1;
}


#content section:nth-last-child(2){
	z-index:				2;
}

#content section:nth-last-child(3){
	z-index:				3;
}

#content section:nth-last-child(4){
	z-index:				4;
}

#content section:nth-last-child(5){
	z-index:				5;
}

#content section:nth-last-child(6){
	z-index:				6;
}





/*Layout page */


#content section.page {
	display:				block;
	width:					auto;
	overflow-y:				scroll; 

}

#content section.page:after {
	content:				'';
	display:				block;
	height:					10rem;
} 

#content section.page > * {
	box-sizing:				border-box;
}

.S	#content section.page > * {
	width:					46rem;
	padding-left:			3rem;
}

.M	#content section.page > * {
	width:					60rem;
	padding-left:			3rem;
}

.L	#content section.page > * {
	width:					72rem;
	padding-left:			3rem;
}

.XL #content section.page > * {
	width:					108rem;
	padding-left:			3rem;
}





/*Layout list */

#content section.list {
	will-change:			scroll-position;
}

.XS	#content section.list  {
	width:					23rem;
	overflow-y:				scroll;
}


.S 	#content section.list {
	width:					24rem;
}

.M 	#content section.list,
.L 	#content section.list,
.XL	#content section.list {
	display:				inline-block;
	width:					26rem;
}



.S 	#content section.list > * {
	width:					22rem;
}

.M 	#content section.list > *,
.L 	#content section.list > *,
.XL	#content section.list > * {
	width:					24rem;
}




/*Layout filter */

#content section.filter {
	background-color:		#fafafa;
}


.XS	#content section.filter {
	width:					23rem;
	overflow-y:				scroll;
}


.S 	#content section.filter {
	width:					24rem;
}

.M 	#content section.filter,
.L 	#content section.filter,
.XL	#content section.filter {
	width:					16rem;
}



.S 	#content section.filter > *{
	width:					22rem;
}

.M 	#content section.filter > *,
.L 	#content section.filter > *,
.XL	#content section.filter > * {
	width:					14rem;
}






/*Layout item*/

.XS	#content section.item {
	width:					23rem;
	overflow-y:				scroll;
}


.S 	#content section.item {
	width:					48rem;
	overflow-y:				scroll;
}

.M 	#content section.item,
.L 	#content section.item,
.XL	#content section.item {
	display:				inline-block;
	width:					40rem;
}


.XS #content section.item > *{
	width:					21rem;
}


.S 	#content section.item > *,
.M 	#content section.item > *,
.L 	#content section.item > *,
.XL	#content section.item > * {
	width:					38rem;
}




/* Layout item and list */


 .M.show-list.show-item #content section.list,
 .L.show-list.show-item #content section.list,
.XL.show-list.show-item	#content section.list {
	display:				inline-block;
	width:					24rem;
}

 .M.show-list.show-item #content section.list > *,
 .L.show-list.show-item	#content section.list > *,
.XL.show-list.show-item	#content section.list > * {
	width:					22rem;
}



 .L.show-list.show-item	#content section.filter,
.XL.show-list.show-item	#content section.filter {
	display:				inline-block;
	width:					16rem;
}

 .L.show-list.show-item	#content section.filter > *,
.XL.show-list.show-item	#content section.filter > * {
	width:					14rem;
}




 .M.show-list.show-item	#content section.item,
 .L.show-list.show-item	#content section.item,
.XL.show-list.show-item	#content section.item {
	display:				inline-block;
	width:					40rem;
}

 .M.show-list.show-item #content section.item > *,
 .L.show-list.show-item #content section.item > *,
.XL.show-list.show-item #content section.item > * {
	width:					32rem;
}




ic-section-filter,
ic-section-list,
ic-section-item {
	display:				block;
}





