


/* header */




ic-header {
	display:				block;
	text-align:				left;
	box-sizing:				border-box;
	box-shadow:				0 1px 0 0 #666;
	margin:					0 1rem;
	line-height:			3rem;
	height:					3rem;
	text-align:				right;
}

ic-header button{
	display:				inline-block;
	height:					2.5rem;
	min-width:				2.5rem;
	margin:					0.25em -0.25rem;
	border-radius:			0;
	background-size:		2rem;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
	background-color:		transparent;
	cursor:					pointer;
	vertical-align:			middle;
	border-radius:			100%;
	padding:				0;
}


ic-header button + button {
	margin-left:			0.5rem;
}





/* Workaround, TODO , scroll bump*/

ic-section-list {
	box-shadow:				0 0 0 1rem #fff;
	background-color:		#fff;
	text-align:				left;
}















ic-search {
	display:				inline-block;
	position:				relative;
}

ic-search .search-term {
	position:				relative;
	width:					18rem;
}

ic-search .search-term input {
	width:					100%;
	padding-right:			2rem;
	box-sizing:				border-box;
	border-radius:			0;
	background:				#eee;
	font-size:				1.2rem;
	line-height:			2rem;
	text-align:				center;
}

ic-search .search-term button {
	position:				absolute;
	top:					0;
	right:					0;
	bottom:					0;
	width:					2rem;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
	background-size:		contain;
	background-color:		transparent;
}

ic-search input:focus {
	box-shadow:				0 0 0 1px #000 inset;
} 

ic-search .auto-suggest {
	margin-top:				1rem;
}

ic-search .auto-suggest a {
	display:				block;
	border-radius:			0;
	text-align:				left;
	line-height:			2rem;
	margin:					0;
	padding:				0 0.5rem;
	white-space: 			nowrap;
	text-overflow:			ellipsis;
	overflow:				hidden;
	font-size:				0.8rem;
}








/* hzScroll */

[hz-scroll]{
	position:				relative;
}

[hz-scroll] .wrapper{
	overflow-x:				scroll;
}

[hz-scroll] .shuttle{
	padding:				0 2rem;
}



[hz-scroll] button{
	display:				block;
	position:				absolute;

	top:					50%;
	margin-top:				-1.5rem;
	width:					3rem;
	height:					3rem;

	border-radius:			3rem;

	background-color:		rgba(0,0,0,0.2);

	z-index:				100;
}

[hz-scroll] button:first-child{
	left:					1rem;

}

[hz-scroll].max-left button:first-child{
	display:				none;
}



[hz-scroll] button:last-child{
	right:					1rem;
}

[hz-scroll].max-right button:last-child{
	display:				none;
}













/* logo */


.logo {
	width:					16rem;
	padding:				2.8rem 2.8rem;
	font-size:				1.2rem;
	background-image:		url(/images/logo.svg);
	background-position:	0 0;
	background-size:		3.5rem auto;
	background-repeat:		no-repeat;
}

.logo h1 {
	margin:					0;
	margin-bottom:			1rem;
}

.logo h2 {
	margin:					0;
	white-space: 			normal;
	font-weight:			normal;
	font-size: 				1rem;
}





/*  tags */

.tags {
	margin:					1rem -0.2rem;
	display:				block;
	display:				flex;
	white-space: 			normal !important;
	flex-wrap:				wrap;
}


.tags > a {
	position:				relative;
	display:				inline-block !important;
	font-size:				0.9rem;
	margin:					0.2em;
	padding:				0 0.4em;
	border-radius:			0.2em;
	border-width:			0 !important;
	background:				#ddd;
	line-height:			1.6em !important;
	padding-left:			1.6em;
	border:					none;
	white-space:			nowrap;
	text-overflow:			ellipsis;
}

.tags > a > .icon {
	position:				absolute;
	top:					0.3em;
	bottom:					0.3em;
	left:					0.2em;
	width:					1em !important;
	height:					auto !important;
	background-size:		1em !important;
}




/* tiles */


.tiles {
	display:				block;
	white-space: 			normal;
	line-height:			10rem;
	margin:					-0.5rem -0.5rem;
	text-align:				center;
}

.tiles > * {

}

.tiles > .large	{
	float:					left;
	width:					22rem;
	height:					28rem;
	max-height:				28rem;
}

.tiles > .large.right	{
	float:					right;
	width:					22rem;
	height:					28rem;
	max-height:				28rem;
}


.tiles *.active,
.tiles *.clicked {
	/*background-color:		rgba(20, 20, 180, 0.6);*/
}




[ic-tile] {
	position:				relative;
	display:				inline-block;
	margin:					0.5rem;
	width:					21rem;
	height:					10rem;
	vertical-align:			top;
	text-align:				left;
	line-height:			initial;
}

[ic-tile] .background {
	background-repeat: 		no-repeat;
	height:					100%;
	width:					100%;
}

[ic-tile] .background.image {
	display:				none;
	background-size:		cover;
	background-position:	50% 50%;
	opacity:				0.5;
	/*filter: 				grayscale(100%);*/
}

[ic-tile] .background.icon {
	background-size:		6rem auto;
	background-position:	50% 1rem;
}

[ic-tile] .content {
	position:				absolute;
	left:					0;
	right:					0;
	height:					auto;
	bottom:					0;
	background-color:		rgba(0,0,0,0);
	padding:				0.5rem;
}

[ic-tile] .content .title {
	font-weight:			bold;
	line-height:			1.2rem;
	height:					1.2rem;
	color:					#fff;
	white-space: 			nowrap;
	overflow:				hidden;
	text-overflow:			ellipsis;
}

[ic-tile] .content .brief {
	font-size:				0.7rem;
	line-height:			1rem;
	height:					1rem;
	color:					#fff;
	overflow:				hidden;

	white-space: 			nowrap;
	text-overflow:			ellipsis;
}










/* ic-result-list */

ic-search-result-list {
	display:				block;
	background:				#fff;
	padding-top:			0.5rem;
	padding-bottom:			100%;
}


ic-search-result-list  button {
	display:				block;
	min-height:				4rem;
	padding:				0;
	margin:					0;
	background-color:		transparent;
	border:					0;
	border-radius:			0;
	overflow: 				hidden;
	
}

ic-search-result-list ic-spinner {
	font-size:				3rem;
}

ic-search-result-list ic-spinner + ic-spinner {
	display:				none;
}

ic-search-result-list .result-group {
	line-height:			3rem;
	margin:					0;
	box-shadow:				0 0.2em 0 0 rgba(0,0,0,0.3) inset;
	cursor:					pointer;
}


ic-search-result-list .no-more-items {
	display:				block;
	text-align:				center;
	line-height:			5rem;
}

ic-search-result-list .no-more-items:before,
ic-search-result-list .no-more-items:after {
	content:				'';
	display:				inline-block;
	height:					1px;
	width:					4rem;
	vertical-align:			middle;
	background-color:		#000;
	margin:					1rem;
}

ic-search-result-list ic-preview-item {
	position:				relative;
	display:				block;
	min-height:				5rem;
	margin:					0rem -1rem;
	padding:				0.5rem 1rem;
}


ic-search-result-list ic-preview-item:active,
ic-search-result-list ic-preview-item.active {
	background-color:		rgba(0,0,0,0.1);
}

ic-search-result-list ic-preview-item .content {
	display:				block;
	margin-left:			4rem;
	padding:				0;
	white-space: 			normal;
}

ic-search-result-list ic-preview-item .content .title{
	line-height:			1.2rem;
	max-height:				2.4rem;
	overflow:				hidden;
} 

ic-search-result-list ic-preview-item .content .brief{
	font-size:				0.85rem;
	line-height:			1.25rem;
	max-height:				2.5rem;
	color:					#666;
	overflow:				hidden;
} 

ic-search-result-list ic-preview-item .icon {
	position:				absolute;
	display:				block;
	top:					0.5rem;
	left:					1rem;
	margin-top:				0.25rem;
	height:					3rem;
	width:					3rem;
	border-radius:			3rem;
	background-size:		2.5rem;
	background-position: 	50% 50%;
	background-repeat:		no-repeat;	
}




/* ic-search-term */

ic-search-term {
	position:				relative;
	display:				block;
}

ic-search-term > div {
	position:				relative;
	line-height:			2rem;
	height:					2rem;
	font-size:				1rem;
	color:					#3C3C3C;
	font-weight:			500;
	text-align:				center;
}

ic-search-term button {
	display:				inline-block;
	position:				absolute;
	top:					0;
	top:					50%;
	right:					0;
	width:					2rem;
	height:					2rem;
	margin-top:				-1rem;
	background-position:	50% 50%;
	box-shadow:				none;
	background-color:		transparent;
	border-radius:			100%;
}












/* ic-full-item */

ic-full-item {
	display:				block;
	background:				#fff;
}




ic-full-item ic-spinner {
	font-size:				3rem;
}

ic-full-item h2 {
	font-weight:			500;
	font-size:				1.5rem;
	margin:					0.5rem 0;
	line-height:			1em;
}


ic-full-item h3 {
	font-size:				1.5rem;
	font-weight:			300;
	margin:					0.5rem 0;
	line-height:			1em;
}

ic-full-item .topics-and-target-groups {
	font-size:				0.875rem;
}


ic-full-item .topics-and-target-groups a:after{
	content:				',';
}

ic-full-item .topics-and-target-groups a:last-child:after{
	content:				'';
}

ic-full-item img {
	display:				block;
	width:					100%;
	height:					auto;
	margin:					2rem 0;
}

ic-full-item footer .tools{
	display:				block;
	margin-top:				5rem;
	margin-bottom:			2rem;
}

ic-full-item footer .tools > a {
	display:				inline-block;
	text-align:				center;
	padding:				0 1rem;
	margin-right:			1rem;
	line-height:			2rem;
	box-shadow:				0 0 0 1px #666;
}


ic-full-item qrcode {
	display:				inline-block;
	margin:					5rem 0;
	width:					10rem;
	cursor:					pointer;
}

ic-full-item qrcode > *{
	display:				block;
	width:					100%;
	margin:					auto;
}




/* full-item edit */

ic-item-edit {
	display:				block;
	margin-bottom:			3rem;
}

ic-item-edit label {
	display:				block;
	font-size:				1.1rem;
	margin:					1rem 0;
}

ic-item-edit label .current-value {
	display:				block;
	font-size:				0.9rem;
	opacity:				0.5;
	padding-left:			1rem;
	margin:					0.5rem 0;
}

ic-item-edit label input {
	display:				block;
	box-sizing:				border-box;
	background-color:		#eee;
	font-size:				1rem;
	line-height:			2rem;
	width:					100%;
	padding:				0 1rem;
	margin:					0.5rem 0;
}

ic-item-edit label textarea {
	display:				block;
	box-sizing:				border-box;
	width:					100%;
	background-color:		#eee;
	padding:				0.5rem 1rem;
	margin:					0.5rem 0;
	border:					0 none;
	font-family:			Roboto, sans-serif;
}






/* ic-unavailable */
ic-unavailable {
	display:				block;
	position:				absolute;
	top:					0;
	left:					0;
	right:					0;
	left:					0;
	bottom:					0;
	background-image:		url('/images/icon_interface_unavailable.svg');
	background-repeat:		no-repeat;
	background-position:	50% 50%;
	background-size:		50% auto;
}




/* ic-info-tag */

ic-info-tag {
	display:				block;
	position:				relative;
	margin:					2rem 0;
}

ic-info-tag .icon {
	position:				absolute;
	background-color:		transparent;
	height:					2rem;
	width:					2rem;
	margin:					0 0.5rem;
}

ic-info-tag .icon img{
	max-height:				100%;
	max-width:				100%;
	display:				block;
	margin:					0;
	width:					100%;
}

ic-info-tag .title {
	font-weight:			700;
	margin-left:			4rem;
	line-height:			1.5rem;
} 

ic-info-tag .content {
	margin-left:			4rem;
	line-height:			1.5rem;
}



/* scrollbump */

[ic-scroll-bump] .bumper {
	background-color:				#888;
	box-shadow:						0 2px 0 -1px #000 inset;
}



ic-filter-interface {
	display:				block;
	margin-bottom:			1rem;
}



ic-filter-interface .controls {
	display:				flex;
	justify-content:		space-between;
}


ic-filter-interface button{
	display:				inline-block;
	flex:					1 0 0;
	min-width:				2rem;
	height:					2rem;
	font-size:				1rem;
	line-height:			2rem;
	text-align:				center;
	padding:				0;
	padding-left:			2rem;

	background-position:	0 50%;
	background-repeat:		no-repeat;
	background-size:		2rem;


	background-color:		#fafafa;
	color:					#444;
	box-shadow:				0 0 0 1px #666 inset;
	overflow:				hidden;
}

ic-filter-interface button + button {
	margin-left:			1rem;
}

ic-filter-interface .panel {
	display:				block;
	padding:				1rem 0;
	margin-top:				0.5rem;
	background-color:		#fafafa;
}

ic-filter-interface .panel > div {
	display:				block;
}

ic-filter-interface .panel a {
	display:				block;
	line-height:			1.2rem;
	padding-left:			1rem;
	padding-top:			0.4rem;
	padding-bottom:			0.4rem;
	cursor:					pointer;
	
	-webkit-user-select:	none;
	-moz-user-select: 		none;
	-ms-user-select: 		none;
	user-select: 			none;
}

ic-filter-interface .panel {
	margin-top:				1rem;
}


ic-filter-interface .panel a.disabled {
	text-decoration: 		line-through !important;
}

ic-filter-interface .panel.filter a{
	padding-left:			3rem;
	background-position:	0 50%;
	background-size:		2rem auto !important;
	background-repeat:		no-repeat;
} 









ic-quick-filter {
	display:				flex;
}

ic-quick-filter a {
	height:					3rem;
	line-height:			3rem;
	flex:					1 0 1rem;
	border-bottom:			0.3rem solid transparent;
	background-position:	0% 50%;
	background-size:		3rem;
	padding-left:			2rem;
	background-repeat:		no-repeat;
	cursor:					pointer;
	text-align:				center;
}


ic-quick-filter a:not(.active) {
	border-color:			transparent !important;	
}

ic-quick-filter a:active,
ic-quick-filter a.ic-touched{
	border-color:			#ccc !important;	
	background-color:		transparent !important;
}






ic-horizontal-swipe-list,
[ic-horizontal-swipe-list] {
	position:				relative;
}



ic-horizontal-swipe-list > button,
[ic-horizontal-swipe-list] > button {
	position:				absolute;
	display:				block;
	top:					50%;
	height:					2rem;
	width:					2rem;
	background-repeat:		no-repeat;
	background-position:	50% 50%;
	background-size:		1rem;
	margin-top:				-2rem;
	z-index:				99;
	background-color:		transparent;
	border-radius:			100%;
}


.XS ic-horizontal-swipe-list > button,
.S  ic-horizontal-swipe-list > button,
.XS [ic-horizontal-swipe-list] > button,
.S  [ic-horizontal-swipe-list] > button{
	display:				none;
}


ic-horizontal-swipe-list > button.left,
[ic-horizontal-swipe-list] > button.left{
	left:					0;
	background-image: 		url(/images/icon_interface_previous.svg);
}

ic-horizontal-swipe-list > button.right,
[ic-horizontal-swipe-list] > button.right{
	right:				0;
	background-image: 		url(/images/icon_interface_next.svg);
}



/* overlays  */

ic-overlays {
	position:				fixed;
	display:				block;
	top:					0;
	left:					0;
	right:					0;
	bottom:					0;
	overflow-x:				hidden;
	overflow-y:				auto;
	z-index:				99999;
	background:				rgba(0,0,0,0.5);	
	transition-property:	background-color;
	transition-duration:	400ms;
}

ic-overlays.ic-hide {
	background:				rgba(0,0,0,0);		
	transform:				translateX(-100%);
}

ic-overlays > * {
	position:				absolute;
	transform:				translateX(0);
	top:					0;
	display:				block;
	min-height:				100%;
	width:					20rem;
	padding:				1rem;
	height:					100%;
	overflow-x:				hidden;
	overflow-y:				auto;
	box-sizing:				border-box;
	transition-property:	transform;
	transition-duration:	400ms;
}

ic-overlays > .static {
	position:				fixed;
	top:					0;
	left:					0;
	right:					0;
	bottom:					0;
	width:					auto !important;
	height:					auto !important;
}

ic-overlays > .left {
	left:					0;
}

ic-overlays > .right {
	right:					0;
}

ic-overlays > .ic-hide.left {
	opacity:				0;
	transform:				translateX(-100%);
}

ic-overlays > .ic-hide.right {
	opacity:				0;
	transform:				translateX(100%);
}

ic-overlays.ic-hide .ic-hide {
	display:				block !important;
}


ic-overlays .black {
	background-color:		rgba(0,0,0,0.5);	
}

ic-overlays .white {
	background-color:		#fff;
}

ic-overlays .white  a {
	display:				block;
	line-height:			3rem;
	border-bottom:			1px solid rgba(0,0,0,0.3);
}


ic-overlays .white >  header {
	padding:				0 1rem;
}

ic-overlays .white  a {
	white-space:			nowrap;
	display:				block;
}

ic-overlays .white  a > * {
	display:				inline-block;
	vertical-align:			top;
}

ic-overlays .white  a > .icon {
	display:				inline-block;
	height:					3rem;
	width:					3rem;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
	background-size:		2rem;
	vertical-align:			middle;
}

ic-overlays .white  a > .icon + * {
	display:				inline-block;
	vertical-align:			middle;
	line-height:			1.5;
}


ic-overlays .expand {
	background-position:	100% 50%;
	background-repeat:		no-repeat;
}


ic-language-menu  a  .native {
	display:				inline-block;
	width:					8rem;
}

ic-language-menu  a  .translation {
	display:				inline-block;
	width:					8rem;
}


ic-overlays .qrcode {
	display:				block;
	position:				absolute;
	padding:				0;
	color:					#fff;
}

ic-overlays .qrcode > qrcode > * {
	position:				absolute;
	display:				block;
	width:					20rem;
	height:					20rem;
	top:					50%;
	margin-top:				-10rem;
	left:					50%;
	margin-left:			-10rem;
}

ic-overlays .qrcode > div {
	position:				absolute;
	display:				block;
	top:					50%;
	margin-top:				12rem;
	text-align:				center;
	left:					0;
	right:					0;
}

ic-main-menu h2 a {
	box-shadow:				none !important;
	border:					none !important;
}

ic-main-menu ic-search {
	margin-bottom:			1rem;
}