.screen-only {
	display:			none;
}


body, 
html {
	overflow:			auto;
	font-size:			initial !important;
	height:				100%;
}


body header {
	display:			none;
}

body ic-overlays {
	display:			none;
}


 
body #content {
	height:				100%;
}

body #content > * {
	display:			none !important;
	width:				auto;
}

body #content > .item {
	display:			block !important;
}






body #content {
	position:			relative;
	top:				0;
	left:				0;
}


body #content > section {
	width:				auto !important;
	overflow:			visible !important;
	padding:			0;
}

body #content > section > * {
	width:				auto !important;
}



body #content ic-full-item {
	position:			absolute;
	padding-top:		3rem;
	top:				0;
	bottom:				0;
	left:				0;
	right:				0;
}

body #content ic-full-item > * {
	height:				100%;
}


body #content ic-full-item h2,
body #content ic-full-item h3,
body #content ic-full-item .type,
body #content ic-full-item .description {
	width:				48% !important;
}

body #content ic-full-item .topics-and-target-groups,
body #content ic-full-item .url{
	width:				40% !important;
}


body #content ic-full-item ic-spinner,
body #content ic-full-item .state,
body #content ic-full-item .hero,
body #content ic-full-item hr {
	display:			none;
}



body #content ic-full-item .topics-and-target-groups{
	display:			block;
	position:			absolute;
	top:				0;
	right:				0;
	line-height:		2rem;
	font-size:			1.1rem;
	color:				#000 !important;
	font-weight:		500 !important;
	margin:				0;
	border-top:			0.3rem solid #000;
}

body #content ic-full-item .topics-and-target-groups * {
	color:				#000 !important;
}


body #content ic-full-item .topics-and-target-groups img{
	display:			block;
	margin:				0 auto;
	width:				10rem;
	height:				10rem;
}


body #content ic-full-item .type {
	position:			absolute;
	display:			block;
	top:				0;
	left:				0;
	border-top:			0.3rem solid #000;
	line-height:		2rem;
	font-size:			1.1rem;
	color:				#000 !important;
	font-weight:		500 !important;
}



body #content ic-full-item .description {
	position:			absolute;
}


body #content ic-full-item ic-info-tag {
	display:			block;
	box-sizing:			border-box;
	width:				100%;
	margin:				1.5rem 0;
	padding-left:		60%;
}

body #content ic-full-item ic-info-tag:nth-of-type(1){
	margin-top:			5rem;
}

body #content ic-full-item ic-info-tag .title{
	padding-top:		0.5rem;
	border-top:			1px solid #000;
	margin-left:		0;
}

body #content ic-full-item ic-info-tag .content {
	margin-left:		0;
	color:				#444 !important;
	font-size:			0.85em;
	font-weight:		300;
	line-height:		1.4em;
}
body #content ic-full-item ic-info-tag .content a {
	color:				#444 !important;
}

body #content ic-full-item ic-info-tag .icon {
	margin-top:			0.5rem;
	margin-left:		-3rem;
}


body #content ic-full-item  qrcode {
	display:			block;
	width:				20%;
	margin-top:			3rem;
	margin-bottom:		1rem;
	margin-left:		70%;
	margin-right:		10%;
} 

body #content ic-full-item .link-to-item {
	position:			absolute;
	display:			block;
	width:				40%;
	margin-top:			1rem;
	margin-bottom:		0;
	margin-left:		60%;
	margin-right:		0%;
	text-align:			center;
}

body #content ic-full-item .logo{
	display:			block;
	position:			absolute;
	font-size:			1.4rem;
	left:				0;
	bottom:				0;
	margin-bottom:		0 !important;
	margin-right:		auto;
	font-weight:		300;
}

body #content ic-full-item .url{
	position:			absolute;
	bottom:				0;
	right:				0;
}

body #content ic-full-item  footer {
	float:				none;
	clear:				both;
} 

body #content ic-full-item  footer * {
	display:			none;
}


ic-header {
	display:			none !important;
}