html,
body {
	padding:			0;
	margin:				0;
	height:				100%;
	font-family:		sans-serif;
}

body {
	overflow-y:			hidden;
	overflow-x:			hidden;
}










/* common */
a {
	outline:			none !important;
	border:				none !important;
	text-decoration:	none !important;
	color:				inherit;
}

input,
button {
	display:			inline-block;
	padding:			0;
	margin:				0;
	border:				none;
	border-radius:		none;
	outline:			none;
	background-color:	rgba(0,0,0,0.1);
	box-shadow:			0 -2px 0 0 rgba(0,0,0,0.1) inset;
	line-height:		2rem;
	height:				2rem;
	font-size:			1rem;
	text-align:			center;
	vertical-align:		middle;
}










/*cdLayout */



cd-container {
	position:				relative;
	height:					100%;
	background:				#aad;
	overflow:				hidden;
	white-space: 			nowrap;
}

cd-container > * {
	height:					100%;
	display:				inline-block;
	max-width:				22rem;
	overflow-y:				hidden;
	overflow-x:				hidden;
	background-color:		#fff;
}

cd-container > * > .content {
	width:					22rem;
	height:					10rem;
	background-color:		rgba(0,0,0,0.1);
	box-shadow:				0 0 0 1px #000 inset;
}

cd-container > *:hover {
	overflow-y:				scroll;
}


cd-container > *:first-child{
	max-width:				10rem;
}





/* hzScroll */

[hz-scroll] {
	overflow-x:				hidden !important;
}

[hz-scroll]:hover {
	overflow-x:				scroll !important;
}











ic-header {
	display:				block;
	line-height:			3rem;
	max-height:				3rem;
}

ic-header .icon{
	display:				inline-block;
	font-size:				2rem;
	height:					2rem;
	width:					2rem;
	margin:					0 1rem;
	line-height:			2rem;
	vertical-align:			middle;
}












/* logo */


.logo {
	width:					16rem;
	padding:				3rem 2rem;
	margin:					0 1rem;
	font-size:				1.2rem;
}

.logo h1 {
	margin:					0;
	font-weight:			bold;
	margin-bottom:			1rem;
}

.logo h2 {
	margin:					0;
	white-space: 			normal;
	font-weight:			normal;
	font-size: 				1rem
}






/* pages */

.page{
	width:					22rem;
	background:				#fff;
}






/* tiles */

.tiles {
	display:				block;
	margin:					0 0.5rem;
	white-space: 			normal;
}

.tiles[hz-scroll] {
	max-height:				12rem;
}

.tiles a {
	display:				inline-block;
	margin:					0.5rem;
	width:					9.5rem;
	height:					11rem;
	background-color:		rgba(0,0,0,0.3);
	vertical-align:			middle;
}

.tiles a.active {
	background-color:		rgba(20, 20, 180, 0.6);
}










/* ic-result-list */

ic-search-result-list {
	display:				block;
	width:					20rem;
	padding:				0 1rem;
	background:				#fff;
}


ic-search-result-list  button {
	display:				block;
	width:					20rem;
	min-height:				4rem;
	padding:				0;
	margin:					0;
	background-color:		transparent;
	border:					0;
	border-radius:			0;
	overflow: 				hidden;
	
}

ic-search-result-list .result-group {
	line-height:			3rem;
	margin:					0;
	box-shadow:				0 0.2em 0 0 rgba(0,0,0,0.3) inset;
	cursor:					pointer;
}


ic-search-result-list ic-preview-item {
	position:				relative;
	display:				block;
	height:					5rem;
	box-shadow: 			0 1px 0 0 #000 inset;
}

ic-search-result-list ic-preview-item.active {
	background-color:		rgba(0,0,0,0.1);
}

ic-search-result-list ic-preview-item .content {
	display:				block;
	margin-left:			5rem;
	white-space: 			normal;
	padding:				0.5rem 0;
}

ic-search-result-list ic-preview-item .content .title{
	line-height:			1.5rem;
} 

ic-search-result-list ic-preview-item .content .details{
	font-size:				0.85rem;
	line-height:			1.25rem;
	max-height:				2.5rem;
	overflow:				hidden;
} 

ic-search-result-list ic-preview-item .icon {
	position:				absolute;
	display:				block;
	top:					0;
	left:					0;
	margin:					1rem;
	height:					3rem;
	width:					3rem;
	border-radius:			3rem;
	background-color:		#ccc;
	line-height:			3rem;
	text-align:				center;
}




/* ic-full-item */

ic-full-item {
	display:				block;
	position:				relative;
	width:					20rem;
	padding:				1rem;
	background:				#fff;
}