* {
	-webkit-font-smoothing: 	antialiased;
	-moz-osx-font-smoothing: 	grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


html{
	font-family:		Roboto, sans-serif;
}

/* common  MAYBE outsource to extra css*/
a {
	outline:			none !important;
	text-decoration:	none !important;
	color:				inherit;
	cursor:				pointer;
}

.ic-touched {
	background-color:	rgba(0,0,0,0.1) !important;
}

input, 
button, 
button:active {
	display:			inline-block;
	border:				none;	
}

button {
	cursor:				pointer;
	outline:			none !important;
}

button:active,
button.ic-touched {
	background-color:	rgba(0,0,0,0.2) !important;
}

button::-moz-focus-inner {
	border:				0;
	padding:			0;
}


h1,h2,h3,h4,h5,h6 {
	font-weight:			500;
}



hr {
	display:				block;
	height:					1px;
	width:					auto;
	border:					none;
	background-color:		rgba(0,0,0,0.2);
	margin:					0.75rem 0;
}

hr + hr {
	display:				none;
}


[disabled] {
	opacity:				0.4 !important;
}


.iblock {
	display:				inline-block;
}


.ic-touch-fade {
	transition-duration:	400ms;			
	transition-property:	border, background-color;
}




/* aligns */

.fleft {
	float:					left;
}

.fright {
	float:					right;
}

.xjust{
	display:				flex !important;
	justify-content:		space-between;
}



/* weight */

.light{
	font-weight:			300;
}


/* size */

.small {
	font-size:				0.9em;
}



/* icons */


.icon-nav-menu {
	background-image:		url(/images/icon_nav_menu.svg);
}

.icon-nav-language {
	background-image:		url(/images/icon_nav_lang.svg);
}

.icon-nav-close {
	background-image:		url(/images/icon_nav_close.svg);
}

.icon-nav-search {
	background-image:		url(/images/icon_nav_search.svg);
}



.icon-type-information.white{
	background-image:		url(/images/icon_type_information_white.svg);
}

.icon-type-services.white{
	background-image:		url(/images/icon_type_services_white.svg);
}

.icon-type-places.white {
	background-image:		url(/images/icon_type_places_white.svg);
}

.icon-type-events.white {
	background-image:		url(/images/icon_type_events_white.svg);
}



.icon-type-information.color{
	background-image:		url(/images/icon_type_information_color.svg);
}

.icon-type-services.color{
	background-image:		url(/images/icon_type_services_color.svg);
}

.icon-type-places.color {
	background-image:		url(/images/icon_type_places_color.svg);
}

.icon-type-events.color {
	background-image:		url(/images/icon_type_events_color.svg);
}


.icon-topic-city.white {
	background-image:		url(/images/icon_topic_city_white.svg);
}

.icon-topic-education.white {
	background-image:		url(/images/icon_topic_education_white.svg);
}

.icon-topic-health.white {
	background-image:		url(/images/icon_topic_health_white.svg);
}

.icon-topic-leisure.white {
	background-image:		url(/images/icon_topic_leisure_white.svg);
}

.icon-topic-social.white {
	background-image:		url(/images/icon_topic_social_white.svg);
}

.icon-topic-work.white {
	background-image:		url(/images/icon_topic_work_white.svg);
}











.icon-interface-arrow-up {
	background-image:		url(/images/icon_interface_arrow_up.svg);	
}

.icon-interface-arrow-down {
	background-image:		url(/images/icon_interface_arrow_down.svg);	
}

.icon-interface-arrow-left {
	background-image:		url(/images/icon_interface_arrow_left.svg);	
}

.icon-interface-arrow-right {
	background-image:		url(/images/icon_interface_arrow_right.svg);	
}

.icon-interface-checkbox-selected {
	background-image:		url(/images/icon_interface_checkbox_selected.svg);	
}

.icon-interface-checkbox {
	background-image:		url(/images/icon_interface_checkbox.svg);	
}

.icon-interface-radio-selected {
	background-image:		url(/images/icon_interface_radio_selected.svg);	
}

.icon-interface-radio {
	background-image:		url(/images/icon_interface_radio.svg);	
}


.icon-interface-close {
	background-image:		url(/images/icon_interface_close.svg);	
}




.icon-interface-print {
	background-image:		url(/images/icon_interface_print_black.svg);	
}

.icon-interface-share {
	background-image:		url(/images/icon_interface_share_black.svg);	
}

.icon-interface-edit {
	background-image:		url(/images/icon_interface_edit_black.svg);	
}



.icon-interface-print.highlight {
	background-image:		url(/images/icon_interface_print_orange.svg);	
}

.icon-interface-share.highlight {
	background-image:		url(/images/icon_interface_share_orange.svg);	
}

.icon-interface-edit.highlight {
	background-image:		url(/images/icon_interface_edit_orange.svg);	
}





/* Colors */


.highlight {
	color:					#f27020;
}



.text-blue {
	color:					#62a7d5;
}

.text-orange {
	color:					#f27020;
}

.text-yellow {
	color:					#fec300;
}

.text-purple {
	color:					#7c51a2;
}






.bg-blue {
	background-color:		#62a7d5;
}

.bg-orange {
	background-color:		#f27020;
}

.bg-yellow {
	background-color:		#fec300;
}

.bg-purple {
	background-color:		#7c51a2;
}





.border-blue {
	border-color:			#62a7d5;
}

.border-orange {
	border-color:			#f27020;
}

.border-yellow {
	border-color:			#fec300;
}	

.border-purple {
	border-color:			#7c51a2;
}













/* todo */


.text-primary {
	color:					#f80;
}





